
<label id="lblcombooperario" for="choose_operario">Operarioa :&nbsp;</label>
	<select id="choose_operario" name="operario_id">
		<option value="0">{{"Selecciona operario:"|trans}}</option>
			{% for operario in operarios %}
				<option value="{{operario.id}}">{{operario.apellidos}}, {{operario.nombre}}</option>
			{% endfor %}
	</select>

<script type="text/javascript">
    $('#choose_operario').change(function(event) {
        $("#divproy").fadeIn();
    });
</script>