<select name="operario_id" id="select_operario" class="medium">
	<option value="0">{{"Selecciona" |trans }}</option>
		{% for operario in operarios %}
			<option value="{{ operario.id }}" {% if operario.id == operario_id %} selected {% endif %}>{{ operario.apellidos }}, {{ operario.nombre }}</option>
		{% endfor %}
</select> 