<select name="operacion" id="operacion" class="medium">
	<option value="0">{{"Todos" | trans }}</option>
	{% for operacion in operaciones %}
		<option value="{{operacion.id}}" {% if operacion.id == operacion_id %} selected {% endif %}>{{ operacion.nombre }}</option>
	{% endfor %}
</select>