{% extends "GitekUdaBundle::entrenamiento.html.twig" %}

{% block contenido %}
	{% block formacion %}
		{% for detentrenamiento in detentrenamientos %}
			{% include 'GitekUdaBundle:Detentrenamiento:play.html.twig' %}
		{% endfor %}
		<div class="clearfix"></div>
		<div class="paginator">
			{# PAGINATOR #}
			{% if paginator.currentPage < paginator.lastPage %}

				<form id="frmpaginator" action="{{ path('historial_check', {'mihistorial_id':mihistorial_id,'page': paginator.nextPage}) }}" method="post" accept-charset="utf-8">

					<div id="divsiguiente" style="display:none;">
			           	<a href="#" id="btnsiguiente">
			             	<img id="imgsiguiente" src="{{asset('/bundles/gitekuda/img/siguiente.png')}}" alt="Siguiente" />
			            </a>
					</div><!-- #divsiguiente -->

					<div id="divcomprobar">
			           	<a href="#" id="btncomprobar">
			              	<img style="display:none;" id="imgcomprobar" src="{{asset('/bundles/gitekuda/img/comprobar133x133.png')}}" alt="comprobar">
			           	</a>
					</div>

					<div id="divcorrectoincorrecto" style="display:none;">
			          	<div id="divcorrecto">
			              	<a href="#" id="btncorrecto">
			                	<img id="imgcorrecto" src="{{ asset('/bundles/gitekuda/img/correcto133x133.png') }}">
							</a>
			          	</div><!-- #divcorrecto -->
			            <div id="divincorrecto">
			            	<a href="#" id="btnincorrecto">
			        	       	<img id="imgincorrecto" src="{{ asset('/bundles/gitekuda/img/incorrecto133x133.png') }}">
			        	    </a>
			            </div><!-- #divincorrecto -->
					</div><!-- #divcorrecto -->

					<input type="hidden" id="midethistorial_id" name="midethistorial_id" 	value="-1" >
					<input type="hidden" id="respuesta"         name="respuesta"            value="-1" >
					<input type="hidden" id="hirugarrenariketa"	name="hirugarrenariketa"	value="-1" >
         		</form>

	 		{% else %}

				<form id="frmpaginator" action=" {{ path('historial_fin' , {'mihistorial_id':mihistorial_id,'page': paginator.nextPage}) }}" method="post" accept-charset="utf-8">

					<div id="divcomprobar">
			           	<a href="#" id="btncomprobar">
			              	<img style="display:none;" id="imgcomprobar" src="{{asset('/bundles/gitekuda/img/comprobar133x133.png')}}" alt="comprobar">
			           	</a>
					</div>
					<div id="divsiguiente" style="display:none;">
			           	<a href="#" id="btnsiguiente">
			             	<img id="imgsiguiente" src="{{asset('/bundles/gitekuda/img/siguiente.png')}}" alt="Siguiente" />
			            </a>
					</div><!-- #divsiguiente -->

					<div id="divcorrectoincorrecto" style="display:none;">
			          	<div id="divcorrecto">
			              	<a href="#" id="btncorrecto">
			                	<img id="imgcorrecto" src="{{ asset('/bundles/gitekuda/img/correcto133x133.png') }}">
							</a>
			          	</div><!-- #divcorrecto -->
			            <div id="divincorrecto">
			            	<a href="#" id="btnincorrecto">
			        	       	<img id="imgincorrecto" src="{{ asset('/bundles/gitekuda/img/incorrecto133x133.png') }}">
			        	    </a>
			            </div><!-- #divincorrecto -->
					</div><!-- #divcorrecto -->


					<input type="hidden" id="midethistorial_id" name="midethistorial_id" 	value="-1" >
					<input type="hidden" id="respuesta"         name="respuesta"            value="-1">

				</form>

	 		{% endif %}



		</div>
			<div class="clearfix"></div>
			<div id="divopciones" style="display:none;" class="kk">
				<div id="divimgopt">

					<div id="divreintentar">
						<form id="frmreintentar"
						action="{{ path('historial_reintentar', {'mihistorial_id':mihistorial_id, 'mipage':paginator.currentpage }) }}"
						 method="post">
							<a href="#" id="btnreintentar">
								<img id="imgreintentar" src="{{ asset('/bundles/gitekuda/img/reintentar.png') }}">
							</a>
							<input type="hidden" id="reintentar_midethistorial_id" name="reintentar_midethistorial_id" value="-1">
						</form>
					</div><!-- #divreintentar -->

					<div id="divd16">
						<form id="frmd16"
						action="{{ path('historial_d16', {'mihistorial_id':mihistorial_id, 'mipage':paginator.currentpage }) }}"
						method="post">
							<a href="#" id="btnd16">
								<img id="imd16" src="{{ asset('/bundles/gitekuda/img/d16.png') }}">
							</a>
							<input type="hidden" id="d16_midethistorial_id" name="d16_midethistorial_id" value="-1">
						</form>
					</div><!-- #divd16 -->


					<div id="divsolucion">
						<form id="frmsolucion"
						action="{{ path('historial_solucion', {'mihistorial_id':mihistorial_id, 'mipage':paginator.currentpage }) }}"
						method="post">
							<a href="#" id="btnsolucion">
								<img id="imgsolucion" src="{{ asset('/bundles/gitekuda/img/solucion.png') }}">
							</a>
							<input type="hidden" id="solucion_midethistorial_id" name="solucion_midethistorial_id" value="-1">
						</form>
					</div><!-- #divsolucion -->
					<div class="clearfix"></div>
				</div><!-- #divimgopt -->

			</div><!-- #divopciones -->

		</div><!-- .paginator -->



	{% endblock %}

	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

		// Mostramos ventana de error con las opciones
		var mianchor = window.location.hash.toString();
		var mierror = mianchor.substring(1,mianchor.length);

		if ( (mierror != "") && ( mierror != "d16") && ( mierror !="solucion")  ) {
			$('#divmensajeincorrecto').show();
			$('#btncomprobar').hide();
			$('#btncorrecto').hide();
			$('#btnincorrecto').hide();
			$('#divopciones').show();
		}


	$(".resp").click(function(e){

		$('.resp').children().removeClass('seleccionado');

		var misel = e.target;

		$(misel).addClass("seleccionado");
		$('#divpregunta').hide();

		var correcto = $('.seleccionado').parent().attr("rel");

		if ( correcto == 1 ) { //
			$('#div-emoyi-correcto').show();
			$('#divsiguiente').show();
		} else {
			//ocultamos la pregunta
			var midet = $('#midethistorial_id').val();
			var resp  = $('#respuesta').val();
			if ( ( midet == "-1" ) || ( resp == "-1" ) ) {
				alert("Selecciona la imagen correcta.")
				return false
			}

		   	var $mivalor = $('#midet').val();
       		var $url =" {{ path('pulsakoajax') }}";

        	$.post($url, { midethistorial_id: $mivalor }
            	,function(data) {
            		$('#divsiguiente').show();
					$('#div-emoyi-incorrecto').show();
		        	// 2-. ocultamos el boton correcto
					$('#btncomprobar').hide();
					$('#btncorrecto').hide();
					$('#btnincorrecto').hide();
					$('#divopciones').show();
					if (screen.width==1024) {
						$('#divopciones').addClass("fix1024");
						$('#footer').hide();
					}
            	}
        	);
		}
		$('.resp').unbind('click');
		return false
		// e.preventDefault();

	});


	$('#btnsiguiente').click(function(e){

		var midet = $('#midethistorial_id').val();
		var resp  = $('#respuesta').val();

		if ( ( resp == "-1" ) ) {
			alert("Selecciona la imagen correcta.")
			return false
		}

		$('#frmpaginator').submit();

		return false

	});

	// Correcto/Incorrecto
	var erakutsi = $('#muestradivcorrectoincorrecto').val();
	if ( erakutsi == "1" ) {
		$('#divcomprobar').hide();
		$('#divcorrectoincorrecto').show();
	}



	$('#btnreintentar').click(function(e){
		var iiid = $('#midet').val();
		$('#reintentar_midethistorial_id').val(iiid);
		$('#frmreintentar').submit();
	});

	$('#btnd16').click(function(e){
		var iiid = $('#midet').val();
  		$('#d16_midethistorial_id').val(iiid);

  		//sumamos por ajax
  		var $mivalor = $('#d16_midethistorial_id').val()
  		var $url = $('input#miruta').val();

  		$.post($url, { midethistorial_id: $mivalor },
	   	  	function(data) {
			   	$("#nirefancy").fancybox({
				// 	// 'width'         : '90%',
				 	'height'	: '450px',
				// 	// 'transitionIn'  : 'elastic',
				// 	// 'transitionOut' : 'elastic',
				// 	'type'		:'inline',
				 	'autoDimensions': true,
				 	'autoScale'	: true,
                    'scrolling'	: 'no',
				 	'titleShow'	: true
				}).trigger('click');
  			}
  		);

  		return false
	});

	$('#btnsolucion').click(function(e){


		// 1-. Sumar a PulsaSolucion +1
	   	var $mivalor = $('#midet').val();
     	var $url =" {{ path('solucionajax') }}";


     	$.post($url, { midethistorial_id: $mivalor },
         	 function(data) { $('#divsiguiente').show(); }
        );

		// 2-. Mostramos la solución
		$('.resp').each(function(index) {

				var resul = $(this).attr( 'rel' );

				if ( resul == "0" ) {
					$(this).children().addClass("divsolucionincorrecto");
				} else {
					$(this).children().addClass("divsolucioncorrecto");
				}

		});

    	// 3-. ocultamos el boton correcto
    	$('#btncomprobar').hide();
    	$('#btncorrecto').hide();
     	$('#btnincorrecto').hide();

		// 4-. Mostramos botón siguiente
		$('#divopciones').hide();


		// 5-. mostramos la imagen correcta
		var imgok = $('#oculto4').val();
		$('#imagenmostrar').attr("src",imgok);
		$('#imagenmostrar').attr("rel","1");

		// 6-. añadir recuadro correcto
		$('#imagenmostrar').addClass("divsolucioncorrecto");

		$('#respuesta').val("1");
		//$('#midethistorial_id').val("1");

	});
});
	</script>


{% endblock %}