{% extends "GitekUdaBundle::frontend.html.twig" %}


{% block header %}

	<div class="topbar-wrapper">
		<div class="topbar">
				<div class="tituloa">
					<div class="tituloh1">
						<h1>Herramienta Apoyo a la Formación</h1>
					</div><!-- .tituloh1 -->
				</div><!-- .tituloa -->
		</div>
	</div><!-- .topbar-wrapper -->

{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">

			<div class="curso_titulo">
				<span>{{ curso.nombre }}</span>
			</div><!-- .curso_titulo -->
		</div><!-- row -->
		<div class="row">
			<div class="divmenu">
					<div class="span-one-third">
						<form action="{{ path('hautatu') }}" method="post" accept-charset="utf-8" class="form-stacked" id="frm_formacion">
							<div class="divOptFormacion">
								<label for="btn_formacion" class="giteklabel" >Formación</label>
								<input class="imgboton" type="image" name="btn_formacion" src="{{ asset('bundles/gitekuda/img/formacion.png') }}">
							</div><!-- .divOptFormacion -->
							<input type="hidden" name="taller_id" value="{{taller_id}}" />
							<input type="hidden" name="operario_id" value="{{operario_id}}" />
							<input type="hidden" name="curso_id" value="{{curso_id}}" />
						</form>
					</div><!-- .divboton -->

					<div class="span-one-third">
						<form action="{{ path('entranamentuak') }}" method="post" accept-charset="utf-8" class="form-stacked">
							<div class="divOptEntrenamiento">
								<label for="btn_entrenamiento" class="giteklabel" >Simulación</label>
								<input  class="imgboton" type="image" name="btn_entrenamiento" src="{{ asset('bundles/gitekuda/img/entrenamiento.png') }}">
							</div><!-- .divOptEntrenamiento -->
							<input type="hidden" name="taller_id" value="{{taller_id}}" />
							<input type="hidden" name="operario_id" value="{{operario_id}}" />
							<input type="hidden" name="curso_id" value="{{curso_id}}" />
						</form>
					</div><!-- .divboton -->

					<div class="span-one-third">
						{% if completado==1 %}
						<form action="{{ path('testak') }}" method="post" accept-charset="utf-8" class="form-stacked">
							<div class="divOptExamen">
								<label for="btn_examen" class="giteklabel" >Validación</label>
								<input  class="imgboton" type="image" name="btn_examen" src="{{ asset('bundles/gitekuda/img/examen.png') }}">
							</div><!-- .divOptExamen -->
							<input type="hidden" name="taller_id" value="{{taller_id}}" />
							<input type="hidden" name="operario_id" value="{{operario_id}}" />
							<input type="hidden" name="curso_id" value="{{curso_id}}" />
						</form>
						{% endif %}
					</div><!-- .divboton -->

			</div><!-- .menu-botones -->

		</div><!-- .row -->

	</div><!-- .container -->

<!-- block body -->
{% endblock %}
