{% extends "GitekUdaBundle::frontend.html.twig" %}

{% block header %}
	<div id="top-header">
		<div id="header-ezkerra">
			<img id="imgformacion" src="{{asset('/bundles/gitekuda/img/formacion.png')}}" alt="Siguiente" />
			<h1>Formacion</h1>
		</div>
		<div id="header-eskuina">
			<h2>Proyecto: {{ app.session.get('curso_nombre') }}</h2>
		</div>
	</div>
{% endblock %}

{% block contenido %}
	{% block formacion %}
	
		<div id="seloperaciones">
			<form action="{{ path('historial_formazioa_play') }}" method="post" accept-charset="utf-8" class="form-stacked" id="frm">

				<ul class="unstyled" id="uloperaciones">
					{% for operacion in operaciones %}
						{% if operacion.formacion.detformaciones.count > 0 %}
							<li>
								<label>
									<input type="checkbox" name="operaciones[]" value="{{operacion.id}} ">
									<span>{{operacion.nombre}}</span>
								</label>				
							</li>						
						{% endif %}		
					{% endfor %}		
				</ul>

			</form>
		</div><!-- #seloperaciones -->

	{% endblock %}
	
	<div id="divfooter">
		
		<div id="divbtnsalir">
			<a href="{{ path('eragiketa') }}">
				<img id="btnsalir"     src="{{asset('/bundles/gitekuda/img/salir64.png')}}" alt="Salir" />
			</a>
		</div>			


		<div id="divbtnsiguiente">
			<a href="#">
				<img id="btnsiguiente" src="{{asset('/bundles/gitekuda/img/siguiente.png')}}" alt="Siguiente" />
			</a>		
		</div>			

	</div>
		
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			
			$('#btnsiguiente').click(function(e) {
				var fields = $("input[name='operaciones[]']").serializeArray(); 
				if (fields.length == 0) { 
		    	alert('Debes seleccionar una operación.'); 
				} else { 
					$("#frm").submit();    
				}
			});
			
		});	
	</script>
	
{% endblock %}

