{% extends "GitekUdaBundle::redesign.html.twig" %}

{% block title %}{{"Mantenimiento de Proyectos" | trans}}{% endblock %}

{% block pageid 'formaciones' %}

{% block pageheader  %}<h1>{{"Resultados" | trans }}</h1>{% endblock %}

{% block sidebar  %}
	<form id="frmTaller" action="{{ path('historial') }}" method="post">
		<ul class="unstyled menuaborde">
			<li>{{"Taller" | trans }}</li>
			<li>
				<select name="taller_id" id="select_taller" class="medium">
					<option value="0">{{"Todos" | trans }}</option>
						{% for taller in talleres %}
							<option value="{{ taller.id }}" {% if taller.id == taller_id %} selected {% endif %}>{{ taller.nombre }}</option>
						{% endfor %}

				</select>
			</li>
			<li>{{"Operario" | trans }}</li>
			<li>
				<div id="divselect_operario">
					<select name="operario_id" id="select_operario" class="medium">
						<option value="0">{{"Todos" |trans }}</option>
							{% for operario in operarios %}
								<option value="{{ operario.id }}" {% if operario.id == operario_id %} selected {% endif %}>{{ operario.apellidos }}, {{ operario.nombre }}</option>
							{% endfor %}
					</select>
				</div>
			</li>
			<li>{{"Proyecto" | trans }}</li>
			<li>
				<select name="curso_id" id="select_curso" class="medium">
					<option value="0">{{"Todos" | trans }}</option>
						{% for curso in cursos %}
							<option value="{{ curso.id }}" {% if curso.id == curso_id %} selected {% endif %}>{{ curso.nombre }}</option>
						{% endfor %}
				</select>
			</li>
			<li>{{"Operación" | trans }}</li>
			<li>
				<div id="select_operaciones">
					<select name="operacion" id="operacion" class="medium">
						<option value="0">{{"Todos" | trans }}</option>
						{% for operacion in operaciones %}
							<option value="{{operacion.id}}" {% if operacion.id == operacion_id %} selected {% endif %}>{{ operacion.nombre }}</option>
						{% endfor %}
					</select>
				</div>
			</li>
			<li>{{"Tipo" | trans }}</li>
			<li>
				<select name="tipo" id="tipo" class="medium">
					<option value="0">{{"Todos" | trans }}</option>
					<option value="Simulación">{{"Simulación" | trans }}</option>
					<option value="Validación">{{"Validación" | trans }}</option>
				</select>
			</li>
			<li>{{"Validación superada" | trans }}</li>
			<li style="text-align:center;"><input type="checkbox" name="aprobado" id="aprobado" value="1" class=""></li>
      <li>&nbsp;</li>
      <li><a id="btnfiltrar" href="#"><img src="{{ asset('/bundles/gitekuda/img/prismaticos.png') }}" alt="Buscar">&nbsp;{{"Buscar"|trans}}</a></li>
  	</ul>

	</form>
{% endblock %}

{% block contenido %}

	<div class="row gutxiena">
<script >
  $(function() {
    $("table#sortTableExample").tablesorter({ sortList: [[8,1]] });
  });
</script>
<table class="zebra-striped" id="sortTableExample">
    <thead>
        <tr>
			<th>{{"Tipo" | trans }}</th>
            <th>{{"Operario" | trans }}</th>
            <th>{{"Taller" | trans }}</th>
			      <th>{{"Proyecto" | trans }}</th>
            <th>{{"Completado" | trans }}</th>
            <th>{{"Validación superada" | trans }}</th>
            <th>{{"Tiempo máximo" | trans }}</th>
            <th>{{"Tiempo realizado" | trans }}</th>
            <th>{{"Fecha" | trans }}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
			<td>{{ entity.tipo }}</td>
            <td>{{ entity.operario.nombre }}</td>
            <td>{{ entity.taller.nombre }}</td>
			<td>{{ entity.curso.nombre }}</td>
            <td>{% if entity.completado == "1" %} Sin errores {% else %} Con errores {% endif %} </td>
            <td>{{ entity.aprobado }}</td>
            <td>{% if entity.tipo == "Examen" %} {{entity.tiempomax}} {% else %} - {% endif %} </td>
            <td>{%if entity.tiempoexamen is not empty %}{{entity.tiempoexamen}}s {% endif %}</td>
            <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <a href="{{ path('historial_show', { 'id': entity.id }) }}" class="btn ">{{"Detalles" | trans}}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<script type="text/javascript" charset="utf-8">
	$('#select_taller').change(function(event) {
		$('#select_operario').fadeOut();
        {#if ($(this).val() === "0"){#}
            {#$('#divselect_operario').html('<div id="divselect_operario"><select name="operario_id" id="select_operario" class="medium"><option value="0">{{"Sel. Taller" |trans }}</option></select></div>');#}
            {#return 0;#}
        {#}#}
		$.ajax({
	        type: "GET",
	        data: "data=" + $(this).val() + "&operario_id= {{operario_id}}",
					cache: false,
	        url:"{{ path('historial_operariostallerfiltro') }}",
	        success: function(msg){
	            if (msg != ''){
	            	$('#divselect_operario').html(msg).show();
	            } else {
					$('#divselect_operario').html('<em>No hay resultados</em>');
				}
	        }
	    });
	    $('#select_operario').fadeIn();
	});



	$('#select_curso').change(function(event) {
		$('#select_operaciones').fadeOut();
//        if ($(this).val() === "0"){
//            $('#select_operaciones').css("visibility", "hidden");
//            return 0;
//        }
		$.ajax({
	        type: "GET",
	        data: "data=" + $(this).val() + "&operacion_id= {{operacion_id}}",
					cache: false,
	        url:"{{ path('historial_operacionescursofiltro') }}",
	        success: function(msg){
	            if (msg != ''){
	            	$('#select_operaciones').html(msg).show();
	            } else {
					$('#select_operaciones').html('<em>No hay resultados</em>');
				}
	        }
	    });
	    $('#select_operaciones').fadeIn();
	});

</script>

{% endblock %}
