{% extends '::portada.html.twig' %}

{% block title %}::Herramienta de Autor::{% endblock %}

{% block body %}

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="{{ path('portada')}}"><a href="#">Inicio</a></li>
          <li><a href="http://www.grupogureak.com/">Grupo Gureak</a></li>
          <li><a href="http://www.grupogureak.com/investigacion-desarrollo-innovacion/sociolaboral/gitek-investigacion-desarrollo-innovacion.aspx">Gitek</a></li>
        </ul>
        <h3 class="muted">Herramienta de Aurtor</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Herramienta de autor</h1>
        <p class="lead">Herramienta web para facilitar mediante elementos desarrollados a tal fin el mantenimiento y configuración de formaciones y test asociados para la formación del usuario en la linea.</p>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="span12">
          La aplicación consta de dos apartados:
        </div>
      </div>

      <div class="row-fluid marketing">
        <div class="span6">
          <h3>Backend</h3>
          <ul>
            <li>Mantenimiento de Cursos</li>
            <li>Mantenimiento de los test</li>
            <li>Historico de resultados de test</li>
          </ul>
          <a href="{{ path('raiz') }}" type="button" class="btn btn-success">Entrar en Backend</a>
        </div>
        <div class="span6">
          <h2>Frontend</h2>
          <ul>
            <li>Selección del usuario desde el ERP de Gureak</li>
            <li>Realizar la formación</li>
            <li>Realizar test y prueba de capacitación</li>
          </ul>
          <a href="{{ path('kaixo') }}" type="button" class="btn btn-success">Entrar en Frontend</a>
        </div>
      </div>

      <hr>

<!--       <div class="row-fluid marketing">
        <div class="span6">
          <h4>Web</h4>
          <p>Permite el acceso a la aplicación desde cualquier dispositivo con un navegador web y acceso a internet</p>

          <h4>Intuitivo</h4>
          <p>Fácil configuración mediante arrastrar y soltar</p>

          <h4>Diseño</h4>
          <p>Simple y uniforme.</p>
        </div>

        <div class="span6">
          <h4>REST</h4>
          <p>API rest para facilitar la comunicación con distintos dispositivos.</p>

          <h4>Técnologias</h4>
          <p>Framework Symfony 2.1.*, jQuery, Bootstrap, y diferentes bundles</p>

          <h4>Android</h4>
          <p>Desarrollo horientado para el consumo mediante tablets Android.</p>
        </div>
      </div>

      <hr> -->

      <div class="footer">
        <p>&copy; Gitek 2012</p>
      </div>

    </div> <!-- /container -->
{% endblock %}