{% extends "GitekUdaBundle::frontend.html.twig" %}

{% block title %}Mantenimiento de Formaciones{% endblock %}

{% block pageid 'formaciones' %}

{% block contenido %}
	<div class="container">
	  	<form action="{{ path('eragiketa') }}" method="post" class="form-stacked" id="formkaixo">
				<div class="row">
					<div class="span3">&nbsp;</div>
					<div class="span3">
					<div class="divcursoseleccion">
						
						<label id="lblcombotaller" for="choose_taller">Taller :&nbsp;</label>
						<select id="choose_taller" name="taller_id">

						</select>	
					</div><!-- .divcursoseleccion -->
				</div>
					<div class="span3">&nbsp;</div>
					<div class="span3">
					<div class="divoperarioselecciona">
						<label id="lblcombooperario" for="choose_operario">Operario :&nbsp;</label>
						<select id="choose_operario" name="operario_id">

						</select>			
					</div><!-- .divoperarioselecciona -->				
				</div>
					<div class="span3">&nbsp;</div>
				</div><!-- #row -->	
				<div class="row">
					<div class="span-one-third">&nbsp;</div>
					<div class="span-one-third">
						<div class="divcursosselecciona">
							<label id="lblcombocurso" for="choose_curso">Curso :&nbsp;</label>
							<select id="choose_curso" name="curso_id">

							</select>
						</div><!-- .divcursosselecciona -->
					</div>
					<div class="span-one-third">&nbsp;</div>				
				</div><!-- #row -->	
				<div class="row">
					<div class="span-one-third">&nbsp;</div>
					<div class="span-one-third">
						<a href="#" id="btn_comenzar" class="btn info">Comenzar</a>
					</div>
					<div class="span-one-third">&nbsp;</div>
				</div><!-- #row -->	
			</form>	
	</div><!-- .container -->

<script type="text/javascript" charset="utf-8">

	

	$('#choose_taller').change(function(event) {
		$('.divoperarioselecciona').fadeOut();
		$.ajax({
	        type: "GET",
	        data: "data=" + $(this).val(),
					cache: false,
	        url:"{{ path('historial_operariostaller') }}",
	        success: function(msg){
	            if (msg != ''){
	            	$('.divoperarioselecciona').html(msg).show();
	            } else {
					$('.divoperarioselecciona').html('<em>No hay resultados</em>');
				}
	        }
	    });
	    $('.divoperarioselecciona').fadeIn();
	});


	$('#btn_comenzar').click(function() {
		
		var mitaller 		= $('#choose_taller').val();
		var mioperario	= $('#choose_operario').val();
		var micurso 		= $('#choose_curso').val();		
		
		if ( mitaller=='0') {
			alert("Seleccione un Taller de la lista.");
			$('choose_taller').focus();
			return false
		} 

		if ( mioperario=='0') {
			alert("Seleccione un Operario de la lista.");
			$('choose_operario').focus();
			return false
		} 

		if ( micurso=='0') {
			alert("Seleccione un Curso de la lista.");
			$('choose_curso').focus();
			return false
		} 

	  $('#formkaixo').submit();			
		
	});
	
</script>

{% endblock %}


