{% extends "GitekUdaBundle::redesign.html.twig" %}

{% block title %}Mantenimiento de Formaciones{% endblock %}

{% block pageid 'formaciones' %}
{% block pagetitle %}{% endblock %}
{% block contenido %}
{% block sidebar %}{% endblock %}
	<div class="container">
	  	<form action="{{ path('eragiketa') }}" method="post" class="form-stacked" id="formkaixo">
				<div class="row">
					<div class="span-one-third">&nbsp;</div>
					<div class="span-one-third">
						<div class="divcursoseleccion">
							<label id="lblcombotaller" for="choose_taller">{{"Taller"|trans}} :&nbsp;</label>
							<select id="choose_taller" name="taller_id">
								<option value="0">{{"Selecciona taller:"|trans}}</option>
								{% for taller in talleres %}
					    			<option value="{{taller.id}}">{{taller.nombre}}</option>
								{% endfor %}
							</select>
						</div><!-- .divcursoseleccion -->
					</div>
					<div class="span-one-third">&nbsp;</div>
				</div><!-- #row -->
				<div id="divope" class="row" style="display:none;" >
					<div class="span-one-third">&nbsp;</div>
					<div class="span-one-third">
						<div class="divoperarioselecciona">
							<label id="lblcombooperario" for="choose_operario">{{"Operario"|trans}} :&nbsp;</label>
							<select id="choose_operario" name="operario_id">
								<option value="0">{{"Selecciona operario:"|trans}}</option>
								{% for operario in operarios %}
							    	<option value="{{operario.id}}">{{operario.apellidos}}, {{operario.nombre}}</option>
								{% endfor %}
							</select>
						</div><!-- .divoperarioselecciona -->
					</div>
					<div class="span-one-third">&nbsp;</div>
				</div><!-- #row -->
				<div id="divproy" class="row" style="display:none;" >
					<div class="span-one-third">&nbsp;</div>
					<div class="span-one-third">
						<div class="divcursosselecciona">
							<label id="lblcombocurso" for="choose_curso">{{"Proyecto"|trans}} :&nbsp;</label>
							<select id="choose_curso" name="curso_id">
								<option value="0">{{"Selecciona proyecto:"|trans}}</option>
								{% for curso in cursos %}
							    <option value="{{curso.id}}">{{curso.nombre}}</option>
								{% endfor %}
							</select>
						</div><!-- .divcursosselecciona -->
					</div>
					<div class="span-one-third">&nbsp;</div>
				</div><!-- #row -->
				<div id="divbtn" class="row" style="display:none;" >
					<div class="span-one-third">&nbsp;</div>
					<div class="span-one-third">
						<a href="#" id="btn_comenzar" class=""><img id="btn_comenzar" src="{{ asset('/bundles/gitekuda/img/play.png') }}" alt="Comenzar"></a>
					</div>
					<div class="span-one-third">&nbsp;</div>
				</div><!-- #row -->
			</form>
	</div><!-- .container -->

<script type="text/javascript" charset="utf-8">

	$('#choose_taller').change(function(event) {
		$('.divoperarioselecciona').fadeOut();
		$.ajax({
	        type: "GET",
	        data: "data=" + $(this).val(),
					cache: false,
	        url:"{{ path('historial_operariostaller') }}",
	        success: function(msg){
	            if (msg != ''){
	            	$('.divoperarioselecciona').html(msg).show();
	            } else {
					$('.divoperarioselecciona').html('<em>No hay resultados</em>');
				}
	        }
	    });
	    $("#divope").show();
	    $('.divoperarioselecciona').fadeIn();
	    // $("#divproy").fadeIn();
	});


	$('#choose_operario').change(function(event) {
		$("#divproy").fadeIn();
	});

	$('#choose_curso').change(function(event) {

		$("#divbtn").fadeIn();
	});

	$('#btn_comenzar').click(function() {

		var mitaller 		= $('#choose_taller').val();
		var mioperario		= $('#choppe').val();
		var micurso 		= $('#choose_curso').val();

		if ( mitaller=='0') {
			alert("Seleccione un Taller de la lista.");
			$('choose_taller').focus();
			return false
		}

		if ( mioperario=='0') {
			alert("Seleccione un Operario de la lista.");
			$('choppe').focus();
			return false
		}

		if ( micurso=='0') {
			alert("Seleccione un Curso de la lista.");
			$('choose_curso').focus();
			return false
		}

	  $('#formkaixo').submit();

	});

</script>

<!-- <div id="divlogos" class="">
	<div id="divlogoleft" class="">
		<img src="{ {asset('/bundles/gitekuda/img/logo-gitek.png')} }" alt="Salir" />
	</div>
	<div id="divlogoright" class="">
		<img src="{ {asset('/bundles/gitekuda/img/logo-ue-dipu.png')} }" alt="Salir" />
	</div>
</div> -->

{% endblock %}


