{% extends "GitekUdaBundle::redesign.html.twig" %}

{% block title %}{{"Detalle Resultado" | trans}}{% endblock %}

{% block pageid 'formaciones' %}

{% block pageheader  %}

	<h1>
			{{"Resultado de : " | trans}}: {{ historial.operario.nombre }}
			/ {{"Taller" | trans}}: {{ historial.taller.nombre}}
	</h1>

	<h3>
		 {{"Proyecto" | trans }}: {{ historial.curso.nombre }} - {{ historial.curso.version }}
			/ {{"Fecha" | trans }}: {{ historial.createdat|date('Y-m-d') }}
	</h3>

{% endblock %}


{% block sidebar  %}
	<ul class="unstyled menuaborde">
 	    <li>
	        <a href="{{ path('historial') }}" class=""><img src="{{ asset('bundles/gitekuda/img/back18.png') }}" alt="Volver">&nbsp;{{"Volver" | trans }}</a>
	    </li>
	</ul>
{% endblock %}

{% block contenido %}

	<div class="row">
		<section class="detformaciones" id="detformaciones">

			<script type="text/javascript" charset="utf-8">
				$(".alert-message");
			</script>

			{% for flashMessage in app.session.flashbag.get('notice') %}
			    <div class="alert-message success">
			        {{ flashMessage }}
			        <a href="#" class="close">×</a>
			    </div>
			{% endfor %}
			<table class="record_properties">
			    <tbody>
			        <tr>
						<td>
				        	{% if (historial.completado=="1") %}
				            	{{"Completado" | trans }}
							{% else %}
								{{"No completado" | trans }}
							{% endif %}
						</td>
						<td>
							{% if (historial.aprobado=="1") %}
				        	    {{"Aprobado" | trans }}
							{% else %}
								{{"No aprobado" | trans }}
							{% endif %}
						</td>
			        </tr>
			    </tbody>
			</table>

			<h3>Detalle de la prueba</h3>

			{% include 'GitekUdaBundle:Dethistorial:index.html.twig'
					with { 'dethistoriales': historial.dethistoriales }
			%}

		</section>
	</div><!-- .row -->





			{% endblock %}