{% extends "GitekUdaBundle::frontend.html.twig" %}

{% block header %}
	<div id="top-header">
		<div id="header-ezkerra">
			<img id="imgformacion" src="{{asset('/bundles/gitekuda/img/formacion.png')}}" alt="Siguiente" />
			<h1>Formacion</h1>
		</div>
		<div id="header-eskuina">
			<h2>Proyecto: {{ app.session.get('curso_nombre') }}</h2>
		</div>
	</div>
{% endblock %}

{% block contenido %}
	{% block formacion %}
	<div id="seloperaciones">
		{% if historial.aprobado == 0 %}
			<div id="divaprobado">
				<p>Has completado la prueba con errores. Vuelve a intentarlo.</p>
			</div><!-- #divaprobado -->
		{% else %}
			<div id="divaprobado">
				<p>SUSPENDIDO</p>
			</div><!-- #divaprobado -->
		{% endif %}
	</div>
	{% endblock %}
	
	<div id="divfooter">
		
		<div id="divbtnsalir">
			<a href="{{ path('eragiketa') }}">
				<img id="btnsalir"     src="{{asset('/bundles/gitekuda/img/salir64.png')}}" alt="Salir" />
			</a>
		</div>			


		<!-- <div id="divbtnsiguiente">
			<a href="#">
				<img id="btnsiguiente" src="{ {asset('/bundles/gitekuda/img/siguiente.png')}}" alt="Siguiente" />
			</a>		
		</div>			 -->

	</div>
		
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			
			
		});	
	</script>
	
{% endblock %}

