


  <div id="jquery_jplayer_1-{{ loop.index }}" class="jp-jplayer"></div>
  <div id="jp_container_1-{{ loop.index }}" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
        </div>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){

  $("#jquery_jplayer_1-{{ loop.index }}").jPlayer({
          ready: function (event) {
            $(this).jPlayer("setMedia", {
              mp3: "{{ vich_uploader_asset(detformacion, 'file2') }}"
            });
          },
          play: function() { // To avoid both jPlayers playing together.
            $(this).jPlayer("pauseOthers");
          },
          swfPath: "{{ asset('/bundles/gitekuda/js/')}}",
          supplied: "mp3",
          cssSelectorAncestor: "#jp_container_1-{{ loop.index }}",
          wmode: "window"
        });
      });
</script>