{% extends 'GitekUdaBundle::ajax.html.twig' %}

{% block body %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('#choose_curso').change(function(event) {
			$.ajax({
			        type: "GET",
			        data: "data=" + $(this).val(),
							cache: false,
			        url:"{{ path('formacion_find') }}",
			        success: function(msg){
			            if (msg != ''){
			               $('#divtabla').html(msg).show();
			               }
			               else
			               {
			                   $('#divtabla').html('<em>No hay resultados</em>');
			               }
			           }
			       });		         
		});
	}); 
</script>



	<form action="copy1_submit" method="get" accept-charset="utf-8">

		<select id="choose_curso" name="users">
			<option value="0">Selecciona curso:</option>
			{% for curso in cursos %}
		    <option value="{{curso.id}}">{{curso.nombre}}</option>
			{% endfor %}
		</select>
	</form>

	<div class="span8 columns">
		<form action="{{ path('detformacion_copy2') }}" method="post" class="formacion">
			<div id="divtabla">
				<table class="records_list">
				    <thead>
				        <tr>
										<th>Selecciona</th>
				            <th>Nombre</th>
				        </tr>
				    </thead>
				    <tbody>
				    {% for formacion in formaciones %}
				        <tr>
										<td><input type="checkbox" name="seleccionados[{{loop.index0}}]" 
											value="{{ formacion.id }}" id=""></td>
				            <td>{{ formacion.nombre }}</td>
				        </tr>
				    {% endfor %}
				    </tbody>
				</table>
			</div><!-- #divtabla -->
			<p>&nbsp;</p>
			<button type="submit" class="btn">Guardar</button>
			<input type="hidden" name="mi_curso" value="{{mi_curso}}">
			<input type="hidden" name="formacion_id" value="{{formacion_id}}">
		</form>
	</div>

{% endblock %}