
{% extends 'GitekUdaBundle::layout.html.twig' %}

{% block title %}Add Comment{% endblock%}

{% block body %}
    <h1>Add comment for blog post "{{ detformacion.formacion.nombre }}"</h1>
    {% include 'GitekUdaBundle:Detformacion:form.html.twig' with { 'form': form } %}
{% endblock %}