{% extends "GitekUdaBundle::redesign.html.twig" %}

{% block title %}{{"Mantenimiento de Proyectos" | trans}}{% endblock %}

{% block pageid 'formaciones' %}

{% block pagetitle  %}{{"Detalle de la Formación" | trans }}: {{ entity.formacion.nombre }}{% endblock %}


{% block sidebar  %}
<ul class="unstyled menuaborde">
	<li><a href="#" id="btn_editar" class=""><img src="{{ asset('bundles/gitekuda/img/save18.png') }}" alt="Guardar">&nbsp;{{"Guardar"|trans}}</a></li>
	<li><a href="{{ path ('detformacion_volver',{
												'id': entity.id,
												'curso_id': curso_id,
												'mianchor':mianchor,
												'mitab':mitab
												})
								}}" id="btn_volver" class=""><img src="{{ asset('bundles/gitekuda/img/back18.png') }}" alt="volver">&nbsp;{{"Volver"|trans}}</a></li>
</ul>
{% endblock %}

{% block contenido %}

	<div class="row">
		<div class="span12 columns">
			<form id="formulario" action="{{ path('detformacion_edit',
												{'id': entity.id,
												'curso_id': curso_id,
												'mianchor': mianchor,
												'mitab': mitab,
												}) }}"
																		method="post" {{ form_enctype(form) }}>

			<div class="formrow">
				<div id="imgyoutube"></div>
				<div class="formcampo">
	    		{{ form_label(form.nombre,'Nombre: ' | trans,{'attr': {'class': 'title milabel' }}) }}
	    		{{ form_errors(form.nombre) }}
	    		{{ form_widget(form.nombre,{ 'attr': {'class': 'input xlarge'}}) }}
	    	</div>
			</div>
			<div class="formrow">
				<div id="imgyoutube"></div>
				<div class="formcampo">
					{{ form_label(form.texto,'Texto: ' | trans,{'attr': {'class': 'title milabel' }}) }}
	    		{{ form_errors(form.texto) }}
	    		{{ form_widget(form.texto,{ 'attr': {'class': 'input xlarge'}}) }}
				</div>
			</div>


			<div class="formrow">
				<div id="imgyoutube"><img src="{{ asset('bundles/gitekuda/img/youtube.jpg') }}" alt="volver"></div>
				<div class="formcampo">
				<label id="labelyoutube" for="urlyoutube" class="title milabel">{{"Pega la dirección del video en youtube:"|trans}}</label>
				<input type="text" id="urlyoutube" class="input xlarge" name="urlyoutube" value="" />

				<label id="labelyoutube2" for="delurl" class="title milabel">{{"El id del video youtube es:"|trans}}</label>
	    		<span id="delurl"   class="input xlarge">{{entity.url}}</span>
	    		<!-- <input type="button" name="btn_delurl" id="btn_delurl" value="Eliminar"> -->
	    		<img id="btn_delurl" src="{{ asset('bundles/gitekuda/img/delete.gif') }}" alt="">
	    	</div>
			</div>

			<div class="clearfix"></div>

			<div class="formrow" style="display:none;">
	    		{{ form_label(form.url,'Dirección Youtube: ' | trans,{'attr': {'class': 'title milabel' }}) }}
	    		{{ form_errors(form.url) }}
	    		{{ form_widget(form.url,{ 'attr': {'class': 'input xlarge'}}) }}
			</div>

			<div class="formrow">
				<div id="imgyoutube"><img src="{{ asset('bundles/gitekuda/img/images.png') }}" alt="volver"></div>
				<div class="formcampo">
	    		{{ form_label(form.file,'Archivo Imagen: ' | trans,{'attr': {'class': 'title milabel', 'id':'labelimagen' }}) }}
	    		{{ form_errors(form.file) }}
	    		{{ form_widget(form.file,{ 'attr': {'class': 'input xlarge'}}) }}
	    		<label id="labelimagen2" for="delimg" class="title milabel">{{"La imagen seleccionada es:"|trans}}</label>
	    		<span id="delimg"   class="input xlarge">{{entity.imagen}}</span>
	    		<!-- <input type="button" name="btn_delimg" id="btn_delimg" value="Eliminar"> -->
	    		<img id="btn_delimg" src="{{ asset('bundles/gitekuda/img/delete.gif') }}" alt="">
	    	</div>
			</div>

			<div class="formrow">
				<div id="imgyoutube"><img src="{{ asset('bundles/gitekuda/img/sonido.png') }}" alt="volver"></div>
				<div class="formcampo">
	    		{{ form_label(form.file2,'Archivo audio: ' | trans,{'attr': {'class': 'title milabel' }}) }}
	    		{{ form_errors(form.file2) }}
	    		{{ form_widget(form.file2,{ 'attr': {'class': 'input xlarge'}}) }}
	    		<label for="delaudio" class="title milabel">{{"El audio seleccionado es:"|trans}}</label>
	    		<span id="delaudio"   class="input xlarge">{{entity.audio}}</span>
	    		<!-- <input type="button" name="btn_delaudio" id="btn_delaudio" value="Eliminar"> -->
	    		<img id="btn_delaudio" src="{{ asset('bundles/gitekuda/img/delete.gif') }}" alt="">
	    	</div>
			</div>
 			<div class="formrow">
 				<div id="imgyoutube"><img src="{{ asset('bundles/gitekuda/img/video.png') }}" alt="volver"></div>
				<div class="formcampo">
	    		{{ form_label(form.file3,'Archivo video: ' | trans,{'attr': {'class': 'title milabel' }}) }}
	    		{{ form_errors(form.file3) }}
	    		{{ form_widget(form.file3,{ 'attr': {'class': 'input xlarge'}}) }}
	    		<label for="delvideo" class="title milabel">{{"El video seleccionada es:"|trans}}</label>
	    		<span id="delvideo"   class="input xlarge">{{entity.video}}</span>
	    		<!-- <input type="button" name="btn_delvideo" id="btn_delvideo" value="Eliminar"> -->
	    		<img id="btn_delvideo" src="{{ asset('bundles/gitekuda/img/delete.gif') }}" alt="">
	    	</div>
			</div>
			</form>
		</div><!-- .span16 columns -->
	</div>

	<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){

		var url="http://www.youtube.com/watch?v=";

		if ( $('#delurl').text()!="") {
			$('#urlyoutube').val(url+$('#delurl').text());
		}

		if ($('#delimg').text()==="") {
			$('#btn_delimg').hide();
		}

		if ($('#delaudio').text()=="") {
			$('#btn_delaudio').hide();
		}

		if ($('#delvideo').text()=="") {
			$('#btn_delvideo').hide();
		}

		$('#btn_delurl').click(function() {
			$('#gitek_udabundle_detformaciontype_url').val("");
			$('#urlyoutube').val("");
			$('#delurl').empty();
			$('#btn_delurl').hide();
		});

		$('#btn_delimg').click(function() {
			// $('#gitek_udabundle_detformaciontype_file').val("");
			// $('#gitek_udabundle_detformaciontype_imagen').val("");

			// $('#delimg').empty();
			// $('#btn_delimg').hide();
			miid = {{ entity.id }}
			var url = Routing.generate('deformacion_delete_upload',{ id: miid, que:'foto' });

			$.ajax(url, {
			      type : "POST",
			      data: { },
			      contentType : "application/json",
			      success : function(data) {

			        console.log(data);
			        $('#delimg').empty();
			      },
			      error: function (xhr, ajaxOptions, thrownError) {
			        alert(xhr.status);
			        alert(thrownError);
			      }
			  });


		});

		// $('#btn_delimg').click(function() {
		// 	$('#gitek_udabundle_detformaciontype_file').val("");
		// 	$('#gitek_udabundle_detformaciontype_imagen').val("");

		// 	$('#delimg').empty();
		// 	$('#btn_delimg').hide();
		// });

		$('#btn_delaudio').click(function() {
			// $('#gitek_udabundle_detformaciontype_file2').val(null);
			// $('#gitek_udabundle_detformaciontype_audio').val("");

			// $('#delaudio').empty();
			// $('#btn_delaudio').hide();
			miid = {{ entity.id }}
			var url = Routing.generate('deformacion_delete_upload',{ id: miid, que:'audio' });

			$.ajax(url, {
			      type : "POST",
			      data: { },
			      contentType : "application/json",
			      success : function(data) {

			        console.log(data);
			        $('#delaudio').empty();
			      },
			      error: function (xhr, ajaxOptions, thrownError) {
			        alert(xhr.status);
			        alert(thrownError);
			      }
			  });
		});

		$('#btn_delvideo').click(function() {
			// $('#gitek_udabundle_detformaciontype_file3').val("");
			// $('#gitek_udabundle_detformaciontype_video').val("");

			// $('#delvideo').empty();
			// $('#btn_delvideo').hide();
			miid = {{ entity.id }}
			var url = Routing.generate('deformacion_delete_upload',{ id: miid, que:'video' });

			$.ajax(url, {
			      type : "POST",
			      data: { },
			      contentType : "application/json",
			      success : function(data) {

			        console.log(data);
			        $('#delvideo').empty();
			      },
			      error: function (xhr, ajaxOptions, thrownError) {
			        alert(xhr.status);
			        alert(thrownError);
			      }
			  });
		});

		$('#btn_editar').click(function() {
			if ($('#urlyoutube').val()!="") {
				var video_id = $('#urlyoutube').val().split('v=')[1];

				var ampersandPosition = video_id.indexOf('&');

				if(ampersandPosition != -1) {
	  				video_id = video_id.substring(0, ampersandPosition);
				}

				$('#gitek_udabundle_detformaciontype_url').val(video_id);
			} else {
				$('#gitek_udabundle_detformaciontype_url').val("");
			}

			$('#formulario').submit();
		});

	});

	</script>
{% endblock %}