<p>&nbsp;</p>
<form action="{{ path('detformacion_create', { 'formacion_id' : detformacion.formacion.id, 'curso_id': curso_id } ) }}" method="post" {{ form_enctype(form) }} class="form-stacked">
	<div class="formerror">
		{{ form_errors(form) }}
	</div>
		<div>
    		{{ form_label(form.nombre,'Nombre descriptivo: ',{'attr': {'class': 'title' }}) }}
    		{{ form_errors(form.nombre) }}
    		{{ form_widget(form.nombre,{ 'attr': {'class': 'xxlarge'}}) }}
		</div>					
		<br />		
		<div>
    		{{ form_label(form.texto,'Texto descriptivo: ',{'attr': {'class': 'title' }}) }}
    		{{ form_errors(form.texto) }}
    		{{ form_widget(form.texto,{ 'attr': {'class': 'xxlarge'}}) }}
		</div>					
		<br />		
		<div>
				{{ form_label(form.file,'Imagen',{'attr': {'class': 'title'}}) }}
  			{{ form_errors(form.file) }}
  			{{ form_widget(form.file, { 'attr': {'class': 'fileInput' } }) }}
		</div>
		<br />		
		<div>
				{{ form_label(form.file2,'Audio: ',{'attr': {'class': 'title'}}) }}
  			{{ form_errors(form.file2) }}
  			{{ form_widget(form.file2, { 'attr': {'class': 'fileInput' } }) }}
		</div>
		<br />		
		<div>
				{{ form_label(form.file3,'Video: ',{'attr': {'class': 'title'}}) }}
  			{{ form_errors(form.file3) }}
  			{{ form_widget(form.file3, { 'attr': {'class': 'fileInput' } }) }}
		</div>
		<p>&nbsp;</p>
    <div>
        <button type="submit" class="btn primary">Grabar</button>
    </div>
</form>