
<table class="zebra-striped">
  <thead>
    <tr>
     <th>&nbsp;</th>
     <th>{{"Texto" | trans}} </th>
     <th>{{"Imagen" | trans}}</th>
     <th>Youtube</th>
     <th>Audio</th>
     <th>{{"Video" | trans}}</th>
   </tr>
 </thead>
 <tbody>
  {% if not detformaciones is empty %}
  {% for detformacion in detformaciones %}
  {% if detformacion.imagen=="" and detformacion.audio=="" and detformacion.video==""	and detformacion.url=="" %}
  {% set miclass="incompleto" %}
  {% else %}
  {% set miclass="''" %}
  {% endif %}
  <tr class="{{ miclass }}">
    <td class="{{ miclass }} lehena">
      {% if (app.request.attributes.get('_route') !="formacion_show") %}
      {% if not detcurso.curso.protegido %}
        <a href="{{ path('detformacion_edit',{ 'id': detformacion.id,'curso_id': detcurso.curso.id,'mianchor':loop.parent.loop.index,'mitab':0}) }}" class="">
          <img src="{{asset('/bundles/gitekuda/img/editar11.png')}}" alt="Editar">&nbsp;{{"Editar" | trans}}
        </a>
      {% endif %}
      {% else %}
        {% if not curso.protegido %}
          <a href="{{ path('detformacion_edit',{ 'id': detformacion.id,'curso_id': curso_id,'mianchor': mianchor,'mitab': mitab }) }}" class="">
            <img src="{{asset('/bundles/gitekuda/img/editar11.png')}}" alt="Editar">&nbsp;{{"Editar" | trans}}
          </a>
        {% endif %}
      {% endif %}

      {% if (app.request.attributes.get('_route') !="formacion_show") %}
        {% if not curso.protegido %}
          <a href="{{ path('detformacion_delete',{ 'id': detformacion.id,'curso_id':detcurso.curso.id,'mianchor':loop.parent.loop.index,'mitab':0}) }}"
          onclick="return confirm('¿Seguro que desea eliminar?');"	rel="{{loop.parent.loop.index}}--0"	>
            <img src="{{asset('/bundles/gitekuda/img/eliminar11.png')}}" alt="Eliminar" />&nbsp;{{"Eliminar" | trans}}
          </a>
        {% endif %}
    {% endif %}
  </td>
  <td class="{{ miclass }}">{{ detformacion.nombre }}</td>
  <td class="{{ miclass }}">
    {% if detformacion.imagen is empty %}
    {{"No imagen" | trans}}
    {% else %}
      			    <!-- <a href="{ { asset('uploads/documents/') } }{ {detformacion.imagen } }" target="_blank">
        	   			<img src="{ { asset('uploads/documents/') } }{ {detformacion.imagen } }" width="50" height="50">
                </a> -->
                <a href="{{ vich_uploader_asset(detformacion, 'file') }}" target="_blank">
                  <img src="{{ vich_uploader_asset(detformacion, 'file') }}" width="50" height="50">
                </a>
                {% endif %}
              </td>
              <td class="{{ miclass }}">
                {% if detformacion.url is empty	%}
                {{"No video" | trans}}
                {% else %}
                <a class="fancyoutube" title="{{ detformacion.nombre }}" href="http://www.youtube.com/watch?v={{ detformacion.url }}">{{"Mostrar video" | trans}}</a>
                {% endif %}
              </td>
              <td class="{{ miclass }}">
                {% if detformacion.audio is empty %}
                {{"No audio" | trans}}
                {% else %}
                AUDIO: {{ detformacion.audio }}
                {% include 'GitekUdaBundle:Detformacion:audio.html.twig' %}
                {% endif %}
              </td>
              <td class="{{ miclass }}">
                {% if detformacion.video is empty	%}
                {{"No video" | trans}}
                {% else %}
                <a href="#bideoa{{loop.index}}"  class="fancybox" title="{{detformacion.nombre}}">{{"Mostrar video" | trans}}</a>
                <div style="display:none" >
                  <video width="320" height="240" controls="controls" id="bideoa{{loop.index}}">
                   <source src="{{ vich_uploader_asset(detformacion, 'file3') }}" type="video/mp4" />
                 </video>
               </div>
               {% endif %}
             </td>
           </tr>

           {% endfor %}
           {% endif %}
         </tbody>
       </table>

       <script type="text/javascript">

       $(".fancyoutube").click(function() {
        $.fancybox({
         'padding'		: 0,
         'autoScale'		: false,
         'transitionIn'	: 'none',
         'transitionOut'	: 'none',
         'title'			: this.title,
         'width'			: 680,
         'height'		: 495,
         'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
         'type'			: 'swf',
         'swf'			: {
           'wmode'			: 'transparent',
           'allowfullscreen'	: 'true'
         }
       });

        return false;
      });

       </script>





