<!-- <h1>Detformacion creation</h1>

<form action="{ { path('detformacion_create') }}" method="post" { { form_enctype(form) }}>
    { { form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{ { path('detformacion') }}">
            Back to the list
        </a>
    </li>
</ul> -->
 
<form action="{{ path('detformacion_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Guardar" />
</form>