

	{% block contenido %}
		{% block titulo %}
			<div class="titulo">
				<h1>{{ detformacion.nombre }}</h1>				
			</div><!-- .titulo -->
		{% endblock %}

		{% block formacion %}
			<div class="span16 formacion">
				{% if (detformacion.url is not empty) %}
					<div id="vidyoutube">
						<iframe width="560" height="315" src="http://www.youtube.com/embed/{{detformacion.url}}?fs=1&controls=0&showinfo=0&autoplay=1&loop=1&playlist={{detformacion.url}}" frameborder="0" allowfullscreen></iframe>
					</div>
					
				{% elseif (detformacion.video is not empty) %}
					<div id="bideo" class="bideo">
				    <!--<video width="560" height="315" controls="controls" autoplay="autoplay">
							<source src="{ { asset('uploads/documents/')}}{ { detformacion.video }}" type="video/mp4" />
							Tu navegador no soporta el plugin de video.
						</video>  -->

 						<video controls="controls" width="560" height="315" autoplay>
							<source src="{{ asset('uploads/documents/')}}{{ detformacion.video }}" type="video/mp4" />
							<object width="640" height="505" type="application/x-shockwave-flash" data="{ {detformacion.url}}">
								<param name="movie" value="{ {detformacion.url}}" />
								<!-- fallback image -->
								<!--<img src="poster.jpg" width="640" height="360" alt="Big Buck Bunny"
		     					title="No video playback capabilities, please download the video below" /> -->
							</object>
						</video> 

					</div><!-- .video -->
				{% elseif (detformacion.imagen is not empty) %}
	  				<div class="imagen">
						<img src="{{ asset('uploads/documents/')}}{{ detformacion.imagen }}" class="stretch" />
					</div><!-- .imagen -->	
				{% endif %}
				{% if (detformacion.texto is not empty) %}
					<div id="texto" class="texto">
						<p>{{detformacion.texto}}</p>
					</div><!-- .texto -->
				{% endif %}
				
				
		
				{% if (detformacion.audio is not empty) %}
<!-- 					<audio controls="controls" onerror="fallo(event)" id="audioa">
						<source src="{ { asset('uploads/documents/') }}{ { detformacion.audio }}" type="audio/ogg" />
					</audio> -->
					<div class="sonido">
						{% include 'GitekUdaBundle:Detformacion:audioautoplay.html.twig' %}
					</div>


<!-- 					<div class="sonindo">
						<audio controls="controls">
							<source src="{ { asset('uploads/documents/')}}{ { detformacion.audio }}" />
						</audio>
					</div><!-- .sonido -->	
				{% endif %}
		
			</div><!-- .span16 formacion -->
			<div class="clearfix"></div>
		{% endblock %}
	{% endblock %}
	
	{% block footer %}
	
	<script type="text/javascript" charset="utf-8">

		jQuery(document).ready(function() {
			
			if ( $('.texto').length) {
			
				if ( $('.imagen').length ) {
					$('.imagen').addClass('zatibi');
				}
				if ( $('.vidyoutube').length ) {
					$('.imagen').addClass('zatibi');
				}
			} 

			// var img = document.getElementById('imagen').firstChild;
			var img = $('.imagen:first-child');
			img.onload = function() {
			    if(img.height > img.width) {
			        img.height = '100%';
			        img.width = 'auto';
			    }
			};
		
		});	
	</script>
	{% endblock %}
