{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Proyectos{% endblock %}

{% block pageid 'formaciones' %}

{% block pageheader  %}

	<h1>Proyecto: {{ curso.nombre }} {{ curso.version }}</h1>

{% endblock %}

{% block sidebar  %}
	<h5>{{"Acciones para el proyecto" | trans }}</h5>
	<ul class="unstyled">
	    <li>
	        <a href="{{ path('curso') }}" class="btn">
	            Lista
	        </a>
	    </li>
	    <li>
	        <a href="{{ path('curso_edit', { 'id': curso.id }) }}"class="btn">
	            Editar
	        </a>
	    </li>
	    <li>
				<a href="{{ path('curso_delete', { 'id': curso.id }) }}"
				onclick="return confirm('¿Seguro que desea eliminar?');" class="btn">Eliminar</a>
	    </li>
			<li>&nbsp;</li>
			<li>
				<a href="{{ path('detcurso_copy', {'curso_id' : curso.id} ) }}" class="btn fancybox">Copiar de...</a>
			</li>
	</ul>
{% endblock %}
{% block contenido %}
	<div class="row">
		<table class="record_properties">
			<!-- <thead>
		  	<tr>
		    	<th>Texto</th>
		      <th>Imagen</th>
		      <th>Audio</th>
		      <th>Video</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
		    </tr>
		  </thead> -->
		  <tbody>
				<tr>
		    		<th>Texto</th>
						<td>
							<a class="fancyboxr" href="{{ path('detformacion_edit', { 'id': detformacion.id }) }}">
								{{ detformacion.nombre }}
							</a>
						</td>
				</tr>
				<tr>
		    		<th>Youtube</th>
						<td>
							<a class="fancyboxr" href="{{ path('detformacion_edit', { 'id': detformacion.id }) }}">
								{{ detformacion.url }}
							</a>
						</td>
				</tr>
		    	<tr>
		    		<th>Imagen</th>
						<td>
							{% if detformacion.imagen is empty %}No imagen {% else %}
								<a href="{{ path('detformacion_show', { 'id': detformacion.id }) }}">
								<!-- <img src="{ { asset('uploads/documents/') } }{ {detformacion.imagen } }" width="50" height="50"> -->
								<img src="{{ vich_uploader_asset(detformacion, 'file') }}" width="50" height="50">
								</a>
								{% endif %}
						</td>
				</tr>
		    	<tr>
		    		<th>Audio</th>
						<td>
							{% if detformacion.audio is empty %}
								No audio
							{% else %}
								<audio controls="controls" onerror="fallo(event)" id="audioa">
									<source src="{{ asset('uploads/documents/') }}{{ detformacion.audio }}" type="audio/ogg" />
								</audio>
							{% endif %}
						</td>
				</tr>
				<tr>
		     		<th>Video</th>
							<td>
								{% if detformacion.video is empty	%}
									No video
								{% else %}
									<a href="#bideoaa"  class="fancybox" title="{{detformacion.nombre}}">Mostrar video</a>
									<div style="display:none" >
										<video width="320" height="240" controls="controls" id="bideoaa">
											<source src="{{ asset('uploads/documents/')}}{{ detformacion.video }}" type="video/mp4" />
										</video>
									</div>
								{% endif %}
							</td>
				</tr>
					<tr>
						<th>&nbsp;</th>
							<td>
								<a href="{{ path('detformacion_edit', { 'id': detformacion.id }) }}">
		            Editar
		        		</a>
							</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
							<td>
								<form action="{{ path('detformacion_delete', { 'id': detformacion.id }) }}" method="post">
		            {{ form_widget(delete_form) }}
		            <button type="submit">Eliminar</button>
		        		</form>
							</td>
					</tr>
			</tbody>
		</table>
	</div><!-- .row -->
{% endblock %}
