<h1>Laguntza</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Youtube</th>
            <td>{{ entity.youtube }}</td>
        </tr>
        <tr>
            <th>Mostrar</th>
            <td>{{ entity.mostrar }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('laguntza') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('laguntza_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('laguntza_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
