

<table class="zebra-striped" id="sortTableExample">
    <thead>
        <tr>
            <th>{{"Tipo" | trans }}</th>
			<th>{{"Operación" | trans }}</th>
            <th>{{"Nombre"|trans}}</th>
			<th>{{"Ejercicio" | trans }}</th>
            <th>{{"Inicio" | trans  }}</th>
            <th>{{"Fin" | trans  }}</th>
            <th>{{"Bien" | trans }}</th>
            <th>{{"Mal" | trans }}</th>
            <th>{{"Solución" | trans }}</th>
            <th>{{"Reintentar" | trans }}</th>
            <th>D16</th>
            <th>Imgok</th>
            <th>Imgbase</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in dethistoriales %}
        <tr>
            <td>{{ entity.tipoentrenamiento.tipo }}</td>
			<td>{{ entity.detcurso.nombre }}</td>
            <td>{{entity.nombre}}</td>
			<td>
            {% if entity.orden=="1" %}
                {{"Componente correcto" | trans}}
            {% elseif entity.orden=="2" %}
                {{"EPI correcto" | trans}}
            {% elseif entity.orden=="3" %}
                {{"Componente NO defectuoso" | trans}}
            {% elseif entity.orden=="4" %}
                {{"Colocar componente" | trans}}
            {% endif %}
            </td>
            <td>{% if entity.createdat %}{{ entity.historial.createdat|date('H:i:s') }}{% endif%}</td>
            <td>{% if entity.updatedat %}{{ entity.updatedat|date('H:i:s') }}{% endif%}</td>
            <td>{{ entity.pulsaOK }}</td>
            <td>{{ entity.pulsaKO }}</td>
            <td>{{ entity.pulsasolucion }}</td>
            <td>{{ entity.pulsareintentar }}</td>
            <td>{{ entity.pulsaD16 }}</td>
            <!-- <td>{ { entity.nombre }}</td> -->
			<td>
				{% if entity.imgok is empty %}&nbsp; {% else %}
				<img src="{{ asset('uploads/documents/') }}{{entity.imgok }}" class="tooltip" width="20" height="20"/>
				{% endif %}
			</td>
			<td>
				{% if entity.imgbase is empty %}&nbsp; {% else %}
				<img src="{{ asset('uploads/documents/') }}{{entity.imgbase }}" class="tooltip" width="20" height="20"/>
				{% endif %}
			</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

