<h1>Detalle Resultados</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Historial_id</th>
            <td>{{ entity.historialid }}</td>
        </tr>
        <tr>
            <th>Fecha_ini</th>
            <td>{{ entity.fechaini|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Fecha_fin</th>
            <td>{{ entity.fechafin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Simulacion_id</th>
            <td>{{ entity.entrenamientoid }}</td>
        </tr>
        <tr>
            <th>Formacion_id</th>
            <td>{{ entity.formacionid }}</td>
        </tr>
        <tr>
            <th>Hora_ini</th>
            <td>{{ entity.horaini }}</td>
        </tr>
        <tr>
            <th>Hora_fin</th>
            <td>{{ entity.horafin }}</td>
        </tr>
        <tr>
            <th>Pulsaok</th>
            <td>{{ entity.pulsaOK }}</td>
        </tr>
        <tr>
            <th>Pulsako</th>
            <td>{{ entity.pulsaKO }}</td>
        </tr>
        <tr>
            <th>Pulsasolucion</th>
            <td>{{ entity.pulsasolucion }}</td>
        </tr>
        <tr>
            <th>Pulsareintentar</th>
            <td>{{ entity.pulsareintentar }}</td>
        </tr>
        <tr>
            <th>Pulsad16</th>
            <td>{{ entity.pulsaD16 }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Img1</th>
            <td>{{ entity.img1 }}</td>
        </tr>
        <tr>
            <th>Img2</th>
            <td>{{ entity.img2 }}</td>
        </tr>
        <tr>
            <th>Img3</th>
            <td>{{ entity.img3 }}</td>
        </tr>
        <tr>
            <th>Imgok</th>
            <td>{{ entity.imgok }}</td>
        </tr>
        <tr>
            <th>Imgepi1</th>
            <td>{{ entity.imgepi1 }}</td>
        </tr>
        <tr>
            <th>Imgepi2</th>
            <td>{{ entity.imgepi2 }}</td>
        </tr>
        <tr>
            <th>Imgepi3</th>
            <td>{{ entity.imgepi3 }}</td>
        </tr>
        <tr>
            <th>Imgepiok</th>
            <td>{{ entity.imgepiok }}</td>
        </tr>
        <tr>
            <th>Imgcomponente1</th>
            <td>{{ entity.imgcomponente1 }}</td>
        </tr>
        <tr>
            <th>Imgcomponente2</th>
            <td>{{ entity.imgcomponente2 }}</td>
        </tr>
        <tr>
            <th>Imgcomponente3</th>
            <td>{{ entity.imgcomponente3 }}</td>
        </tr>
        <tr>
            <th>Imgcomponenteok</th>
            <td>{{ entity.imgcomponenteok }}</td>
        </tr>
        <tr>
            <th>Imgrotar1</th>
            <td>{{ entity.imgrotar1 }}</td>
        </tr>
        <tr>
            <th>Imgrotar2</th>
            <td>{{ entity.imgrotar2 }}</td>
        </tr>
        <tr>
            <th>Imgrotar3</th>
            <td>{{ entity.imgrotar3 }}</td>
        </tr>
        <tr>
            <th>Imgrotarok</th>
            <td>{{ entity.imgrotarok }}</td>
        </tr>
        <tr>
            <th>Imgbase</th>
            <td>{{ entity.imgbase }}</td>
        </tr>
        <tr>
            <th>Coordenadas</th>
            <td>{{ entity.coordenadas }}</td>
        </tr>
        <tr>
            <th>Coordenadas2</th>
            <td>{{ entity.coordenadas2 }}</td>
        </tr>
        <tr>
            <th>Coordenadas3</th>
            <td>{{ entity.coordenadas3 }}</td>
        </tr>
        <tr>
            <th>Coordenadasok</th>
            <td>{{ entity.coordenadasok }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Tipoentrenamiendo_id</th>
            <td>{{ entity.tipoentrenamiendoid }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('dethistorial') }}">
            Back to the list
        </a>
    </li>
</ul>
