{% extends 'GitekUdaBundle::ajax.html.twig' %}

{% block body %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('#choose_curso').change(function(event) {
			$.ajax({
			        type: "GET",
			        data: "data=" + $(this).val(),
							cache: false,
			        url:"{{ path('formacion_findformaciones') }}",
			        success: function(msg){
			            if (msg != ''){
			               $('#divformformaciones').html(msg).show();
			               }
			               else
			               {
			                   $('#divformformaciones').html('<em>No hay resultados</em>');
			               }
			           }
			       });
			$.ajax({
			        type: "GET",
			        data: "data=" + $(this).val(),
							cache: false,
			        url:"{{ path('formacion_finddetformaciones') }}",
			        success: function(msg){
			            if (msg != ''){
			               $('#divtabla').html(msg).show();
			               }
			               else
			               {
			                   $('#divtabla').html('<em>No hay resultados</em>');
			               }
			           }
			       });
		});

		$('#choose_formacion').change(function(event) {
			$.ajax({
			        type: "GET",
			        data: "data=" + $(this).val(),
							cache: false,
			        url:"{{ path('formacion_find') }}",
			        success: function(msg){
			            if (msg != ''){
			               $('#divtabla').html(msg).show();
			               }
			               else
			               {
			                   $('#divtabla').html('<em>No hay resultados</em>');
			               }
			           }
			       });
		});

	});

</script>

	<div class="clearfix"></div>
	<div class="divcombos">
		<div id="divcombocurso" class="">
			<form  method="get" accept-charset="utf-8">

				<label id="lblcombocurso" for="choose_curso">{{"Proyecto" | trans }} :&nbsp;</label>
				<select id="choose_curso" name="cursos">
					<option value="0">{{"Selecciona Proyecto" | trans }}:</option>
					{% for curso in cursos %}
				    <option value="{{curso.id}}">{{curso.nombre}}</option>
					{% endfor %}
				</select>
			</form>
		</div><!-- .divcombocurso -->

		<div id="divformformaciones" class="">
			<form  method="get" accept-charset="utf-8">
				<label id="lblcomboformacion" for="choose_formacion">{{"Operación" | trans }} :&nbsp;</label>
				<select id="choose_formacion" name="formaciones">
					<option value="0">{{"Selecciona Operación" | trans }}:</option>
					{% for formacion in formaciones %}
				    <option value="{{formacion.id}}">{{formacion.nombre}}</option>
					{% endfor %}
				</select>
			</form>
		</div>
	</div><!-- .divcombos -->

	<div class="clearfix"></div>

	<div class="ajaxtabla">
		<form action="{{ path('formacion_copy2') }}" method="post" class="formacion">
			<div id="divtabla">
				<table class="zebra-striped">
				    <thead>
				        <tr>
							<th>{{"Selecciona" | trans }}</th>
				            <th>{{"Nombre" | trans }}</th>
				        </tr>
				    </thead>
				    <tbody>
				    {% for detformacion in detformaciones %}
				        <tr>
							<td>
								<input type="checkbox" name="seleccionados[{{loop.index0}}]"
								value="{{ detformacion.id }}" id="">
							</td>
				        <td>{{ detformacion.nombre }}</td>
				        </tr>
				    {% endfor %}
				    </tbody>
				</table>
			</div><!-- #divtabla -->
			<p>&nbsp;</p>
			<div class="actions">
				<button type="submit" class="btn info">{{"Guardar" | trans }}</button>
				<input type="hidden" name="curso_id" 			value="{{curso_id}}"		>
				<input type="hidden" name="formacion_id" 	value="{{formacion_id}}">
				<input type="hidden" name="detcurso_id" 	value="{{detcurso_id}}"	>
				<input type="hidden" name="mianchor" 			value="{{mianchor}}"		>
				<input type="hidden" name="mitab" 				value="{{mitab}}"		>
			</div><!-- .actions -->
		</form>
	</div><!-- ajaxtabla -->

{% endblock %}