{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Formaciones{% endblock %}

{% block pageid 'formaciones' %}

{% block contenido %}

<h1>Formacion edit</h1>

<form action="{{ path('formacion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('formacion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('formacion_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}