<script type="text/javascript" charset="utf-8">
	$('#choose_formacion').change(function(event) {
		$.ajax({
		        type: "GET",
		        data: "data=" + $(this).val(),
						cache: false,
		        url:"{{ path('formacion_find') }}",
		        success: function(msg){
		            if (msg != ''){
		               $('#divtabla').html(msg).show();
		               }
		               else
		               {
		                   $('#divtabla').html('<em>No hay resultados</em>');
		               }
		           }
		       });		         
	});
</script>

<form  method="get" accept-charset="utf-8">
	<label id="lblcomboformacion" for="choose_formacion">Operación :&nbsp;</label>
	<select id="choose_formacion" name="formaciones">
		<option value="0">Selecciona operación:</option>
		{% for formacion in formaciones %}
	    <option value="{{formacion.id}}">{{formacion.nombre}}</option>
		{% endfor %}
	</select>
</form>