<table class="records_list">
    <thead>
        <tr>
			<th>Selecciona</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
		{% if formaciones != null %}
			{% for formacion in formaciones %}
        <tr>
						<td><input type="checkbox" name="seleccionados[{{loop.index0}}]" 
							value="{{ formacion.id }}" id=""></td>
            <td>{{ formacion.nombre }}</td>           
        </tr>
    	{% endfor %}
		{% endif %}
    </tbody>
</table>