{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Formaciones{% endblock %}

{% block pageid 'formaciones' %}

{% block contenido %}

<div class="row">
  
	<h1>Formacion list</h1>
	
	<div class="span4 columns">
		<h2>Acciones</h2>
		<ul>
		    <li>
		        <a href="{{ path('formacion_new') }}">
		            Create a new entry
		        </a>
		    </li>
		</ul>
	</div>

	<div class="span12 columns">
		<table class="zebra-striped">
		    <thead>
		        <tr>
		            <th>Id</th>
		            <th>Nombre</th>
		            <th>Version</th>
		            <th>Creado</th>
								<th>Actualizado</th>
		            <th>Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for formacion in formaciones %}
		        <tr>
		            <td><a href="{{ path('formacion_show', { 'id': formacion.id }) }}">{{ formacion.id }}</a></td>
		            <td>{{ formacion.nombre }}</td>
		            <td>{{ formacion.version }}</td>
								<td>
									<em><time datetime="{{ formacion.created|date('c') }}">
									{{ formacion.created|created_ago }}</time></em>
								</td>
								<td>
									<em><time datetime="{{ formacion.updated|date('c') }}">
									{{ formacion.updated|created_ago }}</time></em>
									</td>
								<td>
		                <ul>
		                    <li>
		                        <a href="{{ path('formacion_show', { 'id': formacion.id }) }}">show</a>
		                    </li>
		                    <li>
		                        <a href="{{ path('formacion_edit', { 'id': formacion.id }) }}">edit</a>
		                    </li>
		                </ul>
		            </td>							
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
	</div><!-- #span12 columns -->
</div><!-- #row -->

	{% endblock %}


