{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Formaciones{% endblock %}

{% block pageid 'formaciones' %}

{% block pageheader  %}<h1>Nueva Formación</h1>{% endblock %}

{% block sidebar  %}
	<h5>{{"Acciones para el proyecto" | trans }}</h5>
	<ul class="unstyled">
  	<li><a href="{{ path('curso_show', { 'id': cursoid }) }}" class="btn">volver</a></li>
  </ul>
{% endblock %}

{% block contenido %}


<form action="{{ path('formacion_create') }}" method="post" {{ form_enctype(formulario) }}>
    {{ form_widget(formulario) }}
		<div class="actions">
			<input type="submit" value="Guardar" class="btn info" />
			<input type="hidden" value="{{cursoid}}" name="cursoid" />
		</div><!-- .actions -->
</form>

{% endblock %}