{% extends "GitekUdaBundle::formacion.html.twig" %}

{% block contenido %}
	{% block formacion %}
		{% for detformacion in detformaciones %}
			{% include 'GitekUdaBundle:Detformacion:play.html.twig' %}
		{% endfor %}

		<div class="clearfix"></div>
		<div class="paginator">
			{# PAGINATOR #}
			<ul id="paginate_elements">
				{% if paginator.currentPage < paginator.lastPage %}
					<li class="right">
						<a href="{{ path('formacion_play', {'id':formacion.id ,'page': paginator.nextPage}) }}">
							<img id="btnsiguiente" src="{{asset('/bundles/gitekuda/img/siguiente.png')}}" alt="Siguiente" />
						</a>
					</li>
		  		{% else %}
<!-- 		    		<li class="right">
		    			<img id="btnsiguiente" src="{ {asset('/bundles/gitekuda/img/siguiente.png')}}" alt="Siguiente" />
		    		</li> -->
		  		{% endif %}
			</ul>
		</div><!-- .paginator -->
	{% endblock %}
{% endblock %}


