{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Formaciones{% endblock %}

{% block pageid 'formaciones' %}

{% block pageheader  %}		
	<h1>
		Proyecto: <a href="{{ path('formacion_volver',{
																							'curso_id': curso_id,
																							'mianchor': mianchor,
																							'mitab'		: mitab,
																							}
														)  
										}}">{{curso.nombre}}</a> 
		/ Formacion: {{ formacion.nombre }}
	</h1>
{% endblock %}
{% block sidebar  %}
	<h5>{{"Acciones para el proyecto" | trans }}</h5>
	<ul class="unstyled">
  	<li>
			<a href="{{ path( 'formacion_volver', { 
														'curso_id': curso_id,
														'mianchor': mianchor,
														'mitab'		: mitab,
														} 
											) 
								}}" class="btn success">Volver</a>
		</li>
  </ul>
{% endblock %}

{% block contenido %}

<div class="row">
		<div class="span16 columns">
			<section class="detformaciones" id="detformaciones">
		        <section class="list-detformaciones">
								{% if not formacion.detformaciones is empty%}
		            	{% include 'GitekUdaBundle:Detformacion:index.html.twig' 
											with { 'detformaciones': formacion.detformaciones,'fid':formacion.id } %}
								{% else %}
		        			no hay detalle
								{% endif %}
		        </section>

						<a href="#" class="btn" id="showadddetformacion">
							<img src="{{asset('/bundles/gitekuda/img/plus.gif')}}" alt="Eliminar" 
							class="imgpluss" />
							Añadir detalle
						</a>
						<div id="adddetformacion" style="display:none">
							{% render 'GitekUdaBundle:Detformacion:new' with { 'formacion_id': formacion.id, 'curso_id': curso_id } %}
						</div>
						
			</section>
		</div><!-- .span16 columns -->
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" charset="utf-8">
	
	$('#showadddetformacion').click(function() {
		$('#adddetformacion').toggle(function() {
			var miimg = $(".imgpluss").attr("src");
			if ( miimg ==  "{{asset('/bundles/gitekuda/img/minus.gif')}}" ) {
				$(".imgpluss").attr("src","{{asset('/bundles/gitekuda/img/plus.gif')}}");
			} else {
				$(".imgpluss").attr("src","{{asset('/bundles/gitekuda/img/minus.gif')}}");
			}
			$(".imgpluss").slideDown("slow");
		});
		return false;
	})
	
	
</script>
	
{% endblock %}
