{% extends 'GitekUdaBundle::layout.html.twig' %}

{% block title %}Add Comment{% endblock%}

{% block body %}
    <h1>Add comment for blog post "{{ detentrenamiento.entrenamiento.nombre }}"</h1>
    {% include 'GitekUdaBundle:Detentrenamiento:form.html.twig' with { 'form': form } %}
{% endblock %}