{% extends "GitekUdaBundle::redesign.html.twig" %}

{% block title %}{{"Detalle de Simulación" | trans }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
	<script src="{{ asset('/bundles/gitekuda/js/ui/jquery-ui-1.8.16.custom.min.js') }}"></script>
	<script src="{{ asset('/bundles/gitekuda/js/jquery.tooltip.pack.js') }}"></script>

	<script src="{{ asset('/bundles/gitekuda/js/jquery.imgareaselect-0.4.js') }}"></script>
  	<script src="{{ asset('/bundles/gitekuda/js/jquery.imgnotes-0.2.js') }}"></script>

	<script src="{{ asset('/bundles/gitekuda/js/bootstrap/bootstrap-twipsy.js') }}"></script>
	<script src="{{ asset('/bundles/gitekuda/js/bootstrap/bootstrap-popover.js') }}"></script>

	<link href="{{ asset('/bundles/gitekuda/css/jquery.ui/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('/bundles/gitekuda/css/jquery.tooltip.css') }}" rel="stylesheet" type="text/css" />



<script>
	$(function() {
		// $( "#tabs" ).tabs();
		var mitab = window.location.hash.toString();
		var misel = mitab.substring(1,mitab.length);

		$( "#tabs" ).tabs( { selected: misel } );

		var tipo = "{{entity.tipoentrenamiento}}";

		if ( tipo == "1-Imagen" ) {

			$('#tabs').tabs().tabs('disable', 2);
			$('#tabs').tabs().tabs('disable', 3);
			$('#tabs').tabs().tabs('disable', 4);
			$('#tabs').tabs().tabs('disable', 5);
			$('#textua').html("1-Imagen");
			$('#divpregunta').hide();
			$('#divpregunta2').hide();
		}

		if ( tipo == "4-Imagen" ) {

			$('#tabs').tabs().tabs('disable', 2);
			$('#tabs').tabs().tabs('disable', 3);
			$('#tabs').tabs().tabs('disable', 4);
			$('#tabs').tabs().tabs('disable', 5);
			$('#textua').html("4-Imagen");
			$('#divpregunta').hide();
			$('#divpregunta3').hide();
		}

		if ( tipo == "Colocar componente" ) {
			$('#tabs').tabs().tabs('disable', 1);
			$('#tabs').tabs().tabs('disable', 2);
			$('#tabs').tabs().tabs('disable', 3);
			$('#textua').html("Componente");
			$('#divpregunta').hide();
			$('#divpregunta2').hide();
		}

	});
	</script>


	<script type="text/javascript">

        	notes = [
        		{"x1":"10","y1":"10","height":"150","width":"50","note":"This is a note"},
				{"x1":"25","y1":"25","height":"70","width":"80","note2":"2"}
			];

		$(window).load(function () {

			//miramor si existe imagen de petaca, si existe dibujamos.
			//Si no existe, en IE8 da error el JS y no funciona
			// el exists() en jQuery es length

			if ($('#petaca').length ) {
				$('#petaca').imgNotes();
			}

			//$('#tern').imgAreaSelect({ onSelectChange: showaddnote })

			$('#cancelnote').click(function(){
				$('#petaca').imgAreaSelect({ hide: true });
				$('#noteform').hide();
			});

			$('#addnotelinkok').click(function(){
				$('#flagok').val("1");
				$('#petaca').imgAreaSelect({ onSelectChange: showaddnoteok, x1: 120, y1: 90, x2: 280, y2: 210 });

				var _topok 		= parseInt($('#NoteY1ok').val())+99;
				var _leftok 	= parseInt($('#NoteX1ok').val())+22;
				var _widthok 	= $('#NoteWidthok').val();
				var _heightok 	= $('#NoteHeightok').val();
				$('#divcoorok').css('top',_topok);
				$('#divcoorok').css('left',_leftok);
				$('#divcoorok').css('width',_widthok);
				$('#divcoorok').css('height',_heightok);


				var _top1 		= parseInt($('#NoteY11').val())+99;
				var _left1 		= parseInt($('#NoteX11').val())+22;
				var _width1 	= $('#NoteWidth1').val();
				var _height1 	= $('#NoteHeight1').val();
				$('#divcoor1').css('top',_top1);
				$('#divcoor1').css('left',_left1);
				$('#divcoor1').css('width',_width1);
				$('#divcoor1').css('height',_height1);

				var _top2 		= parseInt($('#NoteY12').val())+99;
				var _left2 		= parseInt($('#NoteX12').val())+22;
				var _width2 	= $('#NoteWidth2').val();
				var _height2 	= $('#NoteHeight2').val();
				$('#divcoor2').css('top',_top2);
				$('#divcoor2').css('left',_left2);
				$('#divcoor2').css('width',_width2);
				$('#divcoor2').css('height',_height2);


				var _top3 		= parseInt($('#NoteY13').val())+99;
				var _left3 		= parseInt($('#NoteX13').val())+22;
				var _width3 	= $('#NoteWidth3').val();
				var _height3 	= $('#NoteHeight3').val();
				$('#divcoor3').css('top',_top3);
				$('#divcoor3').css('left',_left3);
				$('#divcoor3').css('width',_width3);
				$('#divcoor3').css('height',_height3);

				return false;
			});

			$('#addnotelink1').click(function(){
				$('#flag').val("1");
				$('#petaca').imgAreaSelect({ onSelectChange: showaddnote1, x1: 120, y1: 90, x2: 280, y2: 210 });

				var _topok 		= parseInt($('#NoteY1ok').val())+99;
				var _leftok 	= parseInt($('#NoteX1ok').val())+22;
				var _widthok 	= $('#NoteWidthok').val();
				var _heightok 	= $('#NoteHeightok').val();
				$('#divcoorok').css('top',_topok);
				$('#divcoorok').css('left',_leftok);
				$('#divcoorok').css('width',_widthok);
				$('#divcoorok').css('height',_heightok);


				var _top1 		= parseInt($('#NoteY11').val())+99;
				var _left1 		= parseInt($('#NoteX11').val())+22;
				var _width1 	= $('#NoteWidth1').val();
				var _height1 	= $('#NoteHeight1').val();
				$('#divcoor1').css('top',_top1);
				$('#divcoor1').css('left',_left1);
				$('#divcoor1').css('width',_width1);
				$('#divcoor1').css('height',_height1);

				var _top2 		= parseInt($('#NoteY12').val())+99;
				var _left2 		= parseInt($('#NoteX12').val())+22;
				var _width2 	= $('#NoteWidth2').val();
				var _height2 	= $('#NoteHeight2').val();
				$('#divcoor2').css('top',_top2);
				$('#divcoor2').css('left',_left2);
				$('#divcoor2').css('width',_width2);
				$('#divcoor2').css('height',_height2);


				var _top3 		= parseInt($('#NoteY13').val())+99;
				var _left3 		= parseInt($('#NoteX13').val())+22;
				var _width3 	= $('#NoteWidth3').val();
				var _height3 	= $('#NoteHeight3').val();
				$('#divcoor3').css('top',_top3);
				$('#divcoor3').css('left',_left3);
				$('#divcoor3').css('width',_width3);
				$('#divcoor3').css('height',_height3);

				return false;
			});

			$('#addnotelink2').click(function(){
				$('#flag2').val("1");
				$('#petaca').imgAreaSelect({ onSelectChange: showaddnote2, x1: 120, y1: 90, x2: 280, y2: 210 });

				var _topok 		= parseInt($('#NoteY1ok').val())+99;
				var _leftok 	= parseInt($('#NoteX1ok').val())+22;
				var _widthok 	= $('#NoteWidthok').val();
				var _heightok 	= $('#NoteHeightok').val();
				$('#divcoorok').css('top',_topok);
				$('#divcoorok').css('left',_leftok);
				$('#divcoorok').css('width',_widthok);
				$('#divcoorok').css('height',_heightok);


				var _top1 		= parseInt($('#NoteY11').val())+99;
				var _left1 		= parseInt($('#NoteX11').val())+22;
				var _width1 	= $('#NoteWidth1').val();
				var _height1 	= $('#NoteHeight11').val();
				$('#divcoor1').css('top',_top1);
				$('#divcoor1').css('left',_left1);
				$('#divcoor1').css('width',_width1);
				$('#divcoor1').css('height',_height1);

				var _top2 		= parseInt($('#NoteY12').val())+99;
				var _left2 		= parseInt($('#NoteX12').val())+22;
				var _width2 	= $('#NoteWidth2').val();
				var _height2 	= $('#NoteHeight2').val();
				$('#divcoor2').css('top',_top2);
				$('#divcoor2').css('left',_left2);
				$('#divcoor2').css('width',_width2);
				$('#divcoor2').css('height',_height2);


				var _top3 		= parseInt($('#NoteY13').val())+99;
				var _left3 		= parseInt($('#NoteX13').val())+22;
				var _width3 	= $('#NoteWidth3').val();
				var _height3 	= $('#NoteHeight3').val();
				$('#divcoor3').css('top',_top3);
				$('#divcoor3').css('left',_left3);
				$('#divcoor3').css('width',_width3);
				$('#divcoor3').css('height',_height3);

				return false;
			});

			$('#addnotelink3').click(function(){
				$('#flag3').val("1");
				$('#petaca').imgAreaSelect({ onSelectChange: showaddnote3, x1: 120, y1: 90, x2: 280, y2: 210 });

				var _topok 		= parseInt($('#NoteY1ok').val())+99;
				var _leftok 	= parseInt($('#NoteX1ok').val())+22;
				var _widthok 	= $('#NoteWidthok').val();
				var _heightok 	= $('#NoteHeightok').val();
				$('#divcoorok').css('top',_topok);
				$('#divcoorok').css('left',_leftok);
				$('#divcoorok').css('width',_widthok);
				$('#divcoorok').css('height',_heightok);


				var _top1 		= parseInt($('#NoteY11').val())+99;
				var _left1 		= parseInt($('#NoteX11').val())+22;
				var _width1 	= $('#NoteWidth1').val();
				var _height1 	= $('#NoteHeight1').val();
				$('#divcoor1').css('top',_top1);
				$('#divcoor1').css('left',_left1);
				$('#divcoor1').css('width',_width1);
				$('#divcoor1').css('height',_height1);

				var _top2 		= parseInt($('#NoteY12').val())+99;
				var _left2 		= parseInt($('#NoteX12').val())+22;
				var _width2 	= $('#NoteWidth2').val();
				var _height2 	= $('#NoteHeight2').val();
				$('#divcoor2').css('top',_top2);
				$('#divcoor2').css('left',_left2);
				$('#divcoor2').css('width',_width2);
				$('#divcoor2').css('height',_height2);


				var _top3 		= parseInt($('#NoteY13').val())+99;
				var _left3 		= parseInt($('#NoteX13').val())+22;
				var _width3 	= $('#NoteWidth3').val();
				var _height3 	= $('#NoteHeight3').val();
				$('#divcoor3').css('top',_top3);
				$('#divcoor3').css('left',_left3);
				$('#divcoor3').css('width',_width3);
				$('#divcoor3').css('height',_height3);

				return false;
			});

			$('#showareas').click(function () {
                $('.note').show();
            });

			$('.erakutsi').click(function(){
				$('.note').show();
			})

		});

	function showaddnoteok (img, area) {
        var imgOffset = $(img).offset();
		var form_left  = parseInt(imgOffset.left) + parseInt(area.x1);
        var form_top = parseInt(imgOffset.top) + parseInt(area.y1) + parseInt(area.height) + 5;

		$('#noteform').css({ left: form_left + 'px', top: form_top + 'px'});

		$('#noteform').show();

		$('#noteform').css("z-index", 10000);
		$('#NoteX1ok').val(area.x1);
		$('#NoteY1ok').val(area.y1);
		$('#NoteHeightok').val(area.height);
		$('#NoteWidthok').val(area.width);

	}

	function showaddnote1 (img, area) {
		var imgOffset = $(img).offset();
        var form_left = parseInt(imgOffset.left) + parseInt(area.x1);
        var form_top = parseInt(imgOffset.top) + parseInt(area.y1) + parseInt(area.height) + 5;

		$('#noteform').css({ left: form_left + 'px', top: form_top + 'px'});

		$('#noteform').show();

		$('#noteform').css("z-index", 10000);
		$('#NoteX11').val(area.x1);
		$('#NoteY11').val(area.y1);
		$('#NoteHeight1').val(area.height);
		$('#NoteWidth1').val(area.width);

	}

	function showaddnote2 (img, area) {
		var imgOffset = $(img).offset();
		var form_left  = parseInt(imgOffset.left) + parseInt(area.x1);
		var form_top   = parseInt(imgOffset.top) + parseInt(area.y1) + parseInt(area.height)+5;

		$('#noteform').css({ left: form_left + 'px', top: form_top + 'px'});

		$('#noteform').show();

		$('#noteform').css("z-index", 10000);
		$('#NoteX12').val(area.x1);
		$('#NoteY12').val(area.y1);
		$('#NoteHeight2').val(area.height);
		$('#NoteWidth2').val(area.width);

	}

	function showaddnote3 (img, area) {
		var imgOffset = $(img).offset();
		var form_left  = parseInt(imgOffset.left) + parseInt(area.x1);
		var form_top   = parseInt(imgOffset.top) + parseInt(area.y1) + parseInt(area.height)+5;

		$('#noteform').css({ left: form_left + 'px', top: form_top + 'px'});

		$('#noteform').show();

		$('#noteform').css("z-index", 10000);
		$('#NoteX13').val(area.x1);
		$('#NoteY13').val(area.y1);
		$('#NoteHeight3').val(area.height);
		$('#NoteWidth3').val(area.width);

	}



	</script>


{% endblock %}
{% block pageid 'detentrenamiento' %}
{% block pagetitle  %}{{"Proyecto" | trans}}: <a href="{{ path('formacion_volver',{
											'curso_id': curso_id,
											'mianchor': mianchor,
											'mitab'		: mitab,
											}
										)
						}}">{{curso.nombre}}</a>
		/ {{"Simulación" | trans }}: {{ entity.nombre }}{% endblock %}


{% block sidebar  %}

	<ul class="unstyled menuaborde">
  	<li><a href="#" id="btn_editar" class=""><img src="{{ asset('bundles/gitekuda/img/save18.png') }}" alt="Guardar">&nbsp;Guardar</a></li>
		<li><a href="{{ path ('detentrenamiento_volver',{
													'id': entity.id,
													'curso_id': curso_id,
													'mianchor':mianchor,
													'mitab':mitab
													})
									}}" id="btn_volver" class=""><img src="{{ asset('bundles/gitekuda/img/back18.png') }}" alt="volver">&nbsp;Volver</a></li>
  </ul>
{% endblock %}
{% block contenido %}

<div class="row">
	<form id="formulario" action="{{ path('detentrenamiento_edit', {
															'id'			: entity.id,
															'curso_id': curso_id,
															'mianchor': mianchor,
															'mitab'		: mitab,
															}
											)
									}}"
				method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}

		<input name="niretab" type="hidden" value="778" id="niretab" />

		<div id="tabs">
			<ul>
				<li><a href="#tabs-0">{{"Descripción" | trans }}</a></li>
				<li><a href="#tabs-1"><span id="textua">{{"Componente conforme" | trans }}</span></a></li>
				<li><a href="#tabs-2">{{"EPI conforme" | trans }}</a></li>
				<li><a href="#tabs-3">{{"Componente NO defectuoso" | trans }}</a></li>
				<li><a href="#tabs-4">{{"Colocar Componente" | trans }}</a></li>
				<li><a href="#tabs-5" class="erakutsi">{{"Petaca" | trans }}</a></li>
			</ul>
			<div id="tabs-0">
				<!-- <p>{ {"Nombre descriptivo para la Tarea:" | trans } }</p> -->
				<div id="divnombre">
		    		{{ form_label(form.nombre,'Nombre descriptivo: ' | trans,{'attr': {'class': 'title milabel' }}) }}
			   		{{ form_errors(form.nombre) }}
			   		{{ form_widget(form.nombre,{ 'attr': {'class': 'input xlarge'}}) }}
				</div>
				<br />
				<div id="divpregunta">
		    		{{ form_label(form.pregunta,'Pregunta: ' | trans,{'attr': {'class': 'title milabel' }}) }}
		    		{{ form_errors(form.pregunta) }}
		    		{{ form_widget(form.pregunta,{ 'attr': {'class': 'input xlarge'}}) }}
				</div>
				<br />
				<div id="divpregunta2">
		    		{{ form_label(form.pregunta2,'Pregunta: ' | trans,{'attr': {'class': 'title milabel' }}) }}
		    		{{ form_errors(form.pregunta2) }}
		    		{{ form_widget(form.pregunta2,{ 'attr': {'class': 'input xlarge'}}) }}
				</div>
				<br />
				<div id="divpregunta3">
		    		{{ form_label(form.pregunta3,'Pregunta: ' | trans,{'attr': {'class': 'title milabel' }}) }}
		    		{{ form_errors(form.pregunta3) }}
		    		{{ form_widget(form.pregunta3,{ 'attr': {'class': 'input xlarge' }}) }}
				</div>
				<br />
				<div id="divformacionasociada">
		 			{{ form_label(form.detformacion,'Formación asociada' | trans,{'attr': {'class': 'title milabel'}}) }}
					{{ form_errors(form.detformacion) }}
					{{ form_widget(form.detformacion, { 'attr': {'class': 'normalSelect input xlarge' } }) }}
				</div>
				<br />
				<div>
					<pre class="title required">
							{{"Tipo Simulación" | trans }}: {{ entity.tipoentrenamiento}}
					</pre>
				</div>
			</div> <!-- tabs-0 -->


			<div id="tabs-1">
				<div id="lehena" class="divblokes">
						<p>{{"Imagen incorrecto Nº 1" | trans}}</p>
						<div class="divfimg btn_muestradiv" >
									{% if entity.img1 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimg1">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimg1">
											<img src="{{ vich_uploader_asset(entity, 'fimg1') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .lehena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="bigarrena" class="divblokes">
					<p>{{"Imagen incorrecto Nº 2" | trans }}</p>
						<div class="divfimg btn_muestradiv" >
									{% if entity.img2 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimg2">{{"No imagen" | trans}} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimg2">
											<img src="{{ vich_uploader_asset(entity, 'fimg2') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .bigarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="hirugarrena" class="divblokes">
					<p>{{"Imagen incorrecto Nº 3" | trans }}</p>
						<div class="divfimg btn_muestradiv" >
									{% if entity.img3 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimg3">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimg3">
											<img src="{{ vich_uploader_asset(entity, 'fimg3') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
					</div><!-- .hirugarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="laugarrena" class="divblokes">
					<p>{{"Imagen CORRECTA" | trans }}:</p>
						<div class="divfimg btn_muestradiv" >
									{% if entity.imgok is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgok">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgok">
											<img src="{{ vich_uploader_asset(entity, 'fimgok') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .laugarrena -->

				<div class="clearbiak"></div>
				<div class="inputimg" id="fimg1" style="display:none">
					{{ form_label(form.fimg1) }}
					{{ form_errors(form.fimg1) }}
					{{ form_widget(form.fimg1) }}
				</div>
				<div class="inputimg" id="fimg2" style="display:none">
				    {{ form_label(form.fimg2) }}
				    {{ form_errors(form.fimg2) }}
				    {{ form_widget(form.fimg2) }}
				</div>
				<div class="inputimg" id="fimg3" style="display:none">
				    {{ form_label(form.fimg3) }}
				    {{ form_errors(form.fimg3) }}
				    {{ form_widget(form.fimg3) }}
				</div>
				<div class="inputimg" id="fimgok" style="display:none">
				    {{ form_label(form.fimgok) }}
				    {{ form_errors(form.fimgok) }}
				    {{ form_widget(form.fimgok) }}
				</div>
			</div>

			<div id="tabs-2">
				<div id="seigarrena" class="divblokes">
					<p>{{"Imagen EPI incorrecta Nº 1:" | trans }}</p>
						<div class="divfimg btn_muestradiv" >
									{% if entity.imgepi1 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgepi1">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgepi1">
											<img src="{{ vich_uploader_asset(entity, 'fimgepi1') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .seigarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="zazpigarrena" class="divblokes">
					<p>{{"Imagen EPI incorrecta Nº 2:" | trans }}</p>
						<div class="divfimg btn_muestradiv" >
									{% if entity.imgepi2 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgepi2">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgepi2">
											<img src="{{ vich_uploader_asset(entity, 'fimgepi2') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .zazpigarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="zortzigarrena" class="divblokes">
					<p>{{"Imagen EPI incorrecta Nº 3:" | trans }}</p>
						<div class="divfimg btn_muestradiv" >
									{% if entity.imgepi3 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgepi3">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgepi3">
											<img src="{{ vich_uploader_asset(entity, 'fimgepi3') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .zortzigarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="bederatzigarrena" class="divblokes">
					<p>{{"Imagen EPI CONFORME:" | trans }}</p>
						<div class="divfimg btn_muestradiv">
									{% if entity.imgepiok is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgepiok">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgepiok">
											<img src="{{ vich_uploader_asset(entity, 'fimgepiok') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .bederatzigarrena -->

				<div class="clearbiak"></div>
				<div class="inputimg" id="fimgepi1" style="display:none">
				  {{ form_label(form.fimgepi1) }}
				  {{ form_errors(form.fimgepi1) }}
				  {{ form_widget(form.fimgepi1) }}
				</div>
				<div class="inputimg" id="fimgepi2" style="display:none">
				    {{ form_label(form.fimgepi2) }}
				    {{ form_errors(form.fimgepi2) }}
				    {{ form_widget(form.fimgepi2) }}
				</div>
				<div class="inputimg" id="fimgepi3" style="display:none">
				    {{ form_label(form.fimgepi3) }}
				    {{ form_errors(form.fimgepi3) }}
				    {{ form_widget(form.fimgepi3) }}
				</div>
				<div class="inputimg" id="fimgepiok" style="display:none">
				    {{ form_label(form.fimgepiok) }}
				    {{ form_errors(form.fimgepiok) }}
				    {{ form_widget(form.fimgepiok) }}
				</div>
			</div>

			<div id="tabs-3">

				<div id="hamargarrena" class="divblokes">
					<p>{{"Imagen componente defectuoso Nº 1:" | trans }}</p>
						<div class="divfimg" class="btn_muestradiv">
									{% if entity.imgcomponente1 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgcomponente1">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgcomponente1">
											<img src="{{ vich_uploader_asset(entity, 'fimgcomponente1') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
					</div><!-- .hamargarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="hamaikagarrena" class="divblokes">
					<p>{{"Imagen componente defectuoso Nº 2:" | trans }}</p>
						<div class="divfimg" class="btn_muestradiv">
									{% if entity.imgcomponente2 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgcomponente2">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgcomponente2">
											<img src="{{ vich_uploader_asset(entity, 'fimgcomponente2') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .hamaikagarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="hamairugarrena" class="divblokes">
					<p>{{"Imagen componente defectuoso Nº 3:" | trans }}</p>
						<div class="divfimg" class="btn_muestradiv">
									{% if entity.imgcomponente3 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgcomponente3">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgcomponente3">
											<img src="{{ vich_uploader_asset(entity, 'fimgcomponente3') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .hamairugarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="hamalaugarrena" class="divblokes">
					<p>{{"Imagen componente CONFORME:" | trans }}</p>
						<div class="divfimg" class="btn_muestradiv">
									{% if entity.imgcomponenteok is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgcomponenteok">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgcomponenteok">
											<img src="{{ vich_uploader_asset(entity, 'fimgcomponenteok') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .hamalaugarrena -->

				<div class="clearbiak"></div>
				<div class="inputimg" id="fimgcomponente1" style="display:none">
				    {{ form_label(form.fimgcomponente1) }}
				    {{ form_errors(form.fimgcomponente1) }}
				    {{ form_widget(form.fimgcomponente1) }}
				</div>
				<div class="inputimg" id="fimgcomponente2" style="display:none">
				    {{ form_label(form.fimgcomponente2) }}
				    {{ form_errors(form.fimgcomponente2) }}
				    {{ form_widget(form.fimgcomponente2) }}
				</div>
				<div class="inputimg" id="fimgcomponente3" style="display:none">
				    {{ form_label(form.fimgcomponente3) }}
				    {{ form_errors(form.fimgcomponente3) }}
				    {{ form_widget(form.fimgcomponente3) }}
				</div>
				<div class="inputimg" id="fimgcomponenteok" style="display:none">
				    {{ form_label(form.fimgcomponenteok) }}
				    {{ form_errors(form.fimgcomponenteok) }}
				    {{ form_widget(form.fimgcomponenteok) }}
				</div>
			</div>

			<div id="tabs-4">

				<div id="hamabostgarrena" class="divblokes">
					<p>{{"Componente rotado incorrecto Nº 1:" | trans }}</p>
						<div class="divfimg" class="btn_muestradiv">
									{% if entity.imgrotar1 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgrotar1">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgrotar1">
											<img src="{{ vich_uploader_asset(entity, 'fimgrotar1') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .hamabostgarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="hamaseigarrena" class="divblokes">
					<p>{{"Componente rotado incorrecto Nº 2:" | trans }}</p>
						<div class="divfimg" class="btn_muestradiv">
									{% if entity.imgrotar2 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgrotar2">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgrotar2">
											<img src="{{ vich_uploader_asset(entity, 'fimgrotar2') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .hamaseigarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="hamazazpigarrena" class="divblokes">
					<p>{{"Componente rotado incorrecto Nº 3:" | trans }}</p>
						<div class="divfimg" class="btn_muestradiv">
									{% if entity.imgrotar3 is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgrotar3">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgrotar3">
											<img src="{{ vich_uploader_asset(entity, 'fimgrotar3') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .hamazazpigarrena -->

				<!-- <div class="clearbiak"></div> -->

				<div id="hamazortzigarrena" class="divblokes">
					<p>{{"Componente rotado CORRECTO:" | trans }}</p>
						<div class="divfimg" class="btn_muestradiv">
									{% if entity.imgrotarok is empty %}
										<a href="#" class="btn_muestradiv" rel="#fimgrotarok">{{"No imagen" | trans }} </a>
									{% else %}
										<a href="#" class="btn_muestradiv" rel="#fimgrotarok">
											<img src="{{ vich_uploader_asset(entity, 'fimgrotarok') }}" width="150" height="150"/>
										</a>
									{% endif %}
						</div><!-- .divfimg -->
				</div><!-- .hamazortzigarrena -->

				<div class="clearbiak"></div>
					<div class="inputimg" id="fimgrotar1" style="display:none">
					    {{ form_label(form.fimgrotar1) }}
					    {{ form_errors(form.fimgrotar1) }}
					    {{ form_widget(form.fimgrotar1) }}
					</div>
					<div class="inputimg" id="fimgrotar2" style="display:none">
					    {{ form_label(form.fimgrotar2) }}
					    {{ form_errors(form.fimgrotar2) }}
					    {{ form_widget(form.fimgrotar2) }}
					</div>
					<div class="inputimg" id="fimgrotar3" style="display:none">
					    {{ form_label(form.fimgrotar3) }}
					    {{ form_errors(form.fimgrotar3) }}
					    {{ form_widget(form.fimgrotar3) }}
					</div>
					<div class="inputimg" id="fimgrotarok" style="display:none">
					    {{ form_label(form.fimgrotarok) }}
					    {{ form_errors(form.fimgrotarok) }}
					    {{ form_widget(form.fimgrotarok) }}
					</div>
			</div>

			<div id="tabs-5">
				<div id="hemeretzigarrena">

					<p>{{"Imagen de la petaca:" | trans}}</p>
					<div id="btn_cambiar_petaca">
						<a href="#" class="btn_muestradiv btn" rel="#fimgbase">{{"Cambiar petaca" | trans }}</a>
					</div>

					<div class="inputimg" id="fimgbase" style="display:none">
					    {{ form_label(form.fimgbase) }}
					    {{ form_errors(form.fimgbase) }}
					    {{ form_widget(form.fimgbase) }}
					</div>
					<div class="clearfix"></div>
					<div id="divfimgbase" class="btn_muestradiv">
						{% if entity.imgbase is empty %}
							<a href="#" class="btn_muestradiv" rel="#fimgbase">{{"No imagen" | trans }} </a>
						{% else %}
							<div id="divpetaca">
								<img id="petaca" style="position:relative"
											src="{{ vich_uploader_asset(entity, 'fimgbase') }}" width="700" height="380"/>
								<div id="divcoorok" style="{{ entity.coordenadasok }} background-color:#000000;"></div>
								<div id="divcoor1" style="{{ entity.coordenadas }}"></div>
								<div id="divcoor2" style="{{ entity.coordenadas2 }}"></div>
								<div id="divcoor3" style="{{ entity.coordenadas3 }}"></div>
								<input type="hidden" name="flagok" 	value="0" id="flagok">
								<input type="hidden" name="flag" 	value="0" id="flag">
								<input type="hidden" name="flag2" 	value="0" id="flag2">
								<input type="hidden" name="flag3" 	value="0" id="flag3">
							</div><!-- #divpetaca -->
						{% endif %}

						<br />
						<ul id="mnuzonas" class="unestyled">
							<li><a href="#" id='addnotelinkok'	class="btn success"
											rel="popover"
											data-content="Selecciona el área correcta donde se conecta."
											data-original-title="Área correcta"	>{{"Añadir area OK" | trans }}</a></li>

							<li><a href="#" id='addnotelink1'		class="btn danger"
											rel="twipsy"
											data-content="Un area incorrecta."
											data-original-title="Área incorrecta"	>{{"Añadir área1"  | trans }}</a></li>
							<li><a href="#" id='addnotelink2'		class="btn danger" >{{"Añadir área2" | trans }}</a></li>
							<li><a href="#" id='addnotelink3'		class="btn danger" >{{"Añadir área3" | trans }}</a></li>
						</ul>

						<div id="noteform"  style="display:none;">
							<form id="NoteAddForm" method="post" style="display:none;">
								<input name="data[Note][x1]" 		type="hidden" value="" id="NoteX1ok" />
								<input name="data[Note][y1]" 		type="hidden" value="" id="NoteY1ok" />
								<input name="data[Note][height]" 	type="hidden" value="" id="NoteHeightok" />
								<input name="data[Note][width]" 	type="hidden" value="" id="NoteWidthok" />
							</form>
							<form id="NoteAddForm1" method="post" style="display:none;">
								<input name="data[Note][x1]" 		type="hidden" value="" id="NoteX11" />
								<input name="data[Note][y1]" 		type="hidden" value="" id="NoteY11" />
								<input name="data[Note][height]" 	type="hidden" value="" id="NoteHeight1" />
								<input name="data[Note][width]" 	type="hidden" value="" id="NoteWidth1" />
							</form>
							<form id="NoteAddForm2" method="post" style="display:none;">
								<input name="data[Note][x1]" 		type="hidden" value="" id="NoteX12" />
								<input name="data[Note][y1]" 		type="hidden" value="" id="NoteY12" />
								<input name="data[Note][height]" 	type="hidden" value="" id="NoteHeight2" />
								<input name="data[Note][width]" 	type="hidden" value="" id="NoteWidth2" />
							</form>
							<form id="NoteAddForm3" method="post" style="display:none;">
								<input name="data[Note][x1]" 		type="hidden" value="" id="NoteX13" />
								<input name="data[Note][y1]" 		type="hidden" value="" id="NoteY13" />
								<input name="data[Note][height]" 	type="hidden" value="" id="NoteHeight3" />
								<input name="data[Note][width]" 	type="hidden" value="" id="NoteWidth3" />
							</form>
						</div>
					</div><!-- .divfimg -->


					<div class="inputimg" style="display:none;">
					    {{ form_label(form.coordenadasok) }}
					    {{ form_errors(form.coordenadasok) }}
					    {{ form_widget(form.coordenadasok) }}
					</div>
					<div class="inputimg" style="display:none;">
					    {{ form_label(form.coordenadas) }}
					    {{ form_errors(form.coordenadas) }}
					    {{ form_widget(form.coordenadas) }}
					</div>
					<div class="inputimg" style="display:none;">
					    {{ form_label(form.coordenadas2) }}
					    {{ form_errors(form.coordenadas2) }}
					    {{ form_widget(form.coordenadas2) }}
					</div>
					<div class="inputimg" style="display:none;">
					    {{ form_label(form.coordenadas3) }}
					    {{ form_errors(form.coordenadas3) }}
					    {{ form_widget(form.coordenadas3) }}
					</div>
					<div class="clearfix"></div>
					<div>
							<p>{{"La áreas se mostraran una vez se graben los datos." | trans}}</p>
					</div>
				</div><!-- .hemeretzigarrena -->
				<div class="clearbiak"></div>
			</div>

		</div><!-- tabs -->

		{{ form_rest(form) }}

		<br />

		<input type="hidden" name="curso_id" value="{{curso_id}}">

	</form>

	<div class="clearbiak"></div>

</div><!-- row -->

<script type="text/javascript" charset="utf-8">

	$('#btn_editar').click(function() {

                // comprobamos que se ha seleccionado una formación
                var idformazioa = $('#gitek_udabundle_detentrenamientotype_detformacion').val();

                if ( idformazioa === "" ) {
                    alert("Seleccionad una formación asociada.");
                    return 0;
                }

				var imgOffset = $('#petaca').offset();

				var flagok = $('#flagok').val();

				if ( flagok == "1" ) {
		  			var x1 = $('#NoteX1ok').val();
					var y1 = $('#NoteY1ok').val();
					var w1 = $('#NoteWidthok').val();
					var h1 = $('#NoteHeightok').val();

					var mitop = parseInt(y1) 	+ parseInt(99);

					var mileft = parseInt(x1) + parseInt(22);
					var r11 = "top:" + mitop + "px;width:" + w1 + "px;left:" + mileft + "px;height:" + h1 + "px;";

					$('#gitek_udabundle_detentrenamientotype_coordenadasok').val(r11);
				}

				var flag = $('#flag').val();

				if ( flag == "1" ) {
		  			var x1 = $('#NoteX11').val();
					var y1 = $('#NoteY11').val();
					var w1 = $('#NoteWidth1').val();
					var h1 = $('#NoteHeight1').val();

					var mitop = parseInt(y1) 	+ parseInt(99);

					var mileft1 = parseInt(x1) + parseInt(22);
					var r1 = "top:" + mitop + "px;width:" + w1 + "px;left:" + mileft1 + "px;height:" + h1 + "px;";

					$('#gitek_udabundle_detentrenamientotype_coordenadas').val(r1);
				}

				var flag2 = $('#flag2').val();

				if ( flag2 == "1" ) {
		  			var x1 = $('#NoteX12').val();
					var y1 = $('#NoteY12').val();
					var w1 = $('#NoteWidth2').val();
					var h11 = $('#NoteHeight2').val();

					var mitop = parseInt(y1) 	+ parseInt(99);
					var mileft = parseInt(x1) + parseInt(22);
					var r1 = "top:" + mitop + "px;width:" + w1 + "px;left:" + mileft + "px;height:" + h11 + "px;";

					$('#gitek_udabundle_detentrenamientotype_coordenadas2').val(r1);
				}

				var flag3 = $('#flag3').val();

				if ( flag3 == "1" ) {
		  			var x1 = $('#NoteX13').val();
					var y1 = $('#NoteY13').val();
					var w1 = $('#NoteWidth3').val();
					var h1 = $('#NoteHeight3').val();

					var mitop1 = parseInt(y1) 	+ parseInt(99);
					var mileft = parseInt(x1) + parseInt(22);
					var r1 = "top:" + mitop1 + "px;width:" + w1 + "px;left:" + mileft + "px;height:" + h1 + "px;";

					$('#gitek_udabundle_detentrenamientotype_coordenadas3').val(r1);
				}

				var selected = $('#tabs').tabs('option', 'selected');

				$('#niretab').val(selected);
				$('#formulario').submit();
			}
		);


	$('#btn_eliminar').click(function() {
	  $('#deleteform').submit();
	});

	$('.btn_muestradiv').click(function(e) {
	  $(this.rel).toggle();
	  e.preventDefault();
	});


	$("a[rel=popover]").popover({ offset: 10 });
  $("a[rel=twipsy]").twipsy({ offset: 10 });

</script>

{% endblock %}