
<form action="{{ path('detentrenamiento_create', { 
																	'entrenamiento_id' : detentrenamiento.entrenamiento.id, 
																	'curso_id': curso_id  
																	} 
											) 
							}}" 
							method="post" {{ form_enctype(form) }} class="entrenamiento">
    {#{ form_widget(form) }#}

		{{ form_errors(form) }}

			<div id="formtabak"> 
				<ul> 
					<li><a href="#formtabs-0">Descripción</a></li>
					<li><a href="#formtabs-1">Componente conforme</a></li> 
					<li><a href="#formtabs-2">EPI conforme</a></li> 
					<li><a href="#formtabs-3">Componente NO defectuoso</a></li> 
					<li><a href="#formtabs-4">Colocar Componente</a></li>
					<li><a href="#formtabs-5">Petaca</a></li>
				</ul> 
				<div id="formtabs-0">
					<p>&nbsp;</p>
					<p>Nombre descriptivo para la Tarea:</p>
					<div>
			    		{{ form_label(form.nombre,'Nombre descriptivo: ',{'attr': {'class': 'title' }}) }}
			    		{{ form_errors(form.nombre) }}
			    		{{ form_widget(form.nombre,{ 'attr': {'class': 'input'}}) }}
					</div>					
					<br />		
					<div>
							{{ form_label(form.formacion,'Formación asociada',{'attr': {'class': 'title'}}) }}
		    			{{ form_errors(form.formacion) }}
		    			{{ form_widget(form.formacion, { 'attr': {'class': 'normalSelect' } }) }}
					</div>	
					<p>&nbsp;</p>	
				</div>
				<div id="formtabs-1"> 
					<div>
					    {{ form_label(form.fimg1,'Img correncto Nº1: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimg1) }}
					    {{ form_widget(form.fimg1) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimg2,'Img correncto Nº2: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimg2) }}
					    {{ form_widget(form.fimg2) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimg3,'Img correncto Nº3: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimg3) }}
					    {{ form_widget(form.fimg3) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimgok,'Img correncto OK: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimgok) }}
					    {{ form_widget(form.fimgok) }}
					</div>
				</div> 
				<div id="formtabs-2"> 
					<div>
					    {{ form_label(form.fimgepi1,'Img EPI Nº1: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimgepi1) }}
					    {{ form_widget(form.fimgepi1) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimgepi2,'Img EPI Nº2: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimgepi2) }}
					    {{ form_widget(form.fimgepi2) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimgepi3,'Img EPI Nº3: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimgepi3) }}
					    {{ form_widget(form.fimgepi3) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimgepiok,'Img EPI OK: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimgepiok) }}
					    {{ form_widget(form.fimgepiok) }}
					</div>
				</div> 
				<div id="formtabs-3"> 
					<div>
					    {{ form_label(form.fimgcomponente1,'Img componente Nº1: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimgcomponente1) }}
					    {{ form_widget(form.fimgcomponente1) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimgcomponente2,'Img componente Nº2: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimgcomponente2) }}
					    {{ form_widget(form.fimgcomponente2) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimgcomponente3,'Img componente Nº2: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimgcomponente3) }}
					    {{ form_widget(form.fimgcomponente3) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimgcomponenteok,'Img componente OK: ',{'attr': {'class': 'title' }}) }}
					    {{ form_errors(form.fimgcomponenteok) }}
					    {{ form_widget(form.fimgcomponenteok) }}
					</div>
				</div>
				<div id="formtabs-4"> 
					<div>
					    {{ form_label(form.fimgrotar1,'Img rotar Nº1:',{'attr': {'class': 'title'}}) }}
					    {{ form_errors(form.fimgrotar1) }}
					    {{ form_widget(form.fimgrotar1) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimgrotar2,'Img rotar Nº2:',{'attr': {'class': 'title'}}) }}
					    {{ form_errors(form.fimgrotar2) }}
					    {{ form_widget(form.fimgrotar2) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimgrotar3,'Img rotar Nº3:',{'attr': {'class': 'title'}}) }}
					    {{ form_errors(form.fimgrotar3) }}
					    {{ form_widget(form.fimgrotar3) }}
					</div>
					<div class="clearfix"></div>
					<div>
					    {{ form_label(form.fimgrotarok,'Img rotar OK:',{'attr': {'class': 'title'}}) }}
					    {{ form_errors(form.fimgrotarok) }}
					    {{ form_widget(form.fimgrotarok) }}
					</div>
				</div>
				<div id="formtabs-5">
					<div>
					    {{ form_label(form.fimgbase,'Img petaca: ',{'attr': {'class': 'title'}}) }}
					    {{ form_errors(form.fimgbase) }}
					    {{ form_widget(form.fimgbase) }}
					</div>
					
				</div>
			</div>

			{{ form_rest(form) }}
			
		<p>&nbsp;</p>
    <p>
        <button type="submit" class="btn success">Guardar</button>
    </p>
</form>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$( "#formtabak" ).tabs();
	});
</script>