<table  class="zebra-striped">
  <thead>
    <tr>
     <th>&nbsp;</th>
     <th>{{"Nombre" | trans}}</th>
     <th>{{"Pregunta" | trans}}</th>
     <th>{{"Tipo" | trans}}</th>
     <th>{{"Formacion" | trans}}</th>
     <th>1</th>
     <th>2</th>
     <th>3</th>
     <th>4</th>
     <th>5</th>
   </tr>
 </thead>
 <tbody>
  {% if not detentrenamientos is empty %}
  {% for entity in detentrenamientos %}
  {% if entity.img1==""
  and entity.img2==""
  and entity.img3==""
  and entity.imgok==""
  and entity.imgepi1==""
  and entity.imgepi2==""
  and entity.imgepi3==""
  and entity.imgepiok==""
  and entity.imgcomponente1==""
  and entity.imgcomponente2==""
  and entity.imgcomponente3==""
  and entity.imgcomponenteok==""
  and entity.imgrotar1==""
  and entity.imgrotar2==""
  and entity.imgrotar3==""
  and entity.imgrotarok==""
  and entity.imgbase==""
  and entity.coordenadas==""
  and entity.coordenadas2==""
  and entity.coordenadas3==""
  and entity.coordenadasok==""
  %}
  {% set miclass="incompleto" %}
  {% else %}
  {% set miclass="''" %}
  {% endif %}
  <tr class="{{ miclass }}">
    <td class="{{ miclass }} lehena">
      {% if (app.request.attributes.get('_route') !="entrenamiento_show") %}
      {% if not curso.protegido %}
      <a href="{{ path('detentrenamiento_edit',{ 'id': entity.id,'curso_id': detcurso.curso.id,'mianchor':loop.parent.loop.index,'mitab'   :1}) }}" class="">
        <img src="{{asset('/bundles/gitekuda/img/editar11.png')}}" alt="Editar">&nbsp;{{"Editar" | trans}}
      </a>
      {% endif %}
      {% else %}
        {% if not curso.protegido %}
        <a href="{{ path('detentrenamiento_edit',{ 'id': entity.id,'curso_id': curso_id,'mianchor': mianchor,'mitab'   : mitab }) }}" class="">
          <img src="{{asset('/bundles/gitekuda/img/editar11.png')}}" alt="Editar">&nbsp;{{"Editar" | trans}}
        </a>
        {% endif %}
      {% endif %}
      {% if (app.request.attributes.get('_route') !="entrenamiento_show") %}
        {% if not curso.protegido %}
          <a href="{{ path('detentrenamiento_delete',{ 'id': entity.id,'curso_id':detcurso.curso.id,'mianchor':loop.parent.loop.index,'mitab':1 }) }}"
          onclick="return confirm('¿Seguro que desea eliminar?');" rel="{{loop.parent.loop.index}}--1">
            <img src="{{asset('/bundles/gitekuda/img/eliminar11.png')}}" alt="Eliminar" >&nbsp;{{"Eliminar" | trans}}
          </a>
        {% endif %}
    {% endif %}
  </td>
  <td class="{{ miclass }}">{{ entity.nombre }}</td>
  <td class="{{ miclass }}">
    {% if entity.pregunta is empty %}
    {{"No definido" | trans}}
    {% else %}
    {{ entity.pregunta }}
    {% endif %}
  </td>
  <td class="{{ miclass }}">{{ entity.tipoentrenamiento }}</td>
  <td class="{{ miclass }}">
    {% if entity.detformacion is empty %}
    {{"No definido" | trans}}
    {% else %}
    {{ entity.detformacion.nombre }}
    {% endif %}
  </td>
  <td class="{{ miclass }}">
    {% if entity.imgok is empty %}&nbsp;
    {% else %}
    <img src="{{ asset('uploads/documents/') }}{{entity.imgok }}" class="tooltip" width="20" height="20">
    {% endif %}
  </td>
  <td class="{{ miclass }}">
    {% if entity.imgepiok is empty %}&nbsp;
    {% else %}
    <img src="{{ asset('uploads/documents/') }}{{entity.imgepiok }}" class="tooltip" width="20" height="20">
    {% endif %}
  </td>
  <td class="{{ miclass }}">
    {% if entity.imgcomponenteok is empty %}&nbsp;
    {% else %}
    <img src="{{ asset('uploads/documents/') }}{{entity.imgcomponenteok }}" class="tooltip" width="20" height="20">
    {% endif %}
  </td>
  <td class="{{ miclass }}">
    {% if entity.imgrotarok is empty %}&nbsp;
    {% else %}
    <img src="{{ asset('uploads/documents/') }}{{entity.imgrotarok }}" class="tooltip" width="20" heigh="20">
    {% endif %}
  </td>
  <td class="{{ miclass }}">
    {% if entity.imgbase is empty %}&nbsp;
    {% else %}
    <img src="{{ asset('uploads/documents/') }}{{entity.imgbase }}" class="tooltip" width="20" height="20">
    {% endif %}
  </td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>

<br />
{#<script >#}
{#$('.tooltip').tooltip({#}
{#delay: 0,#}
{#showURL: false,#}
{#bodyHandler: function() {#}
{#return $('<img/>').attr("src", this.src).attr("height",400);#}
{#}#}
{#});#}

{#</script>#}
<script>
$(document).ready(function() {
  $('.tooltip').tooltip({
    bodyHandler: function() {
      return $("<img/>").attr("src", this.src).attr("height",300);
    }
  });
});
</script>