<h1>Detentrenamiento creation</h1>
<form action="{{ path('detentrenamiento_create') }}" method="post" {{ form_enctype(form) }}>
    {#{ form_widget(form) }#}

    <p>
        <button type="submit">Createss</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('detentrenamiento') }}">
            Back to the list
        </a>
    </li>
</ul>
