



{% block contenido %}
	{% block titulo %}
		<div class="titulo">
			<h1>{{ detentrenamiento.nombre }}</h1>				
		</div><!-- .titulo -->
	{% endblock %}

	{% block entrenamiento %}
		<div class="span16 entrenamiento kaxak">
			
			{% if detentrenamiento.tipoentrenamiento.tipo == "X7" %}

				{% if detentrenamiento.orden =="1" %}
					{% include 'GitekUdaBundle:Detentrenamiento:x71.html.twig' %}
				{% endif %}
				{% if detentrenamiento.orden =="2" %}
					{% include 'GitekUdaBundle:Detentrenamiento:x72.html.twig' %}
				{% endif %}
				{% if detentrenamiento.orden =="3" %}
					{% include 'GitekUdaBundle:Detentrenamiento:x73.html.twig' %}
				{% endif %}
				{% if detentrenamiento.orden =="4" %}
					{% include 'GitekUdaBundle:Detentrenamiento:x74.html.twig' %}
				{% endif %}
				{% if detentrenamiento.orden =="5" %}
					{% include 'GitekUdaBundle:Detentrenamiento:x75.html.twig' %}
				{% endif %}
				
			{% elseif detentrenamiento.tipoentrenamiento.tipo == "1-Imagen" %}

				{% include 'GitekUdaBundle:Detentrenamiento:x73.html.twig' %}

			{% elseif detentrenamiento.tipoentrenamiento.tipo == "4-Imagen" %}

				{% include 'GitekUdaBundle:Detentrenamiento:x71.html.twig' %}
			
			{% elseif detentrenamiento.tipoentrenamiento.tipo == "Colocar componente" %}

				{% include 'GitekUdaBundle:Detentrenamiento:x74.html.twig' %}

			{% endif %}

                <input type="hidden" id="midet"     name="midet"    value="{{detentrenamiento.id}}">	
                <input type="hidden" id="miruta"    name="miruta"   value="{{ path('sumad16') }}">
                <!-- <input type="hidden" id="mifallo"   name="mifallo"  value="{ { path('fallo') }}"> -->

            </div><!-- .span16 formacion -->

		<script type="text/javascript" charset="utf-8">
		
      $(document).ready(function() {
			$("div#div4imagenes").randomize("div.divimg");
			$(".resp").click(function(e) {
				$("#midethistorial_id").val({{detentrenamiento.id}});
				var r = $(this).attr("rel");
				$("#respuesta").val(r);
				e.preventDefault();
			});
				
		});	


		(function($) {

            $.fn.randomize = function(childElem) {
            return this.each(function() {
		    var $this = $(this);
		    var elems = $this.children(childElem);

		    elems.sort(function() { return (Math.round(Math.random())-0.5); });  

		    $this.empty();  

		    for(var i=0; i < elems.length; i++)
		        $this.append(elems[i]);      
                      });    
                    }
		})(jQuery);


		</script>

	{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}
