<h1>Detentrenamiento</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Entrenamiento_id</th>
            <td>{{ entity.entrenamientoid }}</td>
        </tr>
        <tr>
            <th>Img2</th>
            <td>{{ entity.img2 }}</td>
        </tr>
        <tr>
            <th>Img3</th>
            <td>{{ entity.img3 }}</td>
        </tr>
        <tr>
            <th>Imgok</th>
            <td>{{ entity.imgok }}</td>
        </tr>
        <tr>
            <th>Imgepi1</th>
            <td>{{ entity.imgepi1 }}</td>
        </tr>
        <tr>
            <th>Imgepi2</th>
            <td>{{ entity.imgepi2 }}</td>
        </tr>
        <tr>
            <th>Imgepi3</th>
            <td>{{ entity.imgepi3 }}</td>
        </tr>
        <tr>
            <th>Imgepiok</th>
            <td>{{ entity.imgepiok }}</td>
        </tr>
        <tr>
            <th>Imgcomponente1</th>
            <td>{{ entity.imgcomponente1 }}</td>
        </tr>
        <tr>
            <th>Imgcomponente2</th>
            <td>{{ entity.imgcomponente2 }}</td>
        </tr>
        <tr>
            <th>Imgcomponente3</th>
            <td>{{ entity.imgcomponente3 }}</td>
        </tr>
        <tr>
            <th>Imgcomponenteok</th>
            <td>{{ entity.imgcomponenteok }}</td>
        </tr>
        <tr>
            <th>Imgrotar1</th>
            <td>{{ entity.imgrotar1 }}</td>
        </tr>
        <tr>
            <th>Imgrotar2</th>
            <td>{{ entity.imgrotar2 }}</td>
        </tr>
        <tr>
            <th>Imgrotar3</th>
            <td>{{ entity.imgrotar3 }}</td>
        </tr>
        <tr>
            <th>Imgrotarok</th>
            <td>{{ entity.imgrotarok }}</td>
        </tr>
        <tr>
            <th>Imgbase</th>
            <td>{{ entity.imgbase }}</td>
        </tr>
        <tr>
            <th>Coordenadas</th>
            <td>{{ entity.coordenadas }}</td>
        </tr>
        <tr>
            <th>Coordenadas2</th>
            <td>{{ entity.coordenadas2 }}</td>
        </tr>
        <tr>
            <th>Coordenadasok</th>
            <td>{{ entity.coordenadasok }}</td>
        </tr>
        <tr>
            <th>Orden</th>
            <td>{{ entity.orden }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('detentrenamiento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('detentrenamiento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('detentrenamiento_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
