
<div id="divrow">
	
	<div id="div4imagenes">
		
		<div class="divimg">
			
			<a href="#" class="resp" rel="0" title=""> 
				<img src="{{ asset('uploads/documents/') }}{{detentrenamiento.imgepi1 }}" width="200" height="200"/>
			</a>

		</div>

		<div class="divimg">

			<a href="#" class="resp" rel="0" title=""> 
				<img src="{{ asset('uploads/documents/') }}{{detentrenamiento.imgepi2 }}" width="200" height="200"/>
			</a>

		</div>
		
		<div class="divimg">

			<a href="#" class="resp" rel="0" title=""> 
				<img src="{{ asset('uploads/documents/') }}{{detentrenamiento.imgepi3 }}" width="200" height="200"/>
			</a>

		</div>

		<div class="divimg">

			<a href="#" class="resp" rel="1" title=""> 
				<img src="{{ asset('uploads/documents/') }}{{detentrenamiento.imgepiok }}" width="200" height="200"/>
			</a>

		</div>
			
	</div><!-- .div4img -->
		
	<div class="clearfix"></div>
	
	<div id="divpregunta">
		<p id="ppregunta">{{ detentrenamiento.pregunta }}</p>
	</div>

	<div id="divmensaje" class="correcto" style="display:none;">
		<img id="imgemoticono" src="{{ asset('/bundles/gitekuda/img/emoticonoOK.png') }}">
		<p id="pimoticono">Las EPIs son correctas.</p>
	</div><!-- #divmensaje -->

	<div id="divmensajeincorrecto" class="incorrecto" style="display:none;">
		<img id="imgemoticonoincorrecto" src="{{ asset('/bundles/gitekuda/img/emoticonoKO.png') }}">
		<p id="pimoticonoincorrecto">Las EPIs no son las correctas.</p>
	</div><!-- #divmensaje -->

	<div id="div-emoyi-correcto" style="display:none;">
		<img id="imgemoticono" src="{{ asset('/bundles/gitekuda/img/1sonrie-verde.jpg') }}">
	</div><!-- #divmensaje -->

	<div id="div-emoyi-incorrecto" style="display:none;">
		<img id="imgemoticonoincorrecto" src="{{ asset('/bundles/gitekuda/img/1triste-rojo.jpeg') }}">
	</div><!-- #divmensaje -->

</div><!-- #divrow -->
	
<!-- </div> -->
<input type="hidden" id="miformacion" name="miformacion" value="{{detentrenamiento.detformacionid}}">
<a href="{{ path('detformacion_play',{'id': detentrenamiento.detformacionid }) }}"  id="nirefancy" style="display: none;">.</a>


<script>
		// Orden aleatorio de imágenes
		// $(document).ready(function() {
		// 	$("div#div4imagenes").randomize("div.divimg");
		// });


		// El boton se puede quitar, porque lo hará al cargar la página
		// en play.html.twig
	  $('#miboton').click(function() {
	    $("div#div4imagenes").randomize("div.divimg");
	  });

	
	(function($) {

	$.fn.randomize = function(childElem) {
	  return this.each(function() {
	      var $this = $(this);
	      var elems = $this.children(childElem);

	      elems.sort(function() { return (Math.round(Math.random())-0.5); });  

	      $this.empty();  

	      for(var i=0; i < elems.length; i++)
	        $this.append(elems[i]);      

	  });    
	}
	})(jQuery);

</script>

<script type="text/javascript">
	jQuery(document).ready(function() {

	//si pulsa Comprobamos si a pulsado el ok
	// $('#btncomprobar').click(function(e) {
	// 	var correcto = $('.seleccionado').parent().attr("rel");

	// 	if ( correcto == 1 ) { //
	// 		$('#divmensaje').removeClass('incorrecto');
	// 		$('#divmensaje').addClass('correcto');
	// 		$('#divmensaje').show();
	// 		$(this).hide();							
	// 		$('#divsiguiente').show();
	// 	} else {
	// 		//ocultamos la pregunta
	// 		// $('#divpregunta').hide();
			
	// 		var midet = $('#midethistorial_id').val();
	// 		var resp  = $('#respuesta').val();

	// 		if ( ( midet == "-1" ) || ( resp == "-1" ) ) {
	// 			alert("Selecciona la imagen correcta.")
	// 			return false
	// 		}

	// 		// $('#frmpaginator').submit();
	// 		// 1 -. por AJAX sumamos el ERROR
	// 	   	var $mivalor = $('#midet').val();
 //       		var $url =" {{ path('pulsakoajax') }}";

 //        	$.post($url, { midethistorial_id: $mivalor }
 //            	// ,function(data) { alert("The app says: " + data); }
 //        	); 

 //        	// 2-. ocultamos el boton correcto

	// 		$('#divmensajeincorrecto').show();
	// 		$('#btncomprobar').hide();
	// 		$('#btncorrecto').hide();
	// 		$('#btnincorrecto').hide();
	// 		$('#divopciones').show();
			
	// 	}
	// 	return false
	// 	// e.preventDefault();
		
	// });


	});
</script>























