
{% if detentrenamiento.tipoentrenamiento.tipo == "1-Imagen" %}

	<input type="hidden" id="oculto1" name="oculto1" value="{{ asset('uploads/documents/') }}{{detentrenamiento.img1 }}" />
	<input type="hidden" id="oculto2" name="oculto2" value="{{ asset('uploads/documents/') }}{{detentrenamiento.img2 }}" />
	<input type="hidden" id="oculto3" name="oculto3" value="{{ asset('uploads/documents/') }}{{detentrenamiento.img3 }}" />
	<input type="hidden" id="oculto4" name="oculto4" value="{{ asset('uploads/documents/') }}{{detentrenamiento.imgok }}" />

{% else %}

	<input type="hidden" id="oculto1" name="oculto1" value="{{ asset('uploads/documents/') }}{{detentrenamiento.imgcomponente1 }}" />
	<input type="hidden" id="oculto2" name="oculto2" value="{{ asset('uploads/documents/') }}{{detentrenamiento.imgcomponente2 }}" />
	<input type="hidden" id="oculto3" name="oculto3" value="{{ asset('uploads/documents/') }}{{detentrenamiento.imgcomponente3 }}" />
	<input type="hidden" id="oculto4" name="oculto4" value="{{ asset('uploads/documents/') }}{{detentrenamiento.imgcomponenteok }}" />

{% endif %}

<input type="hidden" id="kontatu" value="{{ app.session.get('cuenta') }}"  name="kontatu" />

<div id="divrow">

	<div id="div1imagenes">
		<div class="divimgcentrado">
			<a href="#" class="respo" rel="0" title="">
				<img id="imagenmostrar" src="" width="200" height="200"/>
			</a>
		</div>
	</div><!-- .divimg -->

	<div class="clearfix"></div>

	<div id="divpregunta">
		<p id="ppregunta">{{ detentrenamiento.pregunta }}</p>
	</div>

	<div id="divmensaje" class="correcto" style="display:none;">
		<img id="imgemoticono" src="{{ asset('/bundles/gitekuda/img/emoticonoOK.png') }}">
		<p id="pimoticono">El componente es correcto.</p>
	</div><!-- #divmensaje -->
	<div id="divmensajeincorrecto" class="incorrecto" style="display:none;">
		<img id="imgemoticono" src="{{ asset('/bundles/gitekuda/img/emoticonoKO.png') }}">
		<p id="pimoticono">El componente es incorrecto.</p>
	</div><!-- #divmensaje -->

	<div id="div-emoyi-correcto" style="display:none;">
		<img id="imgemoticono" src="{{ asset('/bundles/gitekuda/img/1sonrie-verde.jpg') }}">
	</div><!-- #divmensaje -->

	<div id="div-emoyi-incorrecto" style="display:none;">
		<img id="imgemoticonoincorrecto" src="{{ asset('/bundles/gitekuda/img/1triste-rojo.jpeg') }}">
	</div><!-- #divmensaje -->

	<!-- Para hace que muestre los botones correcto/incorrecto -->
	<input type="hidden" name="muestradivcorrectoincorrecto" value="1" id="muestradivcorrectoincorrecto">
	<input type="hidden" name="miiid" id="miid" value="{{detentrenamiento.id}}">
	<input type="hidden" name="miformacion" id="miformacion" value="{{detentrenamiento.detformacion }}">

			<!-- <a href="{ { path('detformacion_play',{'id': detentrenamiento.detformacion.id }) }}"  id="nirefacy" style="display:none;">Hau</a> -->
		<script type="text/javascript" charset="utf-8">
			jQuery(document).ready(function() {

			// Hirugarren ariketa dugula zehazten dugu
			$('#hirugarrenariketa').val(1);

			// le quitamos la habilidad de hacer click a la imagen
			$('.resp').unbind('click');
			// función para mostrar una imagen aleatoria

			var val1 = $('#oculto1').val();
			var val2 = $('#oculto2').val();
			var val3 = $('#oculto3').val();
			var val4 = $('#oculto4').val();
			// Si es la tercera vez que se ejecuta la misma prueba, muestra la correcta. No puede continuar hasta que acierte.
			// Tiene que mostrar la correcta, y tiene que acertar que es la correcta para poder continuar.
		    var kontatu = $('#kontatu').val();

			var miarray = [val1,val2,val3,val4];
			var valores = ["0","0","0","1"]

			var aleatorio = Math.floor(Math.random() * miarray.length);

			misrc = miarray[aleatorio];
			mival = valores[aleatorio];
			console.log(kontatu);
			if ( kontatu < 2 ) {
				$('#imagenmostrar').attr("src",misrc);
				$('#imagenmostrar').attr("rel",mival);
			} else {
				$('#imagenmostrar').attr("src",miarray[3]); // mostramos la correcta
				$('#imagenmostrar').attr("rel",valores[3]); // mostramos la correcta
			}



			$('#btncorrecto').click(function(e){

   				var seleccion = $('#imagenmostrar').attr("rel");

				if ( seleccion === "1" ) {
					// CORRECTO
					// $('#divmensaje').show();
					$('#div-emoyi-correcto').show();
					$(this).hide();
					$('#respuesta').val("1");
					var iiid = $('#miid').val();
					$('#midethistorial_id').val(iiid);
					$('#btnincorrecto').hide();
					$('#divsiguiente').show();
					return false

				} else {
					// Es incorrecto
					//ocultamos la pregunta
					$('#divpregunta').hide();
					var iiid = $('#miid').val();
					$('#midethistorial_id').val(iiid);

	            	// 1 -. por AJAX sumamos el ERROR
				   	var $mivalor = $('#midet').val();
				   	var $url =" {{ path('fallo') }}";

	            	$.post($url, { midethistorial_id: $mivalor }
	                	,function(data) {
							// 2-. ocultamos el boton correcto
							// $('#divmensajeincorrecto').show();
							$('#div-emoyi-incorrecto').show();
							$('#btncomprobar').hide();
							$('#btncorrecto').hide();
							$('#btnincorrecto').hide();

							// 3-. mostramos los botones Reintentar/D16/Solucion y damos funcionalidad
							$('#divopciones').show();
	                	}
	            	);

				}

			});

			$('#btnincorrecto').click(function(e){

				var seleccion = $('#imagenmostrar').attr("rel");

				if ( seleccion === "0" ) {
	                // es correcto
					// $('#divmensaje').show();
					$('#div-emoyi-correcto').show();
					$(this).hide();
					$('#respuesta').val("3"); // porque la imagen no es la correcta
					var iiid = $('#miid').val();
					$('#midethistorial_id').val(iiid);
					$('#btncorrecto').hide();
					$('#btnincorrecto').hide();
					$('#btnncorrecto').hide();
					$('#divsiguiente').show();
					return false
				} else {
	            	// Es incorrecto
	    			//ocultamos la pregunta
					$('#divpregunta').hide();

					var iiid = $('#miid').val();
					$('#midethistorial_id').val(iiid);

	            	// 1 -. por AJAX sumamos el ERROR
				   	var $mivalor = $('#midet').val();
	            	var $url =" {{ path('fallo') }}";

	            	$.post($url, { midethistorial_id: $mivalor }
	            		,function(data) {
			            	// 2-. ocultamos el boton correcto
			            	// $('#divmensajeincorrecto').show();
			            	$('#div-emoyi-incorrecto').show();
			            	$('#btncomprobar').hide();
			            	$('#btncorrecto').hide();
			            	$('#btnincorrecto').hide();

							// 3-. mostramos los botones Reintentar/D16/Solucion y damos funcionalidad
							$('#divopciones').show();
		            	}
		            );

				}

			});
		});
		</script>
</div><!-- #divrow -->



<input type="hidden" id="miformacion" name="miformacion" value="{{detentrenamiento.detformacionid}}">
<a href="{{ path('detformacion_play',{'id': detentrenamiento.detformacionid }) }}"  id="nirefancy" style="display: none;">.</a>
