
<input type="hidden" 	id="midivarea" name="midivarea" value="aa" />
<input type="hidden" id="oculto1" name="oculto1" value="{{ asset('uploads/documents/') }}{{detentrenamiento.imgrotar1 }}" />
<input type="hidden" id="oculto2" name="oculto2" value="{{ asset('uploads/documents/') }}{{detentrenamiento.imgrotar2 }}" />
<input type="hidden" id="oculto3" name="oculto3" value="{{ asset('uploads/documents/') }}{{detentrenamiento.imgrotar3 }}" />
<input type="hidden" id="oculto4" name="oculto4" value="{{ asset('uploads/documents/') }}{{detentrenamiento.imgrotarok }}" />
<input type="hidden" id="miid" 	name="miiid" value="{{detentrenamiento.id}}">

<div id="divrow">
	<div id="divcolocar" >

		<div id="divimgcolocar"  >
			
			<a href="#" class="respo" rel="0" title=""> 
				<img id="imgrotarseleccion" style="position:relative" src="{{ asset('uploads/documents/') }}{{detentrenamiento.imgrotarok }}" width="150" height="150"/>
			</a>
			
			<a id="btn_ezkerretara" href="#">
				<img src="{{asset('/bundles/gitekuda/img/rotar.png')}}" alt="Rotar" />	
			</a>
			
			<!-- <div id="ezkerretara">
							<a id="btn_ezkerretara" href="#">Ezkerrera</a>
						</div>
						<div id="eskuinetara">
							<a id="btn_eskuinetara" href="#">Eskuinera</a>
						</div>
						 -->
		</div>

		
		<div id="divbase" style="position: relative;">
			
			<img id="petaca" style="position:relative" src="{{ asset('uploads/documents/') }}{{detentrenamiento.imgbase }}" width="700" height="380"/>		

			<div id="link1" class="linkdiv" rel="1" style="{{ detentrenamiento.coordenadasok }} background-color:'black';">
				<a href="#" class="box" rel="0">
			</div>								

			<div id="link2" class="linkdiv" rel="0" style="{{ detentrenamiento.coordenadas }}">
				<a href="#" class="box"></a>
			</div>
			
			<div id="link3" class="linkdiv" rel="0" style="{{ detentrenamiento.coordenadas2 }}">
				<a href="#" class="box"></a>
			</div>	
			
			<div id="link4" class="linkdiv" rel="0" style="{{ detentrenamiento.coordenadas3 }}">
				<a href="#" class="box"></a>
			</div>			
			
			<!-- Reposicionamos con jQuery -->
			<script type="text/javascript" charset="utf-8">

				jQuery(document).ready(function() {

					// Si resolucion 1024 quitamos footer y header
					if (screen.width == 1024) { 
						$('#footer').hide();
						$('#footerimagensalir').show();
						$('#top-header').hide();
						$('.titulo').hide();					}

			
					//cambiamos el id del btncomprobar para que funcione el jQuery de esta página
					$('#btncomprobar').attr("id","btncomprobarx4");
					$('#btnsolucion').attr("id","btnsolucionx4");
					$('#btnsiguiente').attr("id","btnsiguientex4");					
					// reposicionas los elementos
					var newtop = $('#link1').position().top - 99;
					$('#link1').css('top', newtop + 'px');
					var newleft = $('#link1').position().left - 22;
					$('#link1').css('left', newleft + 'px');
				
					var newtop = $('#link2').position().top - 99;
					$('#link2').css('top', newtop + 'px');
					var newleft = $('#link2').position().left - 22;
					$('#link2').css('left', newleft + 'px');
				
					var newtop = $('#link3').position().top - 99;
					$('#link3').css('top', newtop + 'px');
					var newleft = $('#link3').position().left - 22;
					$('#link3').css('left', newleft + 'px');
				
					var newtop = $('#link4').position().top - 99;
					$('#link4').css('top', newtop + 'px');
					var newleft = $('#link4').position().left - 22;
					$('#link4').css('left', newleft + 'px');

					var val1 = $('#oculto1').val();
					var val2 = $('#oculto2').val();
					var val3 = $('#oculto3').val();
					var val4 = $('#oculto4').val();															
			    
					// no cambiar la posición correcta del array
					var miarray = [val1,val2,val3,val4];
					var valores = ["0","0","0","1"]
				
					var aleatorio = Math.floor(Math.random() * miarray.length);
				
					misrc = miarray[aleatorio];
					mival = valores[aleatorio];
			
					$('#imgrotarseleccion').attr("src",misrc);
					$('#imgrotarseleccion').attr("rel",mival);

					$('#imgrotarseleccion').attr('src', $(this).attr('src')); // forzamos el refresh

					$('#btn_ezkerretara').click(function(){
						//segun el aleatorio
					
						if (aleatorio < 3) {
							aleatorio++;
						} else {
							aleatorio=0
						}
					
						misrc = miarray[aleatorio];
						mival = valores[aleatorio];

						$('#imgrotarseleccion').attr("src",misrc);
						$('#imgrotarseleccion').attr("rel",mival);					

						return false
						
					});
				
					$('#btn_eskuinetara').click(function() {
						//segun el aleatorio
				
						if (aleatorio > 0) {
							aleatorio--;
						} else {
							aleatorio=3
						}
				
						misrc = miarray[aleatorio];
						mival = valores[aleatorio];

						$('#imgrotarseleccion').attr("src",misrc);
						$('#imgrotarseleccion').attr("rel",mival);										

						return false
				
					});

					$('.linkdiv').click(function(e){
						
						$('.linkdiv').removeClass('seleccionadox4');

						var misel = e.target;

						$(misel).addClass("seleccionadox4");
						

						var r = $(this).attr("rel");
						$("#midivarea").val(r);
						

					//Iker 11/04/2012
					//Quitamos el boton comprobar	
					// });
					
					
					// $('#btncomprobarx4').click(function() {
						
						var midivarea = $('#midivarea').val();
						
						if ( ( midivarea === "aa" ) ) {
							alert("Selecciona un área y pulse comprobar.")
							return false
						}
					
					

						if ( mival==="1" && midivarea==="1" ) {
							// 1-. Apuntamos por AJAX correcto
						  	var $mivalor = $('#midet').val();
				         	var $url =" {{ path('pulsaokajax') }}";
				         	$.post($url, { midethistorial_id: $mivalor }
				         		,function(data) { 
				         			$('#divsiguiente').show(); 
				         			$('#div-emoyi-correcto').show();
									$(this).hide();	
				         		}
				         	);

						} else if ( (mival==="0") || (midivarea==="0") ) {
							//ocultamos la pregunta
							$('#divpregunta').hide();
			
							// HACERLO POR AJAX
						 	// 1 -. por AJAX sumamos el ERROR
						   	var $mivalor = $('#midet').val();
			           		var $url =" {{ path('pulsakoajax') }}";

			            	$.post($url, { midethistorial_id: $mivalor }
			                	,function(data) { 
			                		$('#divsiguiente').show(); 
			                		$('#div-emoyi-incorrecto').show();
			            	
			            			$('#btncomprobarx74').hide();
									$('#imgcomprobar').hide();
			            			$('#btncorrecto').hide();
			            			$('#btnincorrecto').hide();

									$('#divopciones').show();

			                	}
			            	); 
						} 
						$('.linkdiv').unbind('click');	
						return false						
						
					});

					$('#btnsolucionx4').click(function(e){
						// var iiid = $('#midet').val();
						// $('#solucion_midethistorial_id').val(iiid);
						// $('#frmsolucion').submit();

						// 1-. Sumar a PulsaSolucion +1
						var $mivalor = $('#midet').val();
			         	var $url =" {{ path('solucionajax') }}";

			         	$.post($url, { midethistorial_id: $mivalor }
			         		// function(data) { alert("The app says: " + data); }
			         	); 

			         	// mostramos en imgrotar la imagen correcta
						// que siempre será la posición 3 del array
						$('#imgrotarseleccion').attr("src",miarray[3]);
						
						// ahora mostamos con fondo rojo las áreas incorrectas
						//  y en verde la área correcta.
						
						// primero quitamos la seleccionada
						$(".seleccionadox4").removeClass("seleccionadox4");
						$('.linkdiv').each(function(index) {

								var resul = $(this).attr( 'rel' );

								//quitamos la class seleccionado (si lo tuviera)
								$(this).removeClass("seleccionadox4")

								if ( resul == "0" ) {
									$(this).addClass("divsolucionincorrectox4");
								} else {
									$(this).addClass("divsolucioncorrectox4");						
								}

						});

					}); //btnsolucionx4
					
					$('#btnsiguientex4').click(function(e) {
						
						
						var miid = $('#miid').val();
						$('#midethistorial_id').val(miid);
						
						$('#frmpaginator').submit();
					
					}); // btnsiguientex4 

				});
				
			</script>
			
			
		</div>		
		</div><!-- #divcolocar -->
		<div class="clearfix"></div>
		
<!-- 		<div id="divpregunta">
			<p id="ppregunta">{ { detentrenamiento.pregunta }}</p>
		</div> -->
		<!-- <div style="display:none;"> -->
			
			<div id="div-emoyi-correcto" style="display:none;">
				<img id="imgemoticono" src="{{ asset('/bundles/gitekuda/img/1sonrie-verde.jpg') }}">
			</div><!-- #divmensaje -->

			<div id="div-emoyi-incorrecto" style="display:none;">
				<img id="imgemoticonoincorrecto" src="{{ asset('/bundles/gitekuda/img/1triste-rojo.jpeg') }}">
			</div><!-- #divmensaje -->

		<!-- </div> -->

	
	
</div>

<input type="hidden" id="miformacion" name="miformacion" value="{{detentrenamiento.detformacionid}}">
<a href="{{ path('detformacion_play',{'id': detentrenamiento.detformacionid }) }}"  id="nirefancy" style="display: none;">.</a>
<a href="#div-emoyi-correcto" id="a-emoyi-correcto" style="display:none;">.</a>
<a href="#div-emoyi-incorrecto" id="a-emoyi-incorrecto" style="display:none;">.</a>