<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Herramienta Apoyo a la Formación{% endblock %}</title>
  <meta name="description" content="{% block metadesc %}Herramienta Apoyo a la Formación{% endblock %}" />
  <meta name="author" content="Iker Ibarguren">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]--><!--[if (gte IE 6)&(lte IE 8)]>
    <script src="/static/js/selectivizr-min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <noscript>
      <link rel="stylesheet" href="[fallback css]">
    </noscript><![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript">
   document.createElement("nav");
   document.createElement("header");
   document.createElement("footer");
   document.createElement("section");
   document.createElement("article");
   document.createElement("aside");
   document.createElement("hgroup");
</script>
<![endif]-->
	{% block stylesheets %}
		<link href="{{ asset('/bundles/gitekuda/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
		<!-- <link href="{ { asset('/bundles/gitekuda/css/docs.css') }}" rel="stylesheet" type="text/css" /> -->
		<link href="{{ asset('/bundles/gitekuda/css/gitek.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/skin/jplayer.blue.monday.css') }}" rel="stylesheet" type="text/css" />
		<script src="{{ asset('/bundles/gitekuda/js/jquery-1.5.2.min.js') }}"></script>
  		<script src="{{ asset('/bundles/gitekuda/js/jquery.tablesorter.min.js') }}"></script>
  		<script src="{{ asset('/bundles/gitekuda/js/application.js') }}"></script>
		<script src="{{ asset('/bundles/gitekuda/js/jquery.jplayer.js') }}"></script>
        <script src="{{ asset('/bundles/gitekuda/js/jquery.jplayer.inspector.js') }}"></script>
 	{% endblock %}




  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body id="{% block pageid '' %}">

		{% block header %}{% endblock %}


 		{% block body %}

		<footer>

		{% endblock %}

			{% block footer %}

				<footer>

				</footer>
			{% endblock %}
		</footer>

  {% block javascripts %}{% endblock %}

</body>
</html>