<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Herramienta Apoyo a la Formación{% endblock %}</title>
  <meta name="description" content="{% block metadesc %}Herramienta Apoyo a la Formación{% endblock %}" />
  <meta name="author" content="Iker Ibarguren">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]--><!--[if (gte IE 6)&(lte IE 8)]>
    <script src="/static/js/selectivizr-min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <noscript>
      <link rel="stylesheet" href="[fallback css]">
    </noscript><![endif]-->

	{% block stylesheets %}
		<link href="{{ asset('/bundles/gitekuda/css/portada/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/portada/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css" />

    <script src="{{ asset('/bundles/gitekuda/js/jquery-1.5.2.min.js') }}"></script>
    <script src="{{ asset('/bundles/gitekuda/js/portada/bootstrap.min.js') }}"></script>

 	{% endblock %}




  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body id="{% block pageid '' %}">

		{% block header %}{% endblock %}


 		{% block body %}

		<footer>

		{% endblock %}

			{% block footer %}

				<footer>

				</footer>
			{% endblock %}
		</footer>

  {% block javascripts %}{% endblock %}

</body>
</html>