{% extends 'GitekUdaBundle::ajax.html.twig' %}

{% block body %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('#choose_curso').change(function(event) {
			$.ajax({
			        type: "GET",
			        data: "data=" + $(this).val(),
							cache: false,
			        url:"{{ path('entrenamiento_findentrenamientos') }}",
			        success: function(msg){
			            if (msg != ''){
			               $('#diventrenamientos').html(msg).show();
			               }
			               else
			               {
			                   $('#diventrenamientos').html('<em>No hay resultados</em>');
			               }
			           }
			       });
			$.ajax({
			        type: "GET",
			        data: "data=" + $(this).val(),
							cache: false,
			        url:"{{ path('entrenamiento_buscadetentrenamientos') }}",
			        success: function(msg){
			            if (msg != ''){
			               $('#divtabla').html(msg).show();
			               }
			               else
			               {
			                   $('#divtabla').html('<em>No hay resultados</em>');
			               }
			           }
			       });
		});

		$('#choose_entrenamiento').change(function(event) {
			$.ajax({
			        type: "GET",
			        data: "data=" + $(this).val(),
							cache: false,
			        url:"{{ path('entrenamiento_find') }}",
			        success: function(msg){
			            if (msg != ''){
			               $('#divtabla').html(msg).show();
			               }
			               else
			               {
			                   $('#divtabla').html('<em>No hay resultados</em>');
			               }
			           }
			       });
		});


	});
</script>

	<div class="clearfix"></div>
	<div class="divcombos">
		<div id="divcombocurso" class="">
			<form  method="get" accept-charset="utf-8">

				<label id="lblcombocurso" for="choose_curso">{{"Proyecto" | trans }}:&nbsp;</label>
				<select id="choose_curso" name="cursos">
					<option value="0">{{"Selecciona Proyecto" | trans }}:</option>
					{% for curso in cursos %}
				    <option value="{{curso.id}}">{{curso.nombre}}</option>
					{% endfor %}
				</select>
			</form>
		</div>

		<div id="diventrenamientos" class="">
			<form  method="get" accept-charset="utf-8">
				<label  id="lblcomboentrenamiento" for="choose_entrenamiento">{{"Operación" | trans }} :&nbsp;</label>
				<select id="choose_entrenamiento" name="entrenamientos">
					<option value="0">{{"Selecciona Operación" | trans }}:</option>
					{% for entrenamiento in entrenamientos %}
				    	<option value="{{entrenamiento.id}}">{{entrenamiento.nombre}}</option>
					{% endfor %}
				</select>
			</form>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="ajaxtabla">
		<form action="{{ path('entrenamiento_copy2') }}" method="post" class="entrenamiento">
			<div id="divtabla">
				<table class="zebra-striped">
				    <thead>
				        <tr>
							<th>{{"Selecciona" | trans }}</th>
				            <th>{{"Nombre" | trans }}</th>
				        </tr>
				    </thead>
				    <tbody>
				    {% for detentrenamiento in detentrenamientos %}
				        <tr>
							<td>
								<input type="checkbox" name="seleccionados[{{loop.index0}}]" value="{{ detentrenamiento.id }}" id="">
							</td>
				            <td>{{ detentrenamiento.nombre }}</td>
				        </tr>
				    {% endfor %}
				    </tbody>
				</table>
			</div><!-- #divtabla -->
			<p>&nbsp;</p>
			<div class="actions">
				<button type="submit" class="btn info">{{"Guardar" | trans }}</button>
				<input type="hidden" name="curso_id" 					value="{{curso_id}}">
				<input type="hidden" name="entrenamiento_id" 			value="{{entrenamiento_id}}">
				<input type="hidden" name="detcurso_id" 				value="{{detcurso_id}}">
				<input type="hidden" name="mianchor" 					value="{{mianchor}}"		>
				<input type="hidden" name="mitab" 						value="{{mitab}}"		>
			</div>
		</form>
	</div>

{% endblock %}