{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Proyectos{% endblock %}

{% block pageid 'formaciones' %}

{% block contenido %}

	<div class="row">
		
		<h1>Entrenamiento edit</h1>

		<div class="span4 columns">
			<ul class="record_actions">
			    <li>
			        <a href="{{ path('entrenamiento') }}">
			            Back to the list
			        </a>
			    </li>
			    <li>
			        <form action="{{ path('entrenamiento_delete', { 'id': entity.id }) }}" method="post">
			            {{ form_widget(delete_form) }}
			            <button type="submit">Delete</button>
			        </form>
			    </li>
			</ul>			
		</div>
		
		<div class="span12 columns">
			<form action="{{ path('entrenamiento_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
			    {{ form_widget(edit_form) }}
			    <p>
			        <button type="submit">Edit</button>
			    </p>
			</form>
		</div>
	</div>
{% endblock %}