<table class="records_list">
    <thead>
        <tr>
			<th>Selecciona</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
		{% if entrenamientos != null %}
			{% for entrenamiento in entrenamientos %}
                <tr>
                    <td>
                        <input type="checkbox" name="seleccionados[{{loop.index0}}]" value="{{ entrenamiento.id }}" id="">
                    </td>
                    <td>
                        {{ entrenamiento.nombre }}
                    </td>
                </tr>
    	   {% endfor %}
		{% endif %}
    </tbody>
</table>