<script type="text/javascript" charset="utf-8">
	$('#choose_entrenamiento').change(function(event) {
		$.ajax({
		        type: "GET",
		        data: "data=" + $(this).val(),
						cache: false,
		        url:"{{ path('entrenamiento_find') }}",
		        success: function(msg){
		            if (msg != ''){
		               $('#divtabla').html(msg).show();
		               }
		               else
		               {
		                   $('#divtabla').html('<em>No hay resultados</em>');
		               }
		           }
		       });		         
	});
</script>

	<form  method="get" accept-charset="utf-8">
		<label  id="lblcomboentrenamiento" for="choose_entrenamiento">Operación :&nbsp;</label>
		<select id="choose_entrenamiento" name="entrenamientos">
			<option value="0">Selecciona Operación:</option>
			{% for entrenamiento in entrenamientos %}
		    	<option value="{{entrenamiento.id}}">{{entrenamiento.nombre}}</option>
			{% endfor %}
		</select>
	</form>
