

<form action="{{ path('entrenamiento_create', { 'entrenamiento_id' : entrenamiento.tipoentrenamiento.id } ) }}" method="post" {{ form_enctype(form) }} class="entrenamiento">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>