{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Proyectos{% endblock %}

{% block pageid 'formaciones' %}

{% block contenido %}

	<div class="row">
		
		<h1>Simulación list</h1>
		
		<div class="span4 columns">
			<ul>
			    <li>
			        <a href="{{ path('entrenamiento_new') }}">
			            Create a new entry
			        </a>
			    </li>
			</ul>
		</div>
		
		<div class="span8 columns">
			<table class="records_list">
			    <thead>
			        <tr>
			            <th>Id</th>
			            <th>Nombre</th>
			            <th>Version</th>
			            <th>Tipoentrenamiendo_id</th>
			            <th>Orden</th>
			            <th>Tiempo_ini</th>
			            <th>Tiempo_fin</th>
			            <th>Actions</th>
			        </tr>
			    </thead>
			    <tbody>
			    {% for entity in entities %}
			        <tr>
			            <td><a href="{{ path('entrenamiento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
			            <td>{{ entity.nombre }}</td>
			            <td>{{ entity.version }}</td>
			            <td>{{ entity.tipoentrenamiendoid }}</td>
			            <td>{{ entity.orden }}</td>
			            <td>{{ entity.tiempoini | date("H:i") }}</td>
			            <td>{{ entity.tiempofin | date("H:i") }}</td>
			            <td>
			                <ul>
			                    <li>
			                        <a href="{{ path('entrenamiento_show', { 'id': entity.id }) }}">show</a>
			                    </li>
			                    <li>
			                        <a href="{{ path('entrenamiento_edit', { 'id': entity.id }) }}">edit</a>
			                    </li>
			                </ul>
			            </td>
			        </tr>
			    {% endfor %}
			    </tbody>
			</table>
		</div>
	</div>
{% endblock %}