{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Proyectos{% endblock %}

{% block pageid 'formaciones' %}

{% block contenido %}

	<div class="row">
		
		<h1>Entrenamiento creation</h1>

		<div class="span4 columns">
			<ul class="record_actions">
			    <li>
			        <a href="{{ path('entrenamiento') }}">
			            Back to the list
			        </a>
			    </li>
			</ul>
		</div>
		
		<div class="span12 columns">
			 {# % render 'GitekUdaBundle:Entrenamiento:new' with { 'tipoentrenamiento_id': entrenamiento.tipoentrenamiento.id } %#}
			<form action="{{ path('entrenamiento_create') }}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}
			    {{ form_row(form.nombre) }}
			    {{ form_row(form.version) }}
					{{ form_rest(form)}}
				
			    <input type="submit" value="Guardar" />
			</form>
		</div>
	</div>
{% endblock %}
