{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Proyectos{% endblock %}

{% block pageid 'formaciones' %}

{% block contenido %}

	<div class="row">
		
		<h1>Seleccionar tipo simulación</h1>
		
		<div class="span12 columns">
			<form action="{{path('entrenamiento_new')}}" method="post" accept-charset="utf-8">
				<fieldset>
				  <legend> Seleccione </legend>
				  <p><label> <input type="radio" name="tipoentrenamiento_id" value="1" checked="true"> Tipo X7 </label></p>
				  <p><label> <input type="radio" name="tipoentrenamiento_id" value="2"> Otro</label></p>
				 </fieldset>

				<p><input type="submit" value="Continuar &rarr;"></p>
			</form>			
		</div><!-- .span12 columns -->
		
	</div>
{% endblock %}