{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Proyectos{% endblock %}
{% block stylesheets %}
{{ parent() }}
	<script src="{{ asset('/bundles/gitekuda/js/ui/jquery-ui-1.8.16.custom.min.js') }}"></script>
  <script src="{{ asset('/bundles/gitekuda/js/jquery.tooltip.pack.js') }}"></script>
	<link href="{{ asset('/bundles/gitekuda/css/jquery.ui/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('/bundles/gitekuda/css/jquery.tooltip.css') }}" rel="stylesheet" type="text/css" />
	
	<script src="{{ asset('/bundles/gitekuda/js/bootstrap/bootstrap-modal.js') }}"></script>
	
{% endblock %}
{% block pageid 'formaciones' %}

{% block pageheader  %}		
	<h1>Proyecto: <a href="{{ path('formacion_volver',{
																						'curso_id': curso_id,
																						'mianchor': mianchor,
																						'mitab'		: mitab,
																						}
													)  
									}}">{{curso.nombre}}</a> / Simulación: {{ entrenamiento.nombre }}</h1>{% endblock %}


{% block sidebar  %}
	<h5>{{"Acciones para el proyecto" | trans }}</h5>
	<ul class="unstyled">
  	<li>
			<a href="{{ path( 'formacion_volver', { 
														'curso_id': curso_id,
														'mianchor': mianchor,
														'mitab'		: mitab,
														} 
											) 
								}}" class="btn success">Volver</a>
		</li>
  </ul>
{% endblock %}

{% block contenido %}

		<div class="row">
			<div class="span16 columns">
				<section class="detentrenamientos" id="detentrenamientos">
					<section class="list-detformaciones">
						<h3>Detalle</h3>
					  	{% include 'GitekUdaBundle:Detentrenamiento:index.html.twig' 
													with { 
															'detentrenamientos': entrenamiento.detentrenamientos,
															'curso_id' : curso_id
															} 
							%}
					</section>
					<br />
					
					<a href="#" id="adddetalleclick" class="btn" style="display:none">
						<img src="{{asset('/bundles/gitekuda/img/plus.gif')}}" alt="Eliminar" 
						class="imgpluss" />
						Añadir Detalle
					</a>
					
					<div id="modal-from-dom" class="modal hide fade">
						<div class="modal-header">
					  	<a href="#" class="close">&times;</a>
					    <h3>UDA</h3>
					  </div>
					  <div class="modal-body">
					  	<p>Seleccione tipo de simulación haciendo click en el boton correspondiente.</p>
					  </div>
					  <div class="modal-footer">
					  	<a href="#" id="btnx7" class="btn primary">Modo X7</a>
					    <a href="#" id="btn1img" class="btn secondary">1 imagen</a>
					    <a href="#" id="btn4img" class="btn secondary">4 imagen</a>
					    <a href="#" id="btnbaseimg" class="btn secondary">Colocar componente</a>										
					  </div>
					</div>
					<button data-controls-modal="modal-from-dom" 
									data-backdrop="true" 
									data-keyboard="true" 
									class="btn info">Añadir
					</button>
			 
				<form id="formx7" action="{{ path('entrenamiento_createx7', 
																			{
																				'entrenamiento_id':entrenamiento.id,
																				'curso_id':curso_id,
																				'mitab':mitab,
																				'mianchor':mianchor
																			}) }}" method="post">
				</form>																			
				<form id="form1img" action="{{ path('entrenamiento_create1img', 
																			{
																				'entrenamiento_id':entrenamiento.id,
																				'curso_id':curso_id,
																				'mitab':mitab,
																				'mianchor':mianchor
																			}) }}" method="post">
				</form>
				<form id="form4mg" action="{{ path('entrenamiento_create4img', 
																			{
																				'entrenamiento_id':entrenamiento.id,
																				'curso_id':curso_id,
																				'mitab':mitab,
																				'mianchor':mianchor
																			}) }}" method="post">
				</form>												
				<form id="formbaseimg" action="{{ path('entrenamiento_createbaseimg', 
																			{
																				'entrenamiento_id':entrenamiento.id,
																				'curso_id':curso_id,
																				'mitab':mitab,
																				'mianchor':mianchor
																			}) }}" method="post">				
				</form>																														
					<input type="hidden" name="gitek_udabundle_detentrenamientotype_nombre" value="Operacion" >

			
				</section>
		
				<script type="text/javascript" charset="utf-8">
				
					$('#btnx7').click(function(){
						$('#formx7').submit();
					});
				
					$('#btn1img').click(function(){
						$('#form1img').submit();
					});
					
					$('#btn4img').click(function(){
						$('#form4mg').submit();
					});
					
					$('#btnbaseimg').click(function(){
						$('#formbaseimg').submit();
					});
					
					$('#adddetalleclick').click(function() {
						$('#divadddetalle').toggle(function() {
							var miimg = $(".imgpluss").attr("src");
							if ( miimg ==  "{{asset('/bundles/gitekuda/img/minus.gif')}}" ) {
								$(".imgpluss").attr("src","{{asset('/bundles/gitekuda/img/plus.gif')}}");
							} else {
								$(".imgpluss").attr("src","{{asset('/bundles/gitekuda/img/minus.gif')}}");
							}
							$(".imgpluss").slideDown("slow");
						});
						return false;
					})
					
				</script>
			</div><!-- .span16 columns -->
		</div><!-- .row -->


{% endblock %}

