{% extends 'GitekUdaBundle::ajax.html.twig' %}

{% block body %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$('#choose_curso').change(function(event) {
			$.ajax({
		        type: "GET",
		        data: "data=" + $(this).val(),
						cache: false,
		        url:"{{ path('detcurso_find') }}",
		        success: function(msg){
		            if (msg != ''){
		               $('#divtabla').html(msg).show();
		               }
		               else
		               {
		                   $('#divtabla').html('<em>No hay resultados</em>');
		               }
		           }
		       });
				});
		});
</script>

	<div class="clearfix"></div>
	<div class="divcombos">
		<div id="divcombocurso" class="ezkerra">
			<form  method="get" accept-charset="utf-8">

				<label id="lblcombocurso" for="choose_curso">Proyecto :&nbsp;</label>
				<select id="choose_curso" name="cursos">
					<option value="0">Selecciona proyecto:</option>
					{% for curso in cursos %}
				    <option value="{{curso.id}}">{{curso.nombre}}</option>
					{% endfor %}
				</select>
			</form>
		</div><!-- .divcombocurso -->
	</div><!-- .divcombos -->

	<div class="clearfix"></div>

	<br />

	<div class="ajaxtabla">
		<form action="{{ path('detcurso_copy2') }}" method="post" class="detcursos">
			<div id="divtabla">
				<table class="zebra-striped">
				    <thead>
				        <tr>
							<th>Selecciona</th>
				            <th>Nombre</th>
				        </tr>
				    </thead>
				    <tbody>
				    {% for operacion in operaciones %}
				        <tr>
							<td><input type="checkbox" name="seleccionados[{{loop.index0}}]"
											value="{{ operacion.id }}" id=""></td>
				            <td>{{ operacion.nombre }}</td>
				        </tr>
				    {% endfor %}
				    </tbody>
				</table>
			</div><!-- #divtabla -->
			<p>&nbsp;</p>
			<div class="actions">
				<button type="submit" class="btn info">Guardar</button>
				<input type="hidden" name="curso_id" value="{{curso_id}}">


			</div><!-- .actions -->
		</form>
	</div><!-- ajaxtabla -->

{% endblock %}