
<div class="frmfancyedit">
	<form action="{{ path('detcurso_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	    {{ form_widget(edit_form) }}
	    <div class="botoiaeskuinean">
	    	<button class="btn success" type="submit">Guardar</button>	
	    </div>
	</form>	
</div>

