<table class="records_list">
    <thead>
        <tr>
			<th>Selecciona</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
		{% if operaciones != null %}
			{% for operacion in operaciones %}
        <tr>
			<td><input type="checkbox" name="seleccionados[{{loop.index0}}]" value="{{ operacion.id }}" id=""></td>
            <td>{{ operacion.nombre }}</td>           
        </tr>
    	{% endfor %}
		{% endif %}
    </tbody>
</table>