
<form action="{{ path('detcurso_create', { 'curso_id' : detcurso.curso.id } ) }}" 
	method="post" {{ form_enctype(form) }} class="detformacion">
  	
	<div class="clearfix">
			{{ form_errors(form) }}
	</div><!-- .clearfix error -->
	
	<div class="clearfix">
		{{ form_label(form.nombre) }}
    	{{ form_errors(form.nombre) }}
    	{{ form_widget(form.nombre) }}
		
		{{ form_rest(form) }}

		<button type="submit" value="Submit" class="btn primary">Grabar</button>
	</div><!-- .clearfix -->
	       
</form>