<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
  	$(".toogletab").click(function() {
      var mirel = $(this).attr('rel');
		  $("#tabs"+mirel).toggle('slow');
		  $(".muestra"+mirel).toggle( function(){
				  var miimg = $(".imgplus"+mirel).attr("src");
				  if (miimg == "{{asset('/bundles/gitekuda/img/minus.gif')}}") {
  					$(".imgplus"+mirel).attr("src","{{asset('/bundles/gitekuda/img/plus.gif')}}");
				  } else {
  					$(".imgplus"+mirel).attr("src","{{asset('/bundles/gitekuda/img/minus.gif')}}");
				  }
				  $(".imgplus"+mirel).slideDown("slow");
      });
		  return false;
    });
    var mianchor = window.location.hash.toString();
    var misel = mianchor.substring(1,mianchor.length);
    var substr = mianchor.split('--');
    var misel = substr[0].substring(1,substr[0].length);

    $(misel).show();
    $(".muestra"+misel).toggle('slow');
    $("#tabs"+misel).toggle('slow');
    $( "#tabs"+misel ).tabs( { selected: substr[1] } );
  });
</script>

{% for detcurso in detcursos %}
<div class="divlista">
 <div class="divlistatexto">
  <div class="ezkerra">
   <img src="{{asset('/bundles/gitekuda/img/plus.gif')}}" alt="Expandir" class="imgplus{{loop.index}}" >
 </div>
 <div class="ezkerra">
  {% if not detcurso.curso.protegido %}
    <a href="{{ path('detcurso_edit',{ 'id':detcurso.id }) }}" class="fancyboxr" id="editarnombreoperacion">
      <img src="{{ asset('/bundles/gitekuda/img/editar11.png') }}" alt="Editar">&nbsp;{{"Editar"|trans}}
    </a>
  {% endif %}
</div>
<div class="ezkerra">
  {% if not curso.protegido %}
    <a href="{{ path('detcurso_delete', {'id':detcurso.id,'curso_id':	detcurso.curso.id,})}}"
    onclick="return confirm('¿Seguro que desea eliminar?');">
      <img src="{{asset('/bundles/gitekuda/img/eliminar11.png')}}" alt="Eliminar" >&nbsp;{{"Eliminar"|trans}}
    </a>
  {% endif %}
</div><!-- #ezkerra -->
<div class="ezkerra">
 <a href="{{ path('formacion_play',{'id': detcurso.formacionid}) }}" class="" target="_new">
  <img src="{{ asset('bundles/gitekuda/img/screen.png') }}" alt="Previsualizar" >
</a>
</div><!-- .ezkerra -->
<div class="ezkerra">
 <ul class="unstyled" >
  <li style="width:100px">
   <a href="#{{loop.index}}" rel= "{{loop.index}}" class="toogletab">	{{ detcurso.nombre }} </a>
 </li>
</ul>
</div><!-- .divtexto -->
</div><!-- .divlistatexto -->
<div class="divorden">
  <div class="ezkerra">
    {% if not curso.protegido %}
      <a href="{{ path('detcurso_orden_up', { 'curso_id':detcurso.curso.id,'detcurso_id': detcurso.id }) }}">
        <img src="{{ asset('bundles/gitekuda/img/up.png')  }}" alt="Subir">
      </a>
    {% endif %}
</div>
<div class="ezkerra">
  {% if not curso.protegido %}
    <a href="{{ path('detcurso_orden_down',{ 'curso_id':detcurso.curso.id,'detcurso_id': detcurso.id }) }}">
      <img src="{{ asset('bundles/gitekuda/img/down.png')  }}" alt="Bajar">
    </a>
  {% endif %}
</div>
</div>
<div class="divlistabotonera muestra{{loop.index}}" >

</div><!-- .divlistabotonera -->

</div><!-- .divlista -->

<div id="tabs{{loop.index}}" style="display:none">
  <div id="tabs-{{loop.index}}">
   <ul>
    <li><a href="#tabsdet1-{{loop.index}}">{{"Formación" | trans}}</a></li>
    <li><a href="#tabsdet2-{{loop.index}}">{{"Simulación" | trans}}</a></li>
  </ul>

  <div id="tabsdet1-{{loop.index}}">

    {% if not detcurso.formacion is empty %}
    {% include 'GitekUdaBundle:Detformacion:index.html.twig' with
    {
    'detformaciones': detcurso.formacion.detformaciones,
  }
  %}
  {% if not curso.protegido %}
    <div class="botoiak">
      <a href="{{ path('formacion_berria',
                        { 'formacion_id'			:detcurso.formacion.id,
                          'curso_id':detcurso.curso.id,
                          'mianchor':loop.index,
                          'mitab'		:0
                        }
                      )
                }}" class=""><img src="{{asset('/bundles/gitekuda/img/plus18.png')}}" alt="Añadir">&nbsp;{{"Añadir"|trans}}</a>

      <a href="{{ path('formacion_copy1' ,
                        {
                          'curso_id' : detcurso.curso.id ,
                          'formacion_id': detcurso.formacionid,
                          'detcurso_id': detcurso.id,
                          'mianchor': loop.index,
                          'mitab'		:0,
                        }
                      )
                }}"
                class="fancybox"><img src="{{asset('/bundles/gitekuda/img/copy18.png')}}" alt="Editar">&nbsp;{{"Copiar"|trans}}</a>
    </div>
  {% endif %} {# curso.protegido #}

{% else %}
<div class="botoiak">
 <a href="{ {path('formacion_new')} }" class=""><img src="{{asset('/bundles/gitekuda/img/plus11.png')}}" alt="Añadir"></a>
</div>
{% endif %}

</div>


<div id="tabsdet2-{{loop.index}}">

  {% if not detcurso.entrenamiento is empty %}
  {% include 'GitekUdaBundle:Detentrenamiento:index.html.twig' with
  {
  'detentrenamientos': detcurso.entrenamiento.detentrenamientos
}
%}


<div id="modal-from-dom{{loop.index}}" class="modal hide fade">
  <div class="modal-header">
   <a href="#" class="close">&times;</a>
   <h3>UDA</h3>
 </div>
 <div class="modal-body">
   <p>{{"Seleccione tipo de simulación haciendo click en el boton correspondiente." | trans}}</p>
 </div>
 <div class="modal-footer">
   <a href="#" id="btnx7-{{loop.index}}" class="btn primary">{{"Modo X7" | trans}}</a>
   <a href="#" id="btn1img-{{loop.index}}" class="btn secondary">{{"1 imagen" | trans}}</a>
   <a href="#" id="btn4img-{{loop.index}}" class="btn secondary">{{"4 imagen" | trans}}</a>
   <a href="#" id="btnbaseimg-{{loop.index}}" class="btn secondary">{{"Colocar componente" | trans}}</a>
 </div>
</div>

{% if not curso.protegido %}
  <div class="botoiak">
    <button data-controls-modal="modal-from-dom{{loop.index}}" data-backdrop="true" data-keyboard="true" class="">
      <img src="{{asset('/bundles/gitekuda/img/plus18.png')}}" alt="Editar" />&nbsp;{{"Añadir"|trans}}
    </button>
    <a href="{{ path('entrenamiento_copy1',
    {
 'curso_id' : detcurso.curso.id,
 'entrenamiento_id': detcurso.entrenamientoid,
 'detcurso_id': detcurso.id,
 'mianchor': loop.index,
 'mitab':1,
})
}}"
class="fancybox"><img src="{{asset('/bundles/gitekuda/img/copy18.png')}}" alt="Editar">&nbsp;{{"Copiar"|trans}}</a>
</div>
{% endif %}{# curso.protegido #}

<form id="formx7-{{loop.index}}" action="{{ path('entrenamiento_createx7', {
'entrenamiento_id':detcurso.entrenamientoid,
'curso_id':detcurso.curso.id,
'mitab':1,
'mianchor':loop.index,
}) }}" method="post">
</form>
<form id="form1img-{{loop.index}}" action="{{ path('entrenamiento_create1img', {
'entrenamiento_id':detcurso.entrenamientoid,
'curso_id':detcurso.curso.id,

'mitab':1,
'mianchor':loop.index,
}) }}" method="post">
</form>
<form id="form4mg-{{loop.index}}" action="{{ path('entrenamiento_create4img', {
'entrenamiento_id':detcurso.entrenamientoid,
'curso_id':detcurso.curso.id,

'mitab':1,
'mianchor':loop.index,
}) }}" method="post">
</form>
<form id="formbaseimg-{{loop.index}}" action="{{ path('entrenamiento_createbaseimg', {
'entrenamiento_id':detcurso.entrenamientoid,
'curso_id':detcurso.curso.id,

'mitab':1,
'mianchor':loop.index,
}) }}" method="post">
</form>
<input type="hidden" name="gitek_udabundle_detentrenamientotype_nombre" value="Operacion" >
{% else %}
<a href="{{path('entrenamiento_new')}}" class="btn"><img src="{{asset('/bundles/gitekuda/img/plus.jpg')}}" alt="Añadir"></a>
{% endif %}
</div>
</div>

<script type="text/javascript" charset="utf-8">

$(function() {
 $( "#tabs-{{loop.index}}" ).tabs();
});

$('#btnx7-{{loop.index}}').click(function(){
 $('#formx7-{{loop.index}}').submit();
});

$('#btn1img-{{loop.index}}').click(function(){
 $('#form1img-{{loop.index}}').submit();
});

$('#btn4img-{{loop.index}}').click(function(){
 $('#form4mg-{{loop.index}}').submit();
});

$('#btnbaseimg-{{loop.index}}').click(function(){
 $('#formbaseimg-{{loop.index}}').submit();
});
</script>
</div>

<br />

{% else %}
{{"No hay detalle." | trans}}

{% endfor %}

