{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}Mantenimiento de Proyectos{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<script src="{{ asset('/bundles/gitekuda/js/ui/jquery-ui-1.8.16.custom.min.js') }}"></script>
  <script src="{{ asset('/bundles/gitekuda/js/jquery.tooltip.pack.js') }}"></script>
	<link href="{{ asset('/bundles/gitekuda/css/jquery.ui/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
	
	<script src="{{ asset('/bundles/gitekuda/js/bootstrap/bootstrap-modal.js') }}"></script>
	
{% endblock %}
	
{% block pageid 'formaciones' %}

{% block contenido %}

	<div class="row">
		
		<h1>Detalle del proyecto: <a href="{{path('curso_show',{'id': detcurso.id})}}">{{detcurso.curso.nombre}}</a></h1>

		<div class="span4 columns">
			<ul class="record_actions">
			    <li>
			        <a href="{{ path('detcurso') }}">
			            Back to the list
			        </a>
			    </li>
			    <li>
			        <a href="{{ path('detcurso_edit', { 'id': detcurso.id }) }}">
			            Edit
			        </a>
			    </li>
			    <li>
			        <form action="{{ path('detcurso_delete', { 'id': detcurso.id }) }}" method="post">
			            {{ form_widget(delete_form) }}
			            <button type="submit">Delete</button>
			        </form>
			    </li>
			</ul>
		</div><!-- .span4 columns -->

		<div class="span12 columns">
			<table class="record_properties">
			    <tbody>
			        <tr>
			            <th>Formación asociada:</th>
			            <td>{{ detcurso.formacion.nombre }}</td>
			        </tr>
			        <tr>
			            <th>Simulación asociado:</th>
			            <td>{{ detcurso.entrenamiento.nombre }}</td>
			        </tr>
			    </tbody>
			</table>	
		</div><!-- .span12 columns -->
		
	</div>
	
	<div class="row">
		<div class="span16 columns">
			<div id="niretabs">
				<ul>
					<li><a href="#niretab-1">Formación</a></li>
					<li><a href="#niretab-2">Simulación</a></li>
				</ul>
				<div id="niretab-1">				
					<section class="list-detformaciones">
	            {% include 'GitekUdaBundle:Detformacion:index.html.twig' with { 'detformaciones': detcurso.formacion.detformaciones } %}
							<a href="#" id="addformacion">Añadir Detalle</a>
							<div id="divaddformacion" style="display:none">
				        {% render 'GitekUdaBundle:Detformacion:new' with { 'formacion_id': detcurso.formacion.id } %}
							</div><!-- .divaddformacion -->							
	        </section>
				</div> <!-- tabs-1 -->
				<div id="niretab-2"> 
					<section class="list-detformaciones">
	            {% include 'GitekUdaBundle:Detentrenamiento:index.html.twig' with { 'detentrenamientos': detcurso.entrenamiento.detentrenamientos } %}
							<a href="#" id="addentrenamiento">Añadir Detalle</a>
							<div id="divaddentrenamiento" style="display:none">
				        {% render 'GitekUdaBundle:Detentrenamiento:new' with { 'entrenamiento_id': detcurso.entrenamiento.id } %}
							</div><!-- .divaddentrenamiento -->						
	        </section>
				</div><!-- tabs-2 -->
			</div>
		</div><!-- .span16 columns -->
	</div><!-- .row -->
		<script>
			$(function() {
				$( "#niretabs" ).tabs();
			});
			$('#addformacion').click(function() {
		  	$('#divaddformacion').toggle('slow');
				return false;
			});
			$('#addentrenamiento').click(function() {
		  	$('#divaddentrenamiento').toggle('slow');
				return false;
			});
		</script>
{% endblock %}
