{% extends "::base.html.twig" %}
	{% block stylesheets %}
		{{ parent() }}
		<script src="{{ asset('/bundles/gitekuda/js/ui/jquery-ui-1.8.16.custom.min.js') }}"></script>
  	<script src="{{ asset('/bundles/gitekuda/js/jquery.tooltip.pack.js') }}"></script>
		<script src="{{ asset('/bundles/gitekuda/js/jquery.fancybox-1.3.4.pack.js') }}"></script> 
		<link href="{{ asset('/bundles/gitekuda/css/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/jquery.ui/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/jquery.tooltip.css') }}" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
    	$(document).ready(function(){
    		$(".fancybox").fancybox();

				$(".fancyboxr").fancybox({
						'onClosed': function() {
			    	parent.location.reload(true);
			  	}
				});
    	});
    </script>

  <script src="{{ asset('/bundles/gitekuda/js/gitek.js') }}"></script>

	{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}

{% endblock %}