{% extends "::base.html.twig" %}
	{% block stylesheets %}
		<script src="{{ asset('/bundles/gitekuda/js/jquery-1.5.2.min.js') }}"></script> 
		<script src="{{ asset('/bundles/gitekuda/js/ui/jquery-ui-1.8.16.custom.min.js') }}"></script>		
		<script src="{{ asset('/bundles/gitekuda/js/jquery.fancybox-1.3.4.pack.js') }}"></script> 
		<link href="{{ asset('/bundles/gitekuda/css/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" type="text/css" />		

		<script src="{{ asset('/bundles/gitekuda/js/entrenamientos.js') }}"></script>	

		<script language="JavaScript">
		if (screen.width == 1024) { 
			document.write('<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/gitekuda/css/gitekentrenamiento1024.css') }}">'); 
		} else {
			document.write('<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/gitekuda/css/gitekentrenamiento.css') }}">'); 
		}

		</script>	
		
	{% endblock %}

{% block javascript %}

{% endblock %}

{% block header %}
	<div id="top-header">
		<div id="header-ezkerra">
			{% if app.session.get('validacion') == 0 %}
				<img id="imgentrenamiento" src="{{asset('/bundles/gitekuda/img/entrenamiento.png')}}" alt="Siguiente" />
				<h1>Simulación</h1>
			{% else %}
				<img id="imgentrenamiento" src="{{asset('/bundles/gitekuda/img/examen.png')}}" alt="Siguiente" />
				<h1>Validacion</h1>
			{% endif %}
		</div>
		<div id="header-eskuina">
			{% set curso = app.session.get('curso_nombre') %}
			<h2>Proyecto: {{ curso }} </h2>
		</div>
	</div>
{% endblock %}

{% block body %}
			<div class="clearfix"></div>
	<div id="main-col">
		
      {% block contenido %}
				
				{% block formacion %}{% endblock %}				
			{% endblock %}
	
	</div> 


{% endblock %}

{% block footer %}
	<div id="footer">
		<div id="footerimagensalir">
			<a href="{{ path('eragiketa') }}">
				<img id="btnsalir"     src="{{asset('/bundles/gitekuda/img/salir64.png')}}" alt="Salir" />
			</a>
		</div>
		<div id="footertexto">
			<p>Herramienta de apoyo a la formación</p>
		</div>
		<div id="footerlogocurso">
		
		</div>
	</div>
{% endblock %}




