{% extends "::base.html.twig" %}
	{% block stylesheets %}
		<script src="{{ asset('/bundles/gitekuda/js/jquery-1.5.2.min.js') }}"></script> 

		<script src="{{ asset('/bundles/gitekuda/js/jquery.jplayer.min.js') }}"></script> 

		<!-- <link href="{{ asset('/bundles/gitekuda/css/gitek.css') }}" rel="stylesheet" type="text/css" /> -->
		<link href="{{ asset('/bundles/gitekuda/css/skin/jplayer.blue.monday.css') }}" rel="stylesheet" type="text/css" />
		<script src="{{ asset('/bundles/gitekuda/js/jquery.jplayer.js') }}"></script>
		<script language="JavaScript">
		if (screen.width == 1024) { 
			document.write('<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/gitekuda/css/gitekformacion1024.css') }}">'); 
		} else {
			document.write('<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/gitekuda/css/gitekformacion.css') }}">'); 
		}

		</script>

	{% endblock %}

{% block javascript %}

{% endblock %}

{% block header %}
	<div id="top-header">
		<div id="header-ezkerra">
			<img id="imgformacion" src="{{asset('/bundles/gitekuda/img/formacion.png')}}" alt="Siguiente" />
			<h1>Formacion</h1>
		</div>
		<div id="header-eskuina">
			<h2>Proyecto: {{ app.session.get('curso_nombre') }}</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
			<div class="clearfix"></div>
	<div id="main-col">
		
      {% block contenido %}
				{% block titulo %}{% endblock %}
				{% block formacion %}{% endblock %}				
			{% endblock %}
	
	</div> 


{% endblock %}

{% block footer %}
	<div id="footer">
		<div id="footerimagensalir">
			<a href="{{ path('eragiketa') }}">
				<img id="btnsalir"     src="{{asset('/bundles/gitekuda/img/salir64.png')}}" alt="Salir" />
			</a>
		</div>
		<div id="footertexto">
			<p>Herramienta de apoyo a la formación</p>
		</div>
		<div id="footerlogocurso">
		
		</div>
	</div>
{% endblock %}




