{% extends "::base.html.twig" %}
	{% block stylesheets %}
		{#{parent()}#}
		<link href="{{ asset('/bundles/gitekuda/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/gitekfrontend.css') }}" rel="stylesheet" type="text/css" />
		<script src="{{ asset('/bundles/gitekuda/js/jquery-1.5.2.min.js') }}"></script> 
	{% endblock %}

{% block javascript %}

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
			<div class="clearfix"></div>
	<div id="main-col">
		
      {% block contenido %}
				{% block titulo %}{% endblock %}
				{% block formacion %}{% endblock %}				
			{% endblock %}
	
	</div> 


{% endblock %}

{% block footer %}

{% endblock %}




