{% extends "::base.html.twig" %}
	{% block stylesheets %}
    {{ parent() }}
		<script src="{{ asset('/bundles/gitekuda/js/ui/jquery-ui-1.8.16.custom.min.js') }}"></script>
  	    <script src="{{ asset('/bundles/gitekuda/js/jquery.tooltip.pack.js') }}"></script>
		<script src="{{ asset('/bundles/gitekuda/js/jquery.fancybox-1.3.4.pack.js') }}"></script>
        <link href="{{ asset('/bundles/gitekuda/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/jquery.ui/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/jquery.tooltip.css') }}" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
    	$(document).ready(function(){
    		$(".fancybox").fancybox();

				$(".fancyboxr").fancybox({
						'onClosed': function() {
			    	parent.location.reload(true);
			  	}
				});
    	});
    </script>

  <script src="{{ asset('/bundles/gitekuda/js/gitek.js') }}"></script>

	{% endblock %}
{% block header %}
	<header id="header">
		<div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Herramienta de Apoyo a la Formación</a>
				    <ul>
								<li class="menu">
									<a href="#" class="menu">{{"Proyectos" | trans }}</a>
									<ul class="menu-dropdown">
										<li><a href="{{path('administrazioa')}}">{{"Lista Proyectos" | trans}}</a></li>
										<li><a href="{{path('curso_new')}}">{{"Nuevo Proyecto" | trans }}</a></li>
									</ul>
								</li>
								<li> <a href="{{ path('historial') }}">{{"Resultados" | trans }}</a> </li>
								<li> <a href="{{ path('kaixo')}}"> Inicio formación </a> </li>
				    </ul>
          <p class="pull-right">{{ app.user.username }} konektatua <a href="{{ path('logout') }}">{{"Salir" | trans }}</a></p>
        </div>
      </div>
    </div>
	</header>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="page-header">{% block pageheader  %} PAGINATITULO {% endblock %} </div>
		<div class="sidebar">
			<div class="well">
				{% block sidebar %}
        	<h5>Sidebar</h5>
			    	<ul>
			      	<li><a href="#">Link</a></li>
			        <li><a href="#">Link</a></li>
			        <li><a href="#">Link</a></li>
			        <li><a href="#">Link</a></li>
			      </ul>
				{% endblock %}
			 </div>
		</div>

		<div class="content">
			{% block contenido %}

			{% endblock %}
		</div>

	</div><!--container-fluid -->
{% endblock %}