{% extends "::base.html.twig" %}
	{% block stylesheets %}
  {{ parent() }}
		<script src="{{ asset('/bundles/gitekuda/js/ui/jquery-ui-1.8.16.custom.min.js') }}"></script>
  	<script src="{{ asset('/bundles/gitekuda/js/jquery.tooltip.pack.js') }}"></script>
		<script src="{{ asset('/bundles/gitekuda/js/jquery.fancybox-1.3.4.pack.js') }}"></script>
    <script src="{{ asset('/bundles/gitekuda/js/bootstrap/bootstrap-dropdown.js') }}"></script>

    <link href="{{ asset('/bundles/gitekuda/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/jquery.ui/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('/bundles/gitekuda/css/jquery.tooltip.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('/bundles/gitekuda/css/redesign.css') }}" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
    	$(document).ready(function(){
    		$(".fancybox").fancybox();

				$(".fancyboxr").fancybox({
						'onClosed': function() {
			    	parent.location.reload(true);
			  	}
				});

        $(".youtube").fancybox({
            maxWidth  : 800,
            maxHeight : 600,
            fitToView : false,
            width   : '70%',
            height    : '70%',
            autoSize  : false,
            closeClick  : false,
            openEffect  : 'elastic',
            closeEffect : 'none'
          });

        $(".fancyoutube").click(function() {
    $.fancybox({
      'padding'   : 0,
      'autoScale'   : false,
      'transitionIn'  : 'none',
      'transitionOut' : 'none',
      'title'     : this.title,
      'width'     : 680,
      'height'    : 495,
      'href'      : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
      'type'      : 'swf',
      'swf'     : {
      'wmode'     : 'transparent',
      'allowfullscreen' : 'true'
      }
    });

    return false;
  });

    	});
    </script>

  <script src="{{ asset('/bundles/gitekuda/js/gitek.js') }}"></script>

	{% endblock %}



{% block header %}
  <div class="topbar-wrapper">
    <div class="topbar">
      <div class="tituloa">
        <div class="tituloh1">
          <h1>Herramienta Apoyo a la Formación</h1>
        </div><!-- .tituloh1 -->
      </div><!-- .tituloa -->
      <div id="hizkuntzak">
        {% set locale = app.request.locale %}
        {% if locale == 'es' %}
          <span>Español</span>
          <a href="{{ path('administrazioa', { '_locale': 'eu' }) }}">Euskera</a>
        {% elseif locale == 'eu' %}
          <a href="{{ path('administrazioa', { '_locale': 'es' }) }}">Español</a>
          <span>Euskera</span>
        {% endif %}
        <a href="{{ path('logout') }}">{{'Salir'|trans}}</a>
      </div>
        <div id="laguntza">
          <ul class='nav secondary-nav'>
            <li class='dropdown' data-dropdown='dropdown'>
            <a href="#" class="dropdown-toggle">{{"Ayuda" | trans}}</a>
            <!-- <div class='dropdown-menu' id='signin-dropdown'> -->
              <ul class="dropdown-menu">
                  <li class="nav-header">Bideoak</li>
                  {% for laguntza in laguntzak %}
                    <li><a class="fancyoutube" href="http://www.youtube.com/watch?v={{ laguntza.youtube}}" title="ope1">{{ laguntza.nombre }}</a></li>
                  {% endfor %}
                  <!-- <li class="divider"></li> -->
              </ul>
            <!-- </div> -->
            </li>
          </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="menua">
      <ul id="ulmenu">

        {% if ((app.request.attributes.get('_route') != "historial") and (app.request.attributes.get('_route') != "kaixo")) %}
          {% if app.request.attributes.get('_locale') != "eu" %}
            <li><a href="{{ path('raiz') }}" class="liaproyectoss"><img src="{{asset('/bundles/gitekuda/img/menu/bg_proyectos_on.png')}}" alt="Proyectos"></a></li>
          {% else %}
            <li><a href="{{ path('raiz') }}" class="liaproyectoss"><img src="{{asset('/bundles/gitekuda/img/menu/bg_proyectos_eus_on.png')}}" alt="Proyectos"></a></li>
          {% endif %}
        {% else %}
          {% if app.request.attributes.get('_locale') != "eu" %}
            <li><a href="{{ path('raiz') }}" class="liaproyectoss"><img src="{{asset('/bundles/gitekuda/img/menu/bg_proyectos.png')}}" alt="Proyectos"></a></li>
          {% else %}
            <li><a href="{{ path('raiz') }}" class="liaproyectoss"><img src="{{asset('/bundles/gitekuda/img/menu/bg_proyectos_eus.png')}}" alt="Proyectos"></a></li>
          {% endif %}
        {% endif %}


        {% if (app.request.attributes.get('_route') =="historial") %}
          {% if app.request.attributes.get('_locale') != "eu" %}
            <li><a href="{{ path('historial') }}" class="liaresultados"><img src="{{asset('/bundles/gitekuda/img/menu/bg_resultados_on.png')}}" alt="Proyectos"></a></li>
          {% else %}
            <li><a href="{{ path('historial') }}" class="liaresultados"><img src="{{asset('/bundles/gitekuda/img/menu/bg_resultados_eus_on.png')}}" alt="Proyectos"></a></li>
          {% endif %}
        {% else %}
          {% if app.request.attributes.get('_locale') != "eu" %}
            <li><a href="{{ path('historial') }}" class="liaresultados"><img src="{{asset('/bundles/gitekuda/img/menu/bg_resultados.png')}}" alt="Proyectos"></a></li>
          {% else %}
            <li><a href="{{ path('historial') }}" class="liaresultados"><img src="{{asset('/bundles/gitekuda/img/menu/bg_resultados_eus.png')}}" alt="Proyectos"></a></li>
          {% endif %}
        {% endif %}

        {% if (app.request.attributes.get('_route') =="kaixo") %}
          {% if app.request.attributes.get('_locale') != "eu" %}
            <li><a href="{{ path('kaixo') }}" class="liainiciar"><img src="{{asset('/bundles/gitekuda/img/menu/bg_iniciar_on.png')}}" alt="Proyectos"></a></li>
          {% else %}
            <li><a href="{{ path('kaixo') }}" class="liainiciar"><img src="{{asset('/bundles/gitekuda/img/menu/bg_iniciar_eus_on.png')}}" alt="Proyectos"></a></li>
          {% endif %}
        {% else %}
          {% if app.request.attributes.get('_locale') != "eu" %}
            <li><a href="{{ path('kaixo') }}" class="liainiciar"><img src="{{asset('/bundles/gitekuda/img/menu/bg_iniciar.png')}}" alt="Proyectos"></a></li>
          {% else %}
            <li><a href="{{ path('kaixo') }}" class="liainiciar"><img src="{{asset('/bundles/gitekuda/img/menu/bg_iniciar_eus.png')}}" alt="Proyectos"></a></li>
          {% endif %}
        {% endif %}
      </ul>
<!--       <div id="divborde"><img id="#imgborde" src="{ { asset('/bundles/gitekuda/img/menu/top-right.png') } }" alt=""></div> -->
<!--       <ul id="eskubi">
        <li><img id="#imgborde" src="{ { asset('/bundles/gitekuda/img/menu/top-right.png') }}" alt=""></li>
      </ul> -->
    </div>

  </div><!-- .topbar-wrapper -->
{% endblock %}

{% block body %}
	<div class="container-fluid">
    <div class="fila">
      <div class="kolumnaezkerra"><div class="">&nbsp;</div></div>
      <div class="sidebar kolumna"></div>
      <div class="kolumna">
        <h1 class="h1titulo">{% block pagetitle %}{% endblock %}</h1>
      </div>
      <div class="kolumnaeskuina"><div>&nbsp;</div></div>
    </div>

    <div class="fila">

      <div class="kolumnaezkerra"><div class="">&nbsp;</div></div>
		  <div class="sidebar kolumna">
		  		{% block sidebar %}
          	<h5>Sidebar</h5>
		  	    	<ul>
		  	      	<li><a href="#">Link</a></li>
		  	        <li><a href="#">Link</a></li>
		  	        <li><a href="#">Link</a></li>
		  	        <li><a href="#">Link</a></li>
		  	      </ul>
		  		{% endblock %}
		  </div>

		  <div class="content kolumna">
		  	{% block contenido %}

		  	{% endblock %}
		  </div>
      <div class="kolumnaeskuina"><div>&nbsp;</div></div>
    </div>
    <div id="divfooter">&nbsp;</div>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	</div><!--container-fluid -->
{% endblock %}
