{% extends "GitekUdaBundle::redesign.html.twig" %}

{% block title %}{{"Mantenimiento de Proyectos" | trans }}{% endblock %}

{% block pageid 'formaciones' %}

{% block pageheader  %}<h1>{{"Editar proyecto" | trans }}: {{entity.nombre}} </h1>{% endblock %}

{% block sidebar  %}
	<ul class="unstyled menuaborde">
  	<li><a href="{{path('administrazioa')}}" class=""><img src="{{ asset('bundles/gitekuda/img/back18.png') }}" alt="Volver">&nbsp;{{"Volver" | trans }}</a></li>
  </ul>
{% endblock %}

{% block contenido %}

	<div class="row">

			<form action="{{ path('curso_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
			    <!-- { { form_widget(edit_form) }} -->

				<div class="clearfix">

			    	{{ form_errors(edit_form) }}


					<div class="divnombre">
						{{ form_label(edit_form.nombre,'Nombre : ' | trans,{'attr': {'class': 'title milabel' }}) }}
    					{{ form_errors(edit_form.nombre) }}
    					{{ form_widget(edit_form.nombre,{ 'attr': {'class': 'xlarge'}}) }}
					</div><!-- .divnombre -->

					<div class="divversion">
						{{ form_label(edit_form.version,'Revisión : ' | trans,{'attr': {'class': 'title milabel' }}) }}
    					{{ form_errors(edit_form.version) }}
    					{{ form_widget(edit_form.version,{ 'attr': {'class': 'xlarge'}}) }}
					</div><!-- .divversion -->

					<div class="divtiempo">
						{{ form_label(edit_form.tiempo,'Tiempo de ciclo : ' | trans,{'attr': {'class': 'title milabel' }}) }}
    					{{ form_errors(edit_form.tiempo) }}
    					{{ form_widget(edit_form.tiempo,{ 'attr': {'class': 'xlarge'}}) }}
					</div><!-- .divtiempo -->

				</div>

				{{ form_rest(edit_form) }}
					<div class="actions">
			        <button type="submit" class="btn info">{{"Grabar" | trans }}</button>
					</div><!-- .actions -->

			</form>

	</div>

{% endblock %}