{% extends "GitekUdaBundle::redesign.html.twig" %}


{% block header %}


    <div class="topbar-wrapper">
        <div class="topbar">
                <div class="tituloa">
                    <div class="tituloh1">
                        <h1>Herramienta Apoyo a la Formación</h1>
                    </div>
                </div>
        </div>
    </div>

{% endblock  %}

{% block body %}
  <div class="container">
    <div class="row handia">
      <div class="divmenuredesign">

        <div class="span-one-third divbotoiak borobil">
          <div class="divlink">
            <a href="{{ path('curso') }}" title="Proyectos" class="atitulo">{{"Proyectos"|trans}}</a>
            <div class="borobil divminibotoia">
              <div class="adivminilink">
                <a href="{{ path('curso') }}" title="Lista Proyectos" class="aazpititulo">{{"Lista Proyectos"|trans}}</a>
              </div>
            </div>
            <div class="borobil divminibotoia">
              <div class="adivminilink">
                <a href="{{ path('curso_new') }}" title="Nuevo Proyecto" class="aazpititulo">{{"Nuevo Proyecto"|trans}}</a>
              </div>
            </div>
          </div>
        </div><!-- .divboton -->

        <div class="span-one-third divbotoiak borobil">
          <div class="divlink beherago1">
            <a href="{{ path('historial') }}" title="Resultados" class="atitulo">{{"Resultados"|trans}}</a>
          </div>
        </div><!-- .divboton -->

        <div class="span-one-third divbotoiak borobil">
          <div class="divlink beherago2">
            <a href="{{ path('kaixo') }}" title="Iniciar Formación" class="atitulo">{{"Iniciar Formación"|trans}}</a>
          </div>
        </div><!-- .divboton -->

      </div><!-- .menu-botones -->

    </div><!-- .row -->

  </div><!-- .container -->

<!-- block body -->
{% endblock %}
