{% extends "GitekUdaBundle::redesign.html.twig" %}

{% block title %}{{"Mantenimiento de Proyectos" | trans}}{% endblock %}

{% block pageid 'formaciones' %}

{% block pageheader  %}<h1>{{"Lista de proyectos" | trans}}</h1>{% endblock %}
{% block pagetitle  %}{{"Lista de proyectos" | trans}}{% endblock %}
{% block sidebar  %}
	<ul class="unstyled menuaborde">
  	<li><a href="{{path('curso_new')}}" ><img src="{{ asset('bundles/gitekuda/img/plus18.png') }}" alt="Añadir">&nbsp;{{"Nuevo Proyecto" | trans}}</a></li>
  </ul>
{% endblock %}

{% block contenido %}

<div class="row">

  <table class="zebra-striped" id="sortTableExample">
    <thead>
      <tr>
      	<th></th>
          <th>Id</th>
          <th>{{"Proyecto" | trans}}</th>
          <th>{{"Tiempo validación" | trans}}</th>
          <th>{{"Revisión" | trans}}</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
	    {% for entity in entities %}
        <tr>
        	<td>
            <ul class="unstyled ullinea ulacciones">
              <li class="enlinea">
              	{% if not entity.protegido %}
                  <a href="{{ path('curso_edit', { 'id': entity.id }) }}"><img src="{{ asset('bundles/gitekuda/img/editar18.png') }}" alt="Editar">&nbsp;{{"Editar" | trans }}</a>
								{% endif %}
              </li>
							<li class="enlinea">
								{% if not entity.protegido %}
					    		<a href="{{ path('curso_delete', { 'id': entity.id }) }}" onclick="return confirm('¿Seguro que desea eliminar?');">
										<img src="{{ asset('bundles/gitekuda/img/eliminar18.png') }}" alt="Eliminar">&nbsp;{{"Eliminar" |trans}}
									</a>
								{% endif %}
							</li>
            </ul>
          </td>
          <td><a href="{{ path('curso_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
          <td><a href="{{ path('curso_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
          <td><a href="{{ path('curso_show', { 'id': entity.id }) }}">{{ entity.tiempo }}</a></td>
          <td><a href="{{ path('curso_show', { 'id': entity.id }) }}">{{ entity.version }}</a></td>
          <td>
          	{% if entity.protegido %}
          		<a class="btn_proteger" href="{{ path('curso_proteger', { 'id': entity.id }) }}">
          			<img src="{{ asset('bundles/gitekuda/img/candado_cerrado.jpg') }}" alt="Desproteger" width="18px" height="18px">
          		</a>
          	{% else %}
              {% if is_granted('ROLE_ADMIN') %}
                <a class="btn_proteger" href="{{ path('curso_proteger', { 'id': entity.id }) }}">
								  <img src="{{ asset('bundles/gitekuda/img/candado_abierto.jpg') }}" alt="Desproteger" width="18px" height="18px">
                </a>
              {% else %}
                <img src="{{ asset('bundles/gitekuda/img/candado_abierto.jpg') }}" alt="Desproteger" width="18px" height="18px">
              {% endif %}
          	{% endif %}
          </td>
        </tr>
	    {% endfor %}
	    </tbody>
	</table>
</div>
<div id="frmpasswd" style="display:none">
  <form action="">
    <label for="txtpassword">Password</label>
    <input type="password" name="txtpassword" id="txtpassword">
  </form>
</div>
{% endblock %}
