{% extends "GitekUdaBundle::redesign.html.twig" %}

{% block title %}{{"Mantenimiento de Proyectos" | trans }}{% endblock %}

{% block pageid 'formaciones' %}

{% block pageheader  %}<h1>{{"Nuevo proyecto" | trans }}</h1>{% endblock %}


{% block sidebar  %}
	<ul class="unstyled menuaborde">
    <li><a href="#" class="formsubmit"><img src="{{ asset('bundles/gitekuda/img/save18.png') }}" alt="Guardar">&nbsp;{{"Guardar"|trans}}</a></li>
    <li><a href="{{path('administrazioa')}}" class=""><img src="{{ asset('bundles/gitekuda/img/back18.png') }}" alt="volver">&nbsp;{{"Volver"|trans}}</a></li>
  </ul>
{% endblock %}

{% block contenido %}

	<div class="row">

			<form id="cursonew" action="{{ path('curso_create') }}" method="post" {{ form_enctype(formcurso) }}>
			    <!-- { { form_widget(formcurso) }} -->
				<div class="clearfix">

			    	{{ form_errors(formcurso) }}


					<div class="divnombre">
						{{ form_label(formcurso.nombre,'Proyecto : ' | trans,{'attr': {'class': 'title milabel' }}) }}
    					{{ form_errors(formcurso.nombre) }}
    					{{ form_widget(formcurso.nombre,{ 'attr': {'class': 'xlarge'}}) }}
					</div><!-- .divnombre -->

					<div class="divversion">
						{{ form_label(formcurso.version,'Revisión : ' | trans,{'attr': {'class': 'title milabel' }}) }}
    					{{ form_errors(formcurso.version) }}
    					{{ form_widget(formcurso.version,{ 'attr': {'class': 'xlarge'}}) }}
					</div><!-- .divversion -->

					<div class="divtiempo">
						{{ form_label(formcurso.tiempo,'Tiempo de ciclo : ' | trans,{'attr': {'class': 'title milabel' }}) }}
    					{{ form_errors(formcurso.tiempo) }}
    					{{ form_widget(formcurso.tiempo,{ 'attr': {'class': 'xlarge'}}) }}
					</div><!-- .divtiempo -->

				</div>

				{{ form_rest(formcurso) }}
					<div class="actions" style="display:none;">
			        <button id="btnsend" type="submit" class="btn info">{{"Crear" | trans }}</button>
					</div><!-- .actions -->

			</form>

	</div>

{% endblock %}