{% extends "GitekUdaBundle::layout.html.twig" %}

{% block title %}{{"Mantenimiento de Proyectos" | trans }}{% endblock %}

{% block pageid 'formaciones' %}

{% block contenido %}

	<div class="row">
		
		<h1>{{"Seleccionar tipo de simulación" | trans }}</h1>
		
		<div class="span12 columns">
			<form action="{{path('entrenamiento_new')}}" method="get" accept-charset="utf-8">
				<fieldset>
				  <legend> Seleccione </legend>
				  <p><label> <input type="radio" name="tipo" value="1" checked="true"> Tipo X7 </label></p>
				  <p><label> <input type="radio" name="tipo" value="0"> Otro</label></p>
				 </fieldset>

				<p><input type="submit" value="Continuar &rarr;"></p>
			</form>			
		</div><!-- .span12 columns -->
		
	</div>
{% endblock %}