{% extends "GitekUdaBundle::redesign.html.twig" %}

{% block title %}{{"Mantenimiento de Proyectos" | trans}}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<script src="{{ asset('/bundles/gitekuda/js/bootstrap/bootstrap-modal.js') }}"></script>
{% endblock %}

{% block pageid 'formaciones' %}

{% block pageheader  %}

	<h1>{{"Proyecto" | trans}}: {{ curso.nombre }} {{ curso.version }}</h1>

{% endblock %}

{% block pagetitle %}{{asterisko}}{{"Proyecto" | trans}}: {{ curso.nombre }} {{ curso.version }}{% endblock %}

{% block sidebar  %}
	<ul class="unstyled menuaborde">
		<li>
			{% if not curso.protegido %}
				<a href="{{path('curso_new')}}" >
					<img src="{{ asset('bundles/gitekuda/img/plus18.png') }}" alt="Añadir">&nbsp;{{"Nuevo Proyecto" | trans}}
				</a>
			{% endif %}
		</li>
		<li>
			{% if not curso.protegido %}
				<a href="{{ path('detcurso_copy', {'curso_id' : curso.id} ) }}" class="fancybox">
					<img src="{{ asset('bundles/gitekuda/img/copy18.png') }}" alt="Copiar">&nbsp;{{"Copiar Proyecto" | trans }}
				</a>
			{% endif %}
		</li>
	</ul>
{% endblock %}

{% block contenido %}
	<div>
		{{ erroreak }}
	</div>
	<div class="row motxa">
		<div class="detformaciones" id="detformaciones">

			<script type="text/javascript" charset="utf-8">
				$(".alert-message");
			</script>

			{% for flashMessage in app.session.flashbag.get('notice') %}
				<div class="alert-message success">
					{{ flashMessage }}
					<a href="#" class="close">×</a>
				</div>
			{% endfor %}

			<div class="list-detformaciones">
				<h3>{{"Lista de operaciones" | trans}}</h3>
					{% include 'GitekUdaBundle:Detcurso:index.html.twig' with { 'detcursos': curso.detcursos } %}
			</div>

			<div class="subfooter actions">
				{% if not curso.protegido %}
				<a href="#" class="divaddcurso">
					<img src="{{asset('/bundles/gitekuda/img/plus.gif')}}" alt="Eliminar" class="imgpluss" />{{"Añadir Operacion:" | trans}}
				</a>
				{% endif %}
				<div class="divadddetalle" style="display:none">
					{{ render(controller('GitekUdaBundle:Detcurso:new', { 'detcursos': curso.detcursos, 'curso_id': curso.id })) }}
				</div><!-- .divaddcurso -->

				<script type="text/javascript" charset="utf-8">
					$('.divaddcurso').click(function() {
						$('.divadddetalle').toggle(
							function() {
								var miimg = $(".imgpluss").attr("src");
								if ( miimg ==  "{{asset('/bundles/gitekuda/img/minus.gif')}}" ) {
									$(".imgpluss").attr("src","{{asset('/bundles/gitekuda/img/plus.gif')}}");
								} else {
									$(".imgpluss").attr("src","{{asset('/bundles/gitekuda/img/minus.gif')}}");
								}
								$(".imgpluss").slideDown("slow");
							});
						return false;
					});
				</script>
			</div><!-- .subfooter -->
		</div>
	</div><!-- .row -->
{% endblock %}