
/* ERABILGARRIAK */
html {
    font-size:100%;
}
body {
    margin:0px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#404040;
    font-size:13px;
    font-weight:normal;
    line-height:18px;
    margin:0px;
    padding:0px;
}

h1 {
    font-size:30px;
    line-height:36px;
    margin:0px 0px 8px 0px;
    color:#404040;
    font-weight:bold;
    border:0 none;
}
.clearfix { clear:both; }

[class*="span"] {
    background: none repeat scroll 0 0 #FFFFCC;
    border-radius: 3px 3px 3px 3px;
    line-height: 0px;
    min-height: 8px;
    text-align: center;
    display: inline;
    float: left;
    border:1px solid #7F7FCC;
    /*height:225px;*/
/*    margin-left: 20px;*/
}

.span16 {    width: 940px; }


#top-header {
    margin:0px auto;
    background-color:#FFFFCC;
    width:90%;
    height:90px;
    border-left:2px solid #7F7FCC;
    border-right:2px solid #7F7FCC;
    border-bottom:2px solid #7F7FCC;
}

#header-ezkerra {   float:left; width: 300px; }
#header-ezkerra h1 {    float:left; margin:20px 0px 0px 0px; color:#000000;}
#header-ezkerra img { float: left; }
#imgformacion { float:left; margin:5px 10px 0px 5px; }
#header-eskuina {   float:right; }
#header-eskuina h1, h2 {    float:right; margin:45px 100px 0px 0px;}


#main-col {
    margin:0px auto 10px auto;
    /*min-height:480px;*/
    width:940px;
}

.paginator { width:940px; margin:-0px auto 0px 0px;}

.formacion { margin:0px auto 0px auto; }

.video { 
    margin:40px auto 10px auto;
    width:600px; 
    height:400px; 
}

#paginate_elements {
    display:inline;
    list-style-type:none;
    margin:-70px 0px 0px 0px;
}

#btnsiguiente {
    margin: -70px 0px 0px 0px;
}

.right {
    
    float:right;
}

#divrow {
    margin-top:20px;
}

#divcolocar {
    height:390px;
}
#div4imagenes {
    min-height:155px;
    width:752px;
    margin:0px auto;
    height:155px;
}

#divpregunta {
    margin: 20px auto 0px auto;
    min-height:60px;
    width:940px;
    margin:0px auto;
}
#ppregunta {
    margin-top: 10px;
    font-size:30px;
    color:#000000;
    line-height:30px;
}

.divimg {
    float:left;
    margin:0px 0px 0px 28px;
}

.divimg a img {
    width:150px !important;
    height:150px !important;
}

#divcomprobar { width:133px; margin:0 auto; z-index:2;}
    #imgcomprobar { z-index:3; }

#divsiguiente { width:200px; float:right;}

#divopciones {
/*
	position: absolute;
	top: 550px;
	left: 150px;
*/
    margin:-125px auto 0px auto !important;
    /*margin:0px auto 0px auto;*/
    width:800px;
/*  height:300px;*/
}

    #divmensaje {   width:700px; 
                    height:100px; 
                    margin:0 auto; 
                    border:2px solid #000000; 
                    height:50px; 
                    font-size:22px; }
        #imgemoticono   { float:left; margin:0px 0px 0px 8px; width: 80px; height: 80px;}
        #pimoticono     { float:left; margin:0px 0px 0px 20px; }
    #divmensajeincorrecto {
                    width:700px; 
                    height:100px; 
                    margin:0 auto; 
                    border:2px solid #000000; 
                    height:50px; 
                    font-size:22px; }
        #imgemoticonoincorrecto { float:left !important; margin:0px 0px 0px 8px; width:80px; height: 80px; }
        #pimoticonoincorrecto   { float:left !important; margin:0px 0px 0px 20px; }
        
    .correcto   { background-color:#33cc33; color:#fff; font-weight:bold; }
    .incorrecto { background-color:#ff0000; color:#fff; font-weight:bold; }
    .seleccionado { border:5px solid #000066; }
    #divimgopt { width:420px; margin:0px auto; background-color:#fff;}
    #divreintentar  { width: 100px; height: 100px; float:left; background-color:#fff;}
    #imgreintentar  { width: 100px; height: 100px; }
    #divd16         { width: 100px; height: 100px; float:left; background-color:#fff;}
    #imd16          { width: 100px; height: 100px; }
    #divsolucion    { width: 100px; height: 100px; float:left; background-color:#fff;}
    #imgsolucion    { width: 100px; height: 100px; }
    #divimgcentrado { width: 100px; height: 100px; float:left; background-color:#fff;}
    #imagenmostrar  { width: 100px; height: 100px; }

#divcorrectoincorrecto { width:300px; margin:0px auto 0px auto; background-color:#fff; z-index:10;}    
    #divcorrecto    { width:80px; float:left; }
        #imgcorrecto { z-index:3; width:80px; height: 80px;}
    #divincorrecto  { width:80px; float:right; }
        #imgincorrecto { z-index:4; width: 80px; height: 80px; }

.divsolucionincorrecto { 
    border:solid 3px red; 
    zoom: 1; /* transpariencia */
    filter: alpha(opacity=30); /* transpariencia */
    opacity: 0.3; /* transpariencia */
}

.divsolucioncorrecto { border:solid 3px green; }

.divsolucionincorrectox4 { 
    border:solid 5px #000000;
    background-color: red;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50); 
}

.divsolucioncorrectox4 { 
    border:solid 5px #000000;
    background: green;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
}

#divimgcolocar  { float:left; width:150px; margin:0px 0px 0px 10px;}

#divbase { 
    float:right; 
    width:700px; 
    margin:0px 10px 0px 0px;
}

#divbase a {
    display: block;
}

.box {
    display: block;
    width:100%;
    height:100%;
    background-image: url('1.gif');
    /*background-color: #fff;*/
}

#divcoorok {
    position:absolute;
    background-color:green;
    opacity:.4;
    border:1px solid #000000;
}
.linkdiv {
    position:absolute;
/*  background-color:#fff;*/
/*  opacity: .4;*/
/*  -moz-opacity: .4;*/
/*  filter:alpha(opacity=4.4);*/
    border:5px solid #000000;
}
.seleccionadox4 { 
    border:5px solid #000000; 
    background-color:blue; 
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
}

#divcoor1 {
    position:absolute;
    background-color:red;
    opacity:.2;
    border:1px solid #000000;
}

#divcoor2 {
    position:absolute;
    background-color:red;
    opacity:.2;
    border:1px solid #000000;
}
#divcoor3 {
    position:absolute;
    background-color:red;
    opacity:.2;
    border:1px solid #000000;
}

.divlink{
    position: absolute;
    opacity: .2;
    -moz-opacity: .2;
    filter:alpha(opacity=2.2);
    border: 1px solid #000000;
}

.adiv {

    
}

#footer {
    width:940px;
    height:66px;
    /*margin:10px auto 0px auto;*/
    margin:0px auto 0px auto;
    background-color:#000040;
}

#footerimagensalir { float:left; }

#footerimagensalir img { margin:-40px 20px 0px 10px; }

#footertexto {  float:left; }

#footertexto p { font-size:20px; color:#fff; margin:20px 0px 0px 0px;}

#footerlogocurso { float:right; }

.titulo h1 {
    /*text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);*/
}

.kaxak {
    -webkit-box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.5);
       -moz-box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.5);
        -ms-box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.5);
         -o-box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.5);
            box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.5);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
        -ms-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
            margin: 0px 0px 10px 0px;
            min-height:200px;
}


#div-emoyi-incorrecto,#div-emoyi-correcto {
    width:150px;
    margin: 5px auto;
}

#link1 {
    cursor: hand;
}

img {
    border:none;
}

.fix1024 {
    margin: -125px auto 0px auto !important;
}