/* ERABILGARRIAK */
html {
	font-size:100%;

}
body {
	margin:0px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#404040;
	font-size:13px;
	font-weight:normal;
	line-height:18px;
	margin:0px;
	padding:70px 0px 0px 0px;

}

h1 {
	font-size:32px;
	line-height:36px;
	margin:0px 0px 8px 0px;
	color:#fff;
	font-weight:bold;
	border:0 none;
}
.clearfix {	clear:both; }

/* KAIXO */


/* ERAGIKETA */
.topbar {
	min-height:70px;
	background-color:#fff !important;
}

.tituloa {
	background:url('/bundles/gitekuda/img/bg_header.png') no-repeat;
	width:940px;
	margin:0px auto;
	position:relative;
	height:70px;
}

.tituloh1 {
	width:600px;
	position:absolute;
	right:8px;
	top:8px;
	text-align:right;
}

.curso_titulo {
	margin:20px auto 20px auto;
	text-align:center;
}

.curso_titulo span {
	font-size:48px;
	color:#000040;
	line-height:36px;
	margin:0px 0px 8px 0px;
	font-weight:bold;
	border:0 none;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.divmenu {
	height:350px;
	background-color:#CECEE7;
	padding: 60px 0px 0px 0px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	    -ms-border-radius: 10px;
	     -o-border-radius: 10px;
	        border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
         -o-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

.menu-botones {
	width:500px;
	margin:80px auto;
}

input[type="image"] {
	width:128px !important;
	height:128px !important;
	border:none;
}

.divboton {
	float:left;
}

.giteklabel {
	font-size: 2em;
	margin-bottom:10px;
}

.imgboton {
		border-width: none;
-webkit-box-shadow: none;
   -moz-box-shadow: none;
    -ms-box-shadow: none;
     -o-box-shadow: none;
        box-shadow: none;

}

/* HAUTATU */

#top-header {
	margin:-70px auto 0px auto;
	background-color:#FFFFCC;
	width:90%;
	height:90px;
	border-left:2px solid #7F7FCC;
	border-right:2px solid #7F7FCC;
	border-bottom:2px solid #7F7FCC;
}

#header-ezkerra {	float:left; }
#header-ezkerra h1 {	float:left; margin:20px 0px 0px 0px; color:#000000;}
#imgformacion { float:left; margin:5px 10px 0px 5px; }
#header-eskuina {	float:right; }
#header-eskuina h1, h2 {	float:right; margin:45px 100px 0px 0px;}

#seloperaciones {
	/*width:940px; */
	width:90%;
	min-height:350px;
	background-color:#FFFFCC;
	border:1px solid #7F7FCC;
	margin:20px auto;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	    -ms-border-radius: 10px;
	     -o-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.5);
	   -moz-box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.5);
	    -ms-box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.5);
	     -o-box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.5);
	        box-shadow: 0px 0px 2px 1px rgb(0,0,0,0.5);
}

#uloperaciones { margin:20px 0px 20px 0px; }

#uloperaciones label { font-size:18px; }

#divfooter { width:940px; margin:0 auto; }
#divbtnsiguiente { width:133px; height:133px; float:right; }
#divbtnsalir { width:133px; height:133px; float:left; }


/* APROBADO*/

#divaprobado {
	margin: 140px auto 0px auto;
	width: 650px;
	text-align: center;
	text-shadow: 4px 3px 1px #cccccc;
}

#divaprobado p {
	font: normal normal bold 3em Arial, sans-serif;
}

#seloperaciones {
	padding: 0px 0px 0px 20px;
}

#denbora {
	width:300px;
	margin: 20px auto;
}

#divlogos {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #fff;
	}
	#divlogoleft {
		float: left;
	}
	#divlogoright {
		float: right;
	}








