
body {
	padding-top: 60px;
}

.clearbiak {
	clear:both;
}

.divfimg {
	float:left;
	width:150px;
	height:150px;
	margin-bottom:15px;
	border: 1px solid #999;
}

/*.inputimg {
	float:left;
}*/

label{
	width: 220px !important;
}
.subfooter {
	margin-top:20px;
}

.incompleto {
	background: #cc3333 !important;
}

.divlista {
	background: none repeat scroll 0 0 #F5F5F5;
    border-radius: 0 0 3px 3px;
    border: 1px solid #DDDDDD;
  /*  margin-bottom: 18px;
      margin-top: 18px;*/
	height:28px;
    padding: 0px 16px 0px 0px;
}

.divlista .divlistatexto {
	float:left;
	width:500px;
	margin:0px;
}

.divlista .divlistatexto ul li {
	display: inline;
	list-style-type: none;
}

.divlista .divlistabotonera {
	float:right;
	width:250px;
}

.divlista .divlistabotonera ul li {
	display: inline;
	list-style-type: none;
}

.divlista .divlistabotonera a {
	font-size:12px !important;
}

.ezkerra {
	float:left;
	height:10px;
	margin:5px;
}

.divorden {
	float: right;
}


.deleteform {
	margin:6px 0px 0px 0px;
	width:12px;
}

.formboton1 {
	width:50px !important;
	margin: 5px auto;
}

.enlinea {
	display:inline;
	margin-left:5px;
}

#divcombocurso {
	width:100%;
}
#divformformaciones {
	width:100%;
}
#diventrenamientos {
	width:100%;
}
#lblcombocurso {
	width:50px;
}
#choose_curso {
	width:160px;
}

#lblcomboformacion {
	width:80px;
}
#choose_formacion {
	width:160px;
}

#lblcomboentrenamiento {
	width:120px;
}
#choose_entrenamiento {
	width:210px;
}

.divcombos {
	width:600px;
	margin:18px auto 0px auto;
}
.ajaxtabla {
	margin: 0px auto 0px auto;
	width:600px;
}

/*#divfimgbase, #hemeretzigarrena, #tabs-5{
	width:850px;
	height:380px;

}
*/
#divpetaca {
	width:850px;
	height:380px;
/*	position:absolute;*/
}
#divcoorok {
	position:absolute;
	background-color:green;
	opacity:.4;
	border:1px solid #000000;
}

#divcoor1 {
	position:absolute;
	background-color:red;
	opacity:.2;
	border:1px solid #000000;
}
#divcoor2 {
	position:absolute;
	background-color:red;
	opacity:.2;
	border:1px solid #000000;
}
#divcoor3 {
	position:absolute;
	background-color:red;
	opacity:.2;
	border:1px solid #000000;
}
#btn_cambiar_petaca {
	float:left;
	width:125px;
}
#fimgbase {
	float:left;
	width:400px;
}
#mnuzonas {
	width:450px;
	margin:8px auto;
}
#mnuzonas li {
	display:inline;
}
.milabel {
	width:250px;
}

.frmfancyedit {
	width:400px;
}

.botoiaeskuinean {
	width:80px;
	margin:10px auto;
}
.formrow {
	border: 2px ridge green;
    margin: 20px 0 40px;
    padding: 8px;
}

