
/* ERABILGARRIAK1 1*/
html {
	font-size:100%;
}
body {
	margin:0px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#404040;
	font-size:13px;
	font-weight:normal;
	line-height:18px;
	margin:0px;
	padding:0px;
}

h1 {
	font-size:30px;
	line-height:36px;
	margin:0px 0px 8px 0px;
	color:#404040;
	font-weight:bold;
	border:0 none;
}
.clearfix {	clear:both; }

[class*="span"] {
    background: none repeat scroll 0 0 #FFFFCC;
    border-radius: 3px 3px 3px 3px;
    line-height: 30px;
    min-height: 30px;
    text-align: center;
    display: inline;
    float: left;
	border:1px solid #7F7FCC;
	height:350px;
/*    margin-left: 20px;*/
}

.span16 {    width: 940px; }


#top-header {
	margin:0px auto;
	background-color:#FFFFCC;
	width:90%;
	height:60px;
	border-left:2px solid #7F7FCC;
	border-right:2px solid #7F7FCC;
	border-bottom:2px solid #7F7FCC;
}
.span16 {
	width:90% !important;
}

#header-ezkerra {   float:left; width:270px; }
#header-ezkerra h1 {    float:left; margin:8px 0px 0px 7px; color:#000000;}
#imgformacion { float:left; margin:2px; width: 60px; height: 60px; }
#header-eskuina {   float:right; }
#header-eskuina h1, h2 {    float:right;}


#main-col {
	margin:0px auto 10px auto;
	min-height:350px;
	/*width:940px;*/
	width:90%;
}
.formacion { margin:0px auto 0px auto; height: 500px; }

.bideo {
	margin:5px auto 10px auto;
	width:600px; 
	height:350px; 
}

.zatibi {
	width:60% !important;
	float: left;
}

#vidyoutube {
	height:315px;
	margin: 20px auto;
	width: 560px;

}

.imagen {
	margin: 10px auto;
   	width: 600px;
   	height: 573px;
}

.imagen img {
   max-width:100%; max-height:100%;
}

.stretch {
	height:85%;
}

.sonido {
	margin: 20px auto 20px auto;
	width:422px
}

#jp_container_1 {
	position: absolute;
	top: 150px;
	left: -880px;
}

#paginate_elements {
	display:inline;
	list-style-type:none;
	margin:-70px 0px 0px 0px;
}

#btnsiguiente {
	/*margin: -70px 0px 0px 0px;*/
}
.kaxa {
	/*display: block;*/
	margin: -70px 0px 0px 0px;
}

.right {
	
	float:right;
}

#footer {
	width:940px;
	height:30px;
	margin:10px auto 0px auto;
	background-color:#000040;
}

#footerimagensalir { float:left; }

#footerimagensalir img { margin:-40px 20px 0px 10px; width: 60px; height: 60px; }

#btnsiguiente { width: 60px; height: 60px; }

#footertexto p { font-size:20px; color:#fff; margin:5px 0px 0px 0px;}

#footerlogocurso { float:right; }