/* ERABILGARRIAK */
html {
	font-size:100%;

}
body {
	margin:0px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#404040;
	font-size:13px;
	font-weight:normal;
	line-height:18px;
	margin:0px;
	padding:0px 0px 0px 0px !important;

}

h1 {
	font-size:32px;
	line-height:36px;
	margin:0px 0px 8px 0px;
	color:#fff;
	font-weight:bold;
	border:0 none;
}
.h1titulo {
		border     : 0 none;
		color      : #1D93C5;
		font-size  : 26px;
		font-weight: bold;
		line-height: 24px;
		margin     : 10px 0px 0px 0px;
}
.clearfix {	clear:both; }

/* ERAGIKETA */
.topbar-wrapper {
  /*border-bottom: 1px solid;*/
  height: 127px;
}
.topbar {
	background-color:#000040 !important;
	min-height:60px;
  min-height:82px;
	position:relative;
}
.menua {
  background: url("/bundles/gitekuda/img/menu/bg.png") repeat scroll center bottom transparent;
  height: 48px;
  margin: 24px 20px 0 15px;
}
.tituloa {
	background:url('/bundles/gitekuda/img/bg_header.png') no-repeat;
	display: inline-block;
	height:70px;
	margin:0px auto 0px 0px;
	position:relative;
	width:940px;
}

#hizkuntzak {
  background-color: #FFFFFF;
  display: inline-block;
  margin:10px 0px 0px 10px;
  padding: 2px;
  vertical-align: top;
  width: 100px;
}

#hizkuntzak  a{
	color: blue;
}

.tituloh1 {
  position: absolute;
  right: 50px;
  text-align: left;
  top: 8px;
  width: 600px;
}

.fila {
	display:table-row;
	width: 100%;
}

.kolumna {
	display: table-cell;
}

.kolumnaezkerra {
	/*display: table-cell;
	background:url('/bundles/gitekuda/img/menu/bg_left1.png') bottom;*/
  border-left: 4px solid #E4E4E4;
  display: table-cell;
}

.kolumnaeskuina {
	/*display: table-cell;
	background:url('/bundles/gitekuda/img/menu/bg_right1.png') bottom;*/
  border-right: 4px solid #E4E4E4;
  display: table-cell;
}

.menuaborde {
/*	border: 5px solid #E4E4E4;
	border-radius: 10px;
	padding: 3px 0px 3px 3px;
	width: 85% !important;
*/
  border: 5px solid #E4E4E4;
  border-radius: 10px;
  padding: 3px 0px 3px 3px;
  /*width: 13% !important;*/
  width:150px !important;
  top: 15px;
  position: absolute;
}

.unstyled.menuaborde a {
  font-size: 1.3em;
  margin: 0;
}

.unstyled.menuaborde li {
	line-height: 28px;
}

.unstyled.menuaborde a img {
  margin: 0;
}

.menuspan {
	margin: 0px 0px 0px 3px;
}

.ulacciones li {
	display: inline-block;
}

.container-fluid {
	padding-left: 18px !important;
  top:24px;
}

.divleft {
	background:url('/bundles/gitekuda/img/menu/bg_left.png') bottom;
	float: left;
  height: 100px;
  margin: 0 0 0 -8px;
  width: 10px;
}

.sidebar {
  min-width: 150px;
	padding: 19px;
	width: 150px;
}

.content {
	width:100%;
  vertical-align: top
}

.row{
  margin-left: 5px !important;
	margin-right: 0px !important;
  width:930px;
}

.motxa {
  width:750px;
}

.handia {
  width:940px !important;
}

ul#ulmenu{
  display: inline-block;
  font: bold 12px Verdana;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0.1em;
  padding: 2px 0;
  width: 98%;
}

ul#ulmenu li{
  display: inline-block;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#ulmenu li a{
  display: inline-block;
  margin: 0;
}

#ulmenu li a img {
	margin: 0 0 6px;
}

ul#eskubi {
	display: inline-block;
}

ul#eskubi li{
	list-style: none;
	display: inline;
	margin: 0;
}

ul#eskubi li img{
	margin: 1px 1px 1px 1px;
}

#eskubi li a{
	display: inline-block;
}

#imgborde {
	margin:1px;
}

#divborde {
  display: inline-block;
  height: 15px;
  margin: 39px 0 0 3px;
  width: 16px;
}

.liaproyectos {
	background:url('/bundles/gitekuda/img/menu/bg_proyectos.png') no-repeat !important;
	height: 45px;
	width:109px;
}

.divblokes {
	display:inline-block;
  margin:5px 0px 5px 5px;
}

#imgyoutube {
	display: inline-block;
	vertical-align: middle;
	width:150px;
}

.formcampo {
	display: inline-block;
	vertical-align: middle;
	width:500px;
}

.formcampo label {
	display: inline-block;
	width:150px  !important;
}

.formcampo textarea {
	display: inline-block;
	margin: 0px 0px 0px 2px;
	width:260px !important;
}

.formcampo input {
	display: inline-block;
	margin: 0px 0px 0px 2px;
	width:260px !important;
}

.formcampo span {
	display: inline-block;
	margin: 9px 0 0 6px;
}

#labelyoutube {
	display:inline-block;
	vertical-align: middle;
	width: 250px !important;
}

#labelimagen2 {
	display:inline-block;
	vertical-align: middle;
	width: 250px !important;
}

#urlyoutube {
	display:inline-block;
	margin-left: 1px;
	vertical-align: middle;
	width: 200px !important;
}

#txtyoutube {
	margin-left: 1px;
	width: 235px !important;
}

#labelyoutube2 {
	display:inline-block;
	vertical-align: middle;
	width: 250px !important;
}

#delurl {
	display: inline-block;
	/*margin: 0px 0px 0px 1px !important;*/
	/*width:100px;*/
}

.botoiak {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 15px 3px 15px 3px;
    height: 90%;
    padding: 5px;
    text-align: center;
    width: 90%;
}

.divmenuredesign {
	border:3px solid #cccccc;
	border-radius: 10px;
	width: 100%;
	height: 300px;
}

.borobil {
	border:3px solid #cccccc;
	border-radius: 10px;
}

.span-one-third {
	width:280px !important;
}

.divbotoiak {
	height: 230px;
	margin-top: 30px;
	text-align: center;
}

.atitulo {
	color: #1c94c4;
	font-size: 42px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #666;
}

.aazpititulo {
	color: #1c94c4;
	font-size: 21px;
	font-weight: bold;
	text-shadow: 0.5px 0.5px 0.5px #666;
}

.divlink {
	margin-top: 20px;
}

.adivminilink {
	margin-top:4px;
}

.divminibotoia{
	margin: 24px auto;
	height: 30px;
	width: 80%;
}

.beherago1 {
	margin-top:100px;
}

.beherago2 {
	margin-top:84px;
}

#divfooter {
  border-image: none;
  border-radius: 0 0 13px 13px;
  border-style: none solid solid;
  border-width: 0 4px 4px;
  border-color: #E4E4E4;
}

.divfimg {
    float: left;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border: 1px solid #999;
    margin-top: 5px;
}

#fimgbase label {
    margin: 0;
    width: 89px !important;
}

.divlista .divlistatexto {
  float:left;
  width:675px !important;
  margin:0px;
}

.lehena {
  width:120px;
}

.gutxiena {
  min-height: 400px;
}

.menu-dropdown {
    background-color: #FFFFFF !important;
}

.topbar div > ul .menu-dropdown, .nav .menu-dropdown, .topbar div > ul .dropdown-menu, .nav .dropdown-menu {
    background-color: #FFFFFF !important;
}

li.nav-header {
  margin: 0px 0px 0px 5px;
}

.topbar div > ul .menu-dropdown li a:hover, .nav .menu-dropdown li a:hover, .topbar div > ul .dropdown-menu li a:hover, .nav .dropdown-menu li a:hover {
    background-color: #CCCCCC;
    background-image: -moz-linear-gradient(center top , #CCCCCC, #CCCCCC);
    background-repeat: repeat-x;
    color: #FFFFFF;
}

#laguntza {
    display: inline-block;
    margin: 0 0 0 30px;
    position: absolute;
    right: 0;
}
























